Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-4988: Add "sign in with passkey" GET route and controller
  src/app.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-routes.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint

AUT-4988: Add "sign in with passkey" template
  src/app.constants.ts
  src/components/sign-in-with-passkey/index.njk
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--default--en--chromium-linux.jpeg
Due: eslint

AUT-4988: Update secrets baseline
  .secrets.baseline
Due: none

Revert "AUT-5324: Turn on passkeys registration journey in staging"
  cloudformation/deploy/template.yaml
Due: none

AUT-5324: Skip passkey prompt in reauth
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Create passkey prompt client allow list
  .secrets.baseline
  cloudformation/deploy/template.yaml
  src/config.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5309: Rollback detect secrets
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

wip
  src/config/session.ts
Due: eslint

wip error handler
  src/config/session.ts
Due: eslint

BAU: Change allow listed client ID
  cloudformation/deploy/template.yaml
Due: none

AUT-5068: Migrate transition from ENTER_EMAIL_SIGN_IN to ENTER_PASSWORD to be reversible
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
Due: eslint

AUT-5068: Initialise goBackHistory in res.locals
  @types/express/index.d.ts
  src/app.ts
  src/middleware/set-go-back-history-middleware.ts
  src/types.ts
Due: eslint

BAU: Remove chai-http as a dependency
  package-lock.json
  package.json
Due: check-package-json

BAU: Remove unused debug dependency
  package-lock.json
  package.json
Due: check-package-json

Revert "BAU: Change allow listed client ID"
  cloudformation/deploy/template.yaml
Due: none

BAU: Allow list Home staging client ID for testing
  cloudformation/deploy/template.yaml
Due: none

AUT-5324: Turn on passkeys registration in staging
  cloudformation/deploy/template.yaml
Due: none

AUT-5324: Add environment variable mapping for client allow list
  cloudformation/deploy/template.yaml
Due: none

BAU: Remove Husky and references
  .github/dependabot.yml
  package-lock.json
  package.json
Due: check-package-json

BAU: Regenerate journey-map dependencies
  journey-map/package-lock.json
Due: none

Revert "AUT-5324: Turn on passkeys registration in staging"
  cloudformation/deploy/template.yaml
Due: none

BAU: Remove references to Husky in the playwright-acceptance-tests
  playwright-acceptance-tests/README.md
Due: none

AUT-5324: set amc cookie on .account.gov.uk domain
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
Due: eslint

BAU: Add tests for config methods file
  test/unit/config.test.ts
Due: eslint

BAU: Remove unecessary detail from readme
  playwright-acceptance-tests/README.md
Due: none

BAU: Fix showTestBanner logic
  src/config.ts
  test/unit/config.test.ts
Due: eslint

BAU: rename getGoogleAnalyticsAndDynatraceCookieDomain() to getAccountDomain()
  src/components/common/cookies/cookies-controller.ts
  src/components/create-passkey/create-passkey-controller.ts
  src/config.ts
  test/unit/config.test.ts
Due: eslint

AUT-5324: Turn on passkeys registration
  cloudformation/deploy/template.yaml
Due: none

Revert "AUT-5324: Turn on passkeys registration"
  cloudformation/deploy/template.yaml
Due: none

BAU: turn off passkey usage in dev
  cloudformation/deploy/template.yaml
Due: none

AUT-5068: Add buildGoBackHistoryForTransition and getGoBackHistoryForTransition function
  src/components/common/state-machine/go-back-history.ts
  src/components/common/state-machine/tests/go-back-history.test.ts
Due: eslint

AUT-5068: Call getGoBackHistoryForTransition to state-machine-executor and save goBackHistory in session
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
Due: eslint

WIP: Sticky sessions during blue/green deployment for redis -> dynamo session migration
  cloudformation/deploy/template.yaml
Due: none

AUT-4501: Log task version
  src/app.ts
  src/middleware/task-version-middleware.ts
Due: eslint

AUT-4951: Upgrade to Node 24
  .node-version
  .nvmrc
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile-stub
  dev.Dockerfile
  journey-map/package-lock.json
  local.Dockerfile
  package-lock.json
  package.json
  playwright-acceptance-tests/package-lock.json
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
Due: check-package-json

AUT-4951: Upgrade GHA to Node 24
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
Due: none

AUT-4951: Exlcude playwright test reports from eslint
  eslint.config.js
Due: eslint

AUT-4951: Readme update
  README.md
Due: none

BAU: Reword me
  .github/workflows/pre-commit.yml
Due: none
