Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

BAU: Run pretty on translation files
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

BAU: Configure .git-blame-ignore-revs on startup.sh
  startup.sh
Due: none

BAU: resolve sonarcloud security issue
  Dockerfile
  package-lock.json
Due: none

AUT-4742: Block yarn usage
  .npmrc
  package.json
Due: check-package-json

AUT-4742: Use npm in start-frontend-with-proxy
  docker-compose-proxy.yml
  start-frontend-with-proxy.sh
Due: none

AUT-4742: Use npm for docker
  .npmrc
  Dockerfile
  Dockerfile-stub
  dev.Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  local.Dockerfile
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
  startup.sh
Due: none

AUT-4742: Use npm in nodemon
  nodemon.json
Due: none

AUT-4742: override js-yaml and validator versions
  package-lock.json
  package.json
Due: check-package-json

WIP
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
  package-lock.json
  package.json
Due: check-package-json

WIP for running everything locally
  .env.local
  docker-compose.yml
  startup.sh
  yarn.lock
Due: none

BAU: Run frontend and backend locally together
  .env.local
  startup.sh
Due: none

Playwright-Acceptance-Tests
  .husky/pre-commit
  playwright-acceptance-tests/.eslintrc.cjs
  playwright-acceptance-tests/clean-json.js
  playwright-acceptance-tests/clean-reports.js
  playwright-acceptance-tests/cucumber.js
  playwright-acceptance-tests/eslint.config.cjs
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/run-test-with-report.js
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
  playwright-acceptance-tests/src/steps/stub-journey.steps.ts
  playwright-acceptance-tests/src/support/env.ts
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

BAU: Add esbuild dependency
  package-lock.json
  package.json
  startup.sh
Due: check-package-json

BAU: Add check ignore-scripts is true in GHA
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
  Dockerfile
  Dockerfile-stub
  dev.Dockerfile
  local.Dockerfile
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
  start-frontend-with-proxy.sh
  startup.sh
Due: none

AUT-4962: Apply a 7 day cooldown to dependabot updates
  .github/dependabot.yml
Due: none

AUT-4952 Include JAR in Start request
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4952 Pass client id as well
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4742: Remove yarn.lock and reference to yarn in readme
  README.md
  yarn.lock
Due: none

BAU: regenerate package-lock.json
  package-lock.json
Due: none

AUT-4724: refresh journey map package-lock.json
  journey-map/package-lock.json
Due: none

BAU: eslint fixes
  .pre-commit-config.yaml
  eslint.config.js
Due: eslint

BAU: Run frontend in a local node instance against the backend running in Docker
  README.md
  startup.sh
Due: none

BAU: Do not trigger a build for additional paths
  .github/workflows/build-deploy-frontend.yml
Due: none

AUT-4924: husky test
  playwright-acceptance-tests/.eslintrc.cjs
  playwright-acceptance-tests/.gitignore
  playwright-acceptance-tests/README.md
  playwright-acceptance-tests/clean-json.js
  playwright-acceptance-tests/clean-reports.js
  playwright-acceptance-tests/cucumber.js
  playwright-acceptance-tests/features/create-or-signin.feature
  playwright-acceptance-tests/features/stub-journey.feature
  playwright-acceptance-tests/prettierrc
  playwright-acceptance-tests/run-test-with-report.js
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
  playwright-acceptance-tests/src/steps/stub-journey.steps.ts
  playwright-acceptance-tests/src/support/env.ts
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/src/support/world.ts
  playwright-acceptance-tests/test-file.ts
  playwright-acceptance-tests/test11-file.ts
  playwright-acceptance-tests/test2-file.ts
  playwright-acceptance-tests/tsconfig.json
Due: eslint

AUT-4924: Clean-up
  playwright-acceptance-tests/test12-file.ts
Due: eslint

AUT-4924: set up Husky pre-commit for Playwright and remove test files
  .husky/pre-commit
  package.json
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/test-file.ts
  playwright-acceptance-tests/test11-file.ts
  playwright-acceptance-tests/test12-file.ts
  playwright-acceptance-tests/test2-file.ts
Due: eslint, check-package-json

AUT-4924: Clean-up
  playwright-acceptance-tests/README.md
Due: none

AUT-4924: Playwright-Acceptance-Tests
  playwright-acceptance-tests/README.md
Due: none

AUT-4924: Playwright-Acceptance-Tests
  .husky/pre-commit
  playwright-acceptance-tests/.eslintrc.cjs
  playwright-acceptance-tests/clean-json.js
  playwright-acceptance-tests/clean-reports.js
  playwright-acceptance-tests/cucumber.js
  playwright-acceptance-tests/eslint.config.cjs
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/run-test-with-report.js
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
  playwright-acceptance-tests/src/steps/stub-journey.steps.ts
  playwright-acceptance-tests/src/support/env.ts
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

AUT-4924: Create initial Playwright POC
  playwright-acceptance-tests/.eslintrc.cjs
  playwright-acceptance-tests/clean-json.js
  playwright-acceptance-tests/clean-reports.js
  playwright-acceptance-tests/cucumber.js
  playwright-acceptance-tests/eslint.config.cjs
  playwright-acceptance-tests/run-test-with-report.js
  playwright-acceptance-tests/src/pages/BasePage.ts
Due: eslint

AUT-4924: Create initial playwright POC
  playwright-acceptance-tests/package.json
Due: none

BAU: fix linting issues
  playwright-acceptance-tests/run-test-with-report.js
Due: eslint

AUT-4924: improve world.ts type safety and clarity
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

BAU: Tidy up run-test-with-report
  playwright-acceptance-tests/run-test-with-report.js
Due: eslint

AUT-4924: Remove redundant env file
  playwright-acceptance-tests/README.md
  playwright-acceptance-tests/src/support/env.ts
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

BAU: refer to node:fs when importing
  playwright-acceptance-tests/src/support/hooks.ts
Due: eslint

BAU: use playwright over playwright-core
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

BAU: Use fixed versions in package.json
  playwright-acceptance-tests/package.json
Due: none
