Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-5075: Conditionally render international phone number elements on enter phone number page
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/enter-phone-number/index-uk-number-only.njk
  src/components/enter-phone-number/tests/enter-phone-number-controller.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-5076: Update snapshot tests
  src/components/templates/pages.ts
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-phone-number--international-sms-supported--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-phone-number--international-sms-supported--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-phone-number--uk-sms-only--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-phone-number--uk-sms-only--en--chromium-linux.jpeg
Due: eslint

AUT-5075: Update snapshot tests
  src/components/templates/pages.ts
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-part-created-with-international-sms-supported--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-part-created-with-international-sms-supported--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-part-created-with-uk-sms-only--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-part-created-with-uk-sms-only--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-recovery-with-international-sms-supported--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-recovery-with-international-sms-supported--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-recovery-with-uk-sms-only--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--account-recovery-with-uk-sms-only--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--default-with-international-sms-supported--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--default-with-international-sms-supported--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--default-with-uk-sms-only--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/get-security-codes--default-with-uk-sms-only--en--chromium-linux.jpeg
Due: eslint

AUT-5076: Remove redundant hidden input
  src/components/enter-phone-number/index.njk
Due: none

AUT-5112: Update snapshot tests
  src/components/templates/pages.ts
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-international-sms-supported--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-international-sms-supported--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-uk-sms-only--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-uk-sms-only--en--chromium-linux.jpeg
Due: eslint

AUT-5075: Conditionally display UK-specific phone number text on get security codes page
  src/components/select-mfa-options/index.njk
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-5112: Conditionally display UK-specific phone number text on landing page
  src/components/sign-in-or-create/index.njk
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4918: Expand double form submission protection
  src/components/account-created/index.njk
  src/components/check-your-phone/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-mfa/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index.njk
  src/components/reset-password/index.njk
  src/components/setup-authenticator-app/index.njk
  src/components/updated-terms-conditions/index.njk
Due: none

AUT-4918: Add unit test for prevent double form submit
  test/unit/prevent-double-form-submit.test.ts
Due: eslint

AUT-5077: Gate international phone numbers handling behind feature flag
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/enter-phone-number/enter-phone-number-helper.ts
  src/components/enter-phone-number/tests/enter-phone-number-controller.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-helper.test.ts
Due: eslint

AUT-5077: Add validation to reject international phone numbers when feature flag is disabled
  src/components/common/phone-number/phone-number-validation.ts
  src/components/enter-phone-number/enter-phone-number-validation.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
Due: eslint

WIP: DO NOT MERGE
  cloudformation/deploy/template.yaml
Due: none

AUT-4918: Add double form submission protection to account-created
  src/components/account-created/index.njk
Due: none

AUT-4918: Expand double form submission protection
  src/components/check-your-phone/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-mfa/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index.njk
  src/components/reset-password/index.njk
  src/components/setup-authenticator-app/index.njk
  src/components/updated-terms-conditions/index.njk
Due: none

AUT-5130: Disable new int SMS support in build
  cloudformation/deploy/template.yaml
Due: none

AUT-5130: Disable new int SMS support in staging
  cloudformation/deploy/template.yaml
Due: none

AUT-5009: Add SFAD authorize flow for security code changes
  src/app.constants.ts
  src/app.ts
  src/components/common/state-machine/state-machine.ts
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/ipv-callback/tests/ipv-callback-controller.test.ts
  src/components/sfad-authorize/sfad-authorize-controller.ts
  src/components/sfad-authorize/sfad-authorize-routes.ts
  src/components/sfad-authorize/sfad-authorize-service.ts
  src/components/sfad-authorize/tests/sfad-authorize-controller.test.ts
  src/components/sfad-authorize/tests/sfad-authorize-integration.test.ts
  src/components/sfad-authorize/tests/sfad-authorize-service.test.ts
  src/components/sfad-authorize/types.ts
  src/components/templates/pages.test.ts
  src/config.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

Revert "AUT-4918: Disable multiple form submission"
  src/components/check-your-phone/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-mfa/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index.njk
  src/components/reset-password/index.njk
  src/components/setup-authenticator-app/index.njk
  src/components/updated-terms-conditions/index.njk
Due: none

AUT-5009: Turn on SupportSFAD in dev envs
  cloudformation/deploy/template.yaml
Due: none

AUT-5125: Disable new int number support in build
  cloudformation/deploy/template.yaml
Due: none

AUT-5125: Disable new int number support in integration
  cloudformation/deploy/template.yaml
Due: none

AUT-5125: Disable new int number support in production
  cloudformation/deploy/template.yaml
Due: none

AUT-4811: Add screenreader bullet point to 'accessibility of One Login' section
  src/components/common/footer/accessibility-statement.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4811: Add screenreader bullet point to 'non compliance' section
  src/components/common/footer/accessibility-statement.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4904: Enable DWP KBV contact form changes in Integration and Production
  cloudformation/deploy/template.yaml
Due: none

BAU: Remove custom tag styling
  src/assets/scss/application.scss
Due: none

BAU: Upper-case tag to match design system styling
  src/components/common/layout/tests/base-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

BAU: Pin lodash to 4.17.23 in the journey-map
  journey-map/package-lock.json
  journey-map/package.json
Due: none

POC: Change number prompt
  src/app.constants.ts
  src/app.ts
  src/components/change-international-number/change-international-number-controller.ts
  src/components/change-international-number/change-international-number-routes.ts
  src/components/change-international-number/index.njk
  src/components/change-international-number/tests/change-international-number-controller.test.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/types.ts
  src/components/templates/pages.ts
  src/types.ts
Due: eslint

POC: Account recovery journey
  src/components/change-international-number/change-international-number-controller.ts
Due: eslint

feat(DFC-1100): updating contentIds and GA4 variables for all page states
  package-lock.json
  package.json
  src/assets/javascript/application.js
  src/assets/javascript/dataLayerEvents.js
  src/assets/javascript/prevent-double-form-submit.js
  src/assets/javascript/showPassword.js
  src/components/account-created/index.njk
  src/components/account-not-found/index-one-login.njk
  src/components/cannot-use-email-address/index.njk
  src/components/check-your-email/index.njk
  src/components/check-your-phone/index.njk
  src/components/common/cookies/index.njk
  src/components/common/footer/accessibility-statement.njk
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-gov-service-contact-us.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/index-submit-success.njk
  src/components/contact-us/questions/index.njk
  src/components/contact-us/types.ts
  src/components/create-password/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index-account-locked.njk
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/utils/contentId.ts
Due: eslint, check-package-json

BAU: Bump frontend-passthrough-headers to remove outdated AWS library
  package-lock.json
  package.json
Due: check-package-json
