Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-4284: Fix integration test filename
  src/components/common/footer/tests/footer-pages-integration.test.ts
Due: eslint

AUT-4347: update idCheckApp title to include OL app
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4272: Add csrf-sync package
  package.json
  yarn.lock
Due: check-package-json

AUT-4272: Use csrf-sync as the primary CSRF validation method with csurf as fallback
  package.json
  src/app.ts
  src/middleware/catch-csrf-sync-error-middleware.ts
  src/middleware/csrf-middleware.ts
  src/utils/csrf.ts
  src/utils/tests/__snapshots__/csrf-integration.test.ts.snap
  src/utils/tests/csrf-integration.test.ts
  test/unit/middleware/csrf-middleware.test.ts
  yarn.lock
Due: eslint, check-package-json

AUT-4272: render error pages upon CSRF error
  src/app.constants.ts
  src/handlers/csrf-missing-handler.ts
  src/handlers/internal-server-error-handler.ts
  src/handlers/tests/csrf-missing-handler.test.ts
  src/middleware/catch-csrf-sync-error-middleware.ts
  test/helpers/mock-request-helper.ts
Due: eslint

AUT-4272: update csrf snapshots now "internal server error" page is rendered
  src/components/account-creation/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/authorize/tests/__snapshots__/authorize-integration.test.ts.snap
  src/components/check-your-email/tests/__snapshots__/check-your-email-integration.test.ts.snap
  src/components/check-your-phone/tests/__snapshots__/check-your-phone-integration.test.ts.snap
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/create-password/tests/__snapshots__/create-password-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-create-account-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-integration.test.ts.snap
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-reauth-integration.test.ts.snap
  src/components/enter-phone-number/tests/__snapshots__/enter-phone-number-integration.test.ts.snap
  src/components/resend-email-code/tests/__snapshots__/resend-email-code-integration.test.ts.snap
  src/components/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-required-integration.test.ts.snap
  src/components/select-mfa-options/tests/__snapshots__/select-mfa-options-integration.test.ts.snap
  src/components/setup-authenticator-app/tests/__snapshots__/setup-authenticator-app-integration.test.ts.snap
  src/components/updated-terms-conditions/tests/__snapshots__/updated-terms-conditions-integration.test.ts.snap
  src/utils/tests/__snapshots__/csrf-integration.test.ts.snap
Due: none

AUT-4391: Adding authdev3 subdomain config to template
  cloudformation/domains/template.yaml
Due: none

BAU: Migrate orchstub URLs to new endpoints
  dev-app-orchstub.js
Due: eslint

AUT-4391: Adding Authdev3 env config
  cloudformation/deploy/template.yaml
Due: none

AUT-4347: update linking problem text to specify IDCheckApp
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4347: rename variable to specify idCheckApp
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/further-information/_id-check-app-further-information.njk
  src/components/contact-us/questions/_id-check-app-linking-problem.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4347: create new "problem with OL" radio button
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/further-information/_id-check-app-further-information.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

BAU: Make check your email code bold
  src/components/check-your-email/index.njk
Due: none

BAU: Make reset password auth app code bold
  src/components/reset-password-2fa-auth-app/index.njk
Due: none

BAU: Simplify dev orchstub proxy
  dev-app-orchstub.js
Due: eslint

BAU: Allow setting reauthenticate orchstub property
  dev-app-orchstub.js
Due: eslint

BAU: Set orchstub frontend redirect URL to localhost
  dev-app-orchstub.js
Due: eslint

AUT-4272: remove csurf fallback
  src/app.ts
  src/config/cookie.ts
  src/middleware/catch-csrf-sync-error-middleware.ts
Due: eslint

AUT-4391: updated KMS key for authdev3
  cloudformation/deploy/template.yaml
Due: none

AUT-4284: Update privacy notice to the live urls
  cloudformation/deploy/template.yaml
  src/components/common/footer/footer-pages-controller.ts
  src/components/common/footer/tests/footer-pages-integration.test.ts
Due: eslint

AUT-4272: remove redundant csurf and lodash.clonedeep dependencies
  package.json
  yarn.lock
Due: check-package-json

AUT-4284: Add PRIVACY_NOTICE_REDIRECT_ENABLED feature switch to the env file generation list
  scripts/_create_env_file.py
Due: none

AUT-4284: Switch on privacy notice redirect in build, integration and prod
  cloudformation/deploy/template.yaml
Due: none

ATO-1605: pass subject_type claim to backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

ATO-1605: get subject_type from claims
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/test-data.ts
Due: eslint

BAU: Add logging should the redis connection fail
  src/config/session.ts
  test/unit/session.test.ts
Due: eslint

AUT-4391: update same deploy script for Authdev3 env
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

BAU: Stop setting res.locals in cookies-controller
  src/components/common/cookies/cookies-controller.ts
  src/components/common/cookies/tests/cookies-controller.test.ts
Due: eslint

BAU: Add lint rule to block res.locals writes outside allowed files
  custom-lint-rules/index.js
  custom-lint-rules/no-res-locals-write.js
  eslint.config.js
Due: eslint

ATO-1601: Send RP Sector identifier host to backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4199: Add 'try another way' option to uplift template
  src/components/enter-mfa/index-2fa-service-uplift-mobile-phone.njk
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
Due: eslint

AUT-4199: Account for multipleMfaMethods config in auth app uplift view
  src/components/enter-authenticator-app-code/index-2fa-service-uplift-auth-app.njk
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
Due: eslint

AUT-4334: Enable device intelligence across all environments
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
Due: none

AUT-4255: (AC1 part 1) update account recovery summary text
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4347: create new text for combined apps options
  src/components/contact-us/contact-us-controller.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4347: define new idCheckAppLinkingProblem button and page
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/_id-check-app-linking-problem-new.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4347: define new OL sign in problem radio button
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4347: fix misnamed string
  src/components/contact-us/contact-us-controller.ts
Due: eslint

AUT-4347: define new technical problem variable names
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/_gov-uk-login-and-id-apps-technical-problem.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
  check-package-json: any of: ^package.json$
