Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

BAU: Update GHA action to test
  Dockerfile
Due: none

AUT-5262: add additional validation for language header
  src/utils/http.ts
  test/unit/utils/http.test.ts
Due: eslint

BAU: Add test for existing amc callback service
  src/components/amc-callback/tests/amc-result-service.test.ts
Due: eslint

AUT-5262: send user language through to backend in amc callback
  src/components/amc-callback/amc-callback-controller.ts
  src/components/amc-callback/amc-result-service.ts
  src/components/amc-callback/tests/amc-result-service.test.ts
  src/components/amc-callback/types.ts
Due: eslint

AUT-5315: Add form validation for sms otp entry on password reset
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-routes.ts
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-validation.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
Due: eslint

BAU: Pin fast-xml-parser
  package-lock.json
  package.json
Due: check-package-json

AUT-4601: Declare numeric pattern for TOTP entry
  src/components/enter-authenticator-app-code/index-2fa-service-uplift-auth-app.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/reset-password-2fa-auth-app/index.njk
  src/components/setup-authenticator-app/index.njk
Due: none

AUT-5211: Move sfad authorize service to a general amc-service directory
  src/components/amc-service/sfad-authorize-service.ts
  src/components/amc-service/tests/sfad-authorize-service.test.ts
  src/components/amc-service/types.ts
  src/components/sfad-authorize/sfad-authorize-controller.ts
  src/components/sfad-authorize/tests/sfad-authorize-controller.test.ts
Due: eslint

AUT-5211: Rename sfad authorize service to amc authorize service
  src/components/amc-service/amc-authorize-service.ts
  src/components/amc-service/tests/amc-authorize-service.test.ts
  src/components/amc-service/types.ts
  src/components/sfad-authorize/sfad-authorize-controller.ts
  src/components/sfad-authorize/tests/sfad-authorize-controller.test.ts
Due: eslint

AUT-5211: Pass in journey type to amc authorize service
  src/app.constants.ts
  src/components/amc-service/amc-authorize-service.ts
  src/components/amc-service/tests/amc-authorize-service.test.ts
  src/components/amc-service/types.ts
  src/components/sfad-authorize/sfad-authorize-controller.ts
  src/components/sfad-authorize/tests/sfad-authorize-integration.test.ts
Due: eslint

AUT-5211: Add basic create passkey callback controller and routes
  src/app.constants.ts
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey-callback/create-passkey-callback-routes.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  src/components/sfad-authorize/tests/sfad-authorize-integration.test.ts
  src/components/templates/pages.test.ts
Due: eslint

AUT-5211: Throw error when authorize service result is unsucessful http response
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
Due: eslint

AUT-5211: Rename user journey event
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/create-passkey/create-passkey-controller.ts
Due: eslint

AUT-5211: Test refactor to introduce helper method and reduce a bit of noise
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
Due: eslint

AUT-5211: Set up user journey to allow for user to land on passkey callback after amc journey
  src/app.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/create-passkey-callback/create-passkey-callback-routes.ts
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-integration.test.ts
Due: eslint

AUT-5211: Redirect to result of amc authorize when user chooses to create a passkey
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/create-passkey-routes.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
  src/components/create-passkey/tests/create-passkey-integration.test.ts
Due: eslint

AUT-5211: Add some logging to the create passkey post enpoint
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
Due: eslint

BAU: bump flatted version
  package-lock.json
Due: none

BAU: Fix flakey tests in jwt service
  src/components/authorize/tests/jwt-service.test.ts
Due: eslint

BAU: Store result of createRemoteJWKSet to enable caching
  src/components/authorize/jwt-service.ts
  src/components/authorize/tests/jwt-service.test.ts
  src/config.ts
Due: eslint

BAU: Move prettier to be a dev dependency
  package-lock.json
  package.json
  src/components/ipv-callback/types.ts
  src/utils/request.ts
Due: eslint, check-package-json

BAU: Move eslint to be a dev dependency
  package-lock.json
  package.json
Due: check-package-json

BAU: Move globals to be a dev dependency This is used in eslint which is also now a dev dependency only
  package-lock.json
  package.json
Due: check-package-json

BAU: rename amc-callback routes and controller to sfad
  src/app.ts
  src/components/amc-callback/sfad-callback-controller.ts
  src/components/amc-callback/sfad-callback-routes.ts
  src/components/amc-callback/tests/sfad-callback-controller.test.ts
  src/components/amc-callback/tests/sfad-callback-integration.test.ts
Due: eslint

BAU: Add usedRedirectUrl to getAMCResult call
  src/components/amc-callback/amc-result-service.ts
  src/components/amc-callback/tests/amc-result-service.test.ts
  src/components/amc-callback/types.ts
Due: eslint

BAU: Send usedRedirectUrl in getAMCResult request
  src/components/amc-callback/sfad-callback-controller.ts
  src/components/amc-callback/tests/sfad-callback-controller.test.ts
Due: eslint

BAU: Add missing test for language
  src/components/amc-callback/tests/sfad-callback-controller.test.ts
  src/components/amc-callback/tests/sfad-callback-integration.test.ts
Due: eslint

BAU: rename AMC_CALLBACK to SFAD_CALLBACK
  src/app.constants.ts
  src/components/amc-callback/sfad-callback-routes.ts
  src/components/amc-callback/tests/amc-result-service.test.ts
  src/components/amc-callback/tests/sfad-callback-controller.test.ts
  src/components/amc-callback/tests/sfad-callback-integration.test.ts
  src/components/common/state-machine/state-machine.ts
  src/components/templates/pages.test.ts
Due: eslint

BAU: get currentUrl using destructuring assignment
  src/components/amc-callback/sfad-callback-controller.ts
Due: eslint

BAU: export public key instead of private key in JWT service test
  src/components/authorize/tests/jwt-service.test.ts
Due: eslint

AUT-5274: Set amc cookie in create passkey controller
  src/components/amc-service/types.ts
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
  src/components/create-passkey/tests/create-passkey-integration.test.ts
Due: eslint

BAU: Fix local running
  .github/PULL_REQUEST_TEMPLATE.md
  src/components/authorize/local-decryption-service.ts
  startup.sh
Due: eslint

AUT-4888: Delete unused _show-password component
  src/components/enter-password/_show-password.njk
Due: none

AUT-4888: Create shared base component for enter/re-enter password
  src/components/common/show-password/macro.njk
Due: none

AUT-4888: Use design-system password field in create password screen
  src/components/create-password/index.njk
Due: none

AUT-4888: Use design-system password field in account exists screen
  src/components/enter-password/index-account-exists.njk
Due: none

AUT-4888: Use design-system password field in reset password screen
  src/components/reset-password/index.njk
Due: none

AUT-4888: Use design-system password field in enter password screen
  src/components/enter-password/index.njk
Due: none

AUT-4888: Remove custom styling
  src/assets/scss/application.scss
Due: none

AUT-4888: Delete now-unused password input macros
  src/components/common/show-password/macro.njk
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
