Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain-fmt, eslint, tfupdate-lock

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: rain-fmt
        name: rain fmt (cfn templates)
        language: golang
        additional_dependencies:
          - github.com/aws-cloudformation/rain/cmd/rain@v1.21.0
        entry: rain fmt -w --node-style original
        files: .*template.yaml$

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.25.1
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.97.3
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.1
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform
      - id: shfmt
        name: shfmt (shell scripts)
        language: golang
        additional_dependencies:
          - mvdan.cc/sh/v3/cmd/shfmt@v3.10.0
        entry: shfmt
        types:
          - file
          - shell
        exclude_types:
          - zsh
        args:
          - -w # write
          - -s # simplify
          - -l # list files that differ

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-3905: Extract request helper methods and reuse
  src/components/account-creation/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/account-not-found/account-not-found-controller.ts
  src/components/authorize/authorize-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/check-your-phone/tests/check-your-phone-controller.test.ts
  src/components/common/footer/footer-pages-controller.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/components/select-mfa-options/select-mfa-options-validation.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/middleware/form-validation-middleware.ts
  src/utils/contentId.ts
  src/utils/request.test.ts
  src/utils/request.ts
  src/utils/taxonomy.ts
Due: eslint

AUT-4169: Add missing healthcheck path
  src/utils/logger.ts
Due: eslint

AUT-4147: Remove email_subscriptions from /contact-us page
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4147: Remove email_subscriptions from /contact-us-questions page
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/_email-subscriptions-questions.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4166: add device intelligence cookie to cookies list
  src/components/common/cookies/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-3991: ELB 4xx ad 5xx anomaly detection alarms
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-4178: Explicitly call session.touch before saving it
  src/components/common/constants.ts
Due: eslint

Revert "ATO-1435: Pass new claims to auth backend."
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

wip
  src/components/common/constants.ts
  src/middleware/allow-user-journey-middleware.ts
Due: eslint

wip 2
  src/middleware/session-middleware.ts
Due: eslint

revert me
  src/components/common/constants.ts
Due: eslint

AUT-3991: bump and lockdown ecs canary nested stack to v2.1.2
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-3991: switchover to ECS Canary in dev and integration
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-3991: switchever to ECS canary in build and staging
  cloudformation/deploy/template.yaml
Due: rain-fmt

BAU: session fix
  src/components/common/constants.ts
  src/middleware/session-middleware.ts
Due: eslint

BAU: update es-lint to 3.3.1
  package.json
  yarn.lock
Due: none

ATO-1435: Pass new claims to auth backend.
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

BAU: Pin versions in package.json
  package.json
  yarn.lock
Due: none

BAU: Add precommit hook to lint package.json
  .pre-commit-config.yaml
  scripts/lint-package-json.sh
  yarn.lock
Due: none

AUT-3991: switchever to ECS canary in production
  cloudformation/deploy/template.yaml
Due: rain-fmt

BAU: remove legacy frontend deployment instructions from readme
  cloudformation/deploy/readme.md
Due: none

BAU: Remove unused testcontainers dependency
  package.json
  yarn.lock
Due: none

AUT-4209: Implement cache headers for static assets
  src/app.ts
Due: eslint

AUT-4209: Add tests for cache control headers
  src/components/common/layout/tests/base-integration.test.ts
  test/unit/static.test.ts
Due: eslint

AUT-4178: Add new sessionRestored flag and initialise
  @types/express-session/index.d.ts
  src/middleware/session-middleware.ts
Due: eslint

BAU: enable FMS waf on sandpit legacy cloudfront Frontent
  ci/terraform/cloudfront.tf
  scripts/dev_deploy_common.sh
Due: none

AUT-4178: Detect when session not restored from the database
  src/components/ipv-callback/tests/cross-browser-middleware.test.ts
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
Due: eslint

AUT-4203: Remove opens in new tab text on enter email create screen for app users
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/index-create-account.njk
  src/components/enter-email/tests/enter-email-controller.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

BAU: Use image digest instead of git commit hash
  scripts/dev_sam_deploy.sh
Due: none

esbuild
  esbuild.config.js
  package.json
  yarn.lock
Due: eslint

esbuild
  esbuild.config.js
  src/middleware/tests/overload-protection-middleware.test.ts
  src/utils/redis.ts
Due: eslint

AUT-4178: Check required session field 'email' when calling auth-code
  src/components/auth-code/auth-code-routes.ts
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
Due: eslint

AUT-4173: Can choose channel when using local orchstub
  dev-app-orchstub.js
Due: eslint

AUT-4173: Updated strategic_app sign-in-or-create content
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4173: Add create link to mobile sign in template
  src/components/sign-in-or-create/index-mobile.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none
