Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: npm run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: npm run pretty --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-4911: Follow normal conventions for session properties
  src/components/authorize/authorize-controller.ts
  src/types.ts
  src/utils/logger.ts
Due: eslint

AUT-4812: Only enable validation if feature flag is enabled
  src/components/contact-us/validation/contact-us-questions-validation.ts
Due: eslint

BAU: Align initial ECS task count to staging
  cloudformation/deploy/template.yaml
Due: none

AUT-4815: WIP
  @types/express/index.d.ts
  src/app.ts
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
  src/middleware/initialise-user-history-middleware.ts
  src/types.ts
Due: eslint

BAU: Run bastion host for frontend
  cloudformation/bastion/bastion-host.yaml
  dev-app-orchstub.js
  docker-compose-proxy.yml
  scripts/deploy-bastion.sh
  scripts/setup-apigateway-proxy.sh
  start-frontend-with-proxy.sh
Due: eslint

AUT-4815: Route to a back-event route and redirect user to the right state in the history
  src/app.ts
  src/components/back-event/back-event-routes.ts
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
Due: eslint

BAU: Updatedthe Bastion user data for nginx
  README-PROXY-SETUP.md
  cloudformation/bastion/bastion-host.yaml
  docker-compose-proxy.yml
  scripts/deploy-bastion.sh
  scripts/setup-api-gateway-proxy.sh
  scripts/setup-apigateway-proxy.sh
Due: none

AUT-4931: create a bastion host for local frontnd and update the create evn script
  .pre-commit-config.yaml
  README.md
  cloudformation/bastion/bastion-host.yaml
  dev-app-orchstub.js
  docker-compose-proxy.yml
  pyproject.toml
  scripts/_create_env_file.py
  scripts/deploy-bastion.sh
  scripts/setup-api-gateway-proxy.sh
  start-frontend-with-proxy.sh
Due: eslint

AUT-4931: Remove api key from read me
  README.md
Due: none

WIP
  src/app.constants.ts
  src/components/back-event/back-event-controller.ts
  src/components/back-event/back-event-routes.ts
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/middleware/allow-user-journey-middleware.ts
  src/types.ts
Due: eslint

AUT-4931: Update the scrips and Readme as per Comment
  README.md
  scripts/setup-api-gateway-proxy.sh
Due: none

AUT-4815: Tested whether we can store metadata inside the state machine and we can. This can be accessed using what is present currently inside state-machine-executor.ts
  run-frontend.sh
  src/app.constants.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4931 bastion host solution for local Frontend (#3065)
  .pre-commit-config.yaml
  README.md
  cloudformation/bastion/bastion-host.yaml
  dev-app-orchstub.js
  docker-compose-proxy.yml
  pyproject.toml
  scripts/_create_env_file.py
  scripts/deploy-bastion.sh
  scripts/setup-api-gateway-proxy.sh
  start-frontend-with-proxy.sh
Due: eslint

BAU: Fix OrchApiBaseUrl in authdev environments
  cloudformation/deploy/template.yaml
Due: none

AUT-4727: fix the precommit yaml format
  .pre-commit-config.yaml
Due: none

BAU: Revert pino-pretty to 13.0.0
  dev-app.js
  package.json
  yarn.lock
Due: eslint, check-package-json

AUT-4911: Consume journey id from orchestration JAR
  src/components/authorize/authorize-controller.ts
  src/middleware/session-middleware.ts
  src/types.ts
  src/utils/logger.ts
Due: eslint

AUT-4911: Test changes
  src/components/authorize/tests/authorize-controller.test.ts
  src/middleware/tests/session-middleware.test.ts
  test/helpers/mock-request-helper.ts
Due: eslint

AUT-4911 Add warning on mismatch
  src/middleware/session-middleware.ts
Due: eslint

BAU: Remove old local RP stubs
  Dockerfile-stub
  README.md
  dev-app-orchstub.js
  docker-compose-proxy.yml
  docker-compose.yml
  scripts/_create_env_file.py
  start-frontend-with-proxy.sh
  startup.sh
Due: eslint

BAU: Use TEAM standing permissions to run frontend locally
  README.md
  deploy-authdevs.sh
  scripts/_create_env_file.py
  scripts/deploy-bastion.sh
  scripts/dev_sam_deploy.sh
  scripts/setup-api-gateway-proxy.sh
Due: none

BAU: remove copyfiles dependency
  package.json
Due: check-package-json

BAU: Fix orch stub build definition
  docker-compose.yml
Due: none

BAU: Remove copyfiles and deps from yarn.lock
  yarn.lock
Due: none

Revert "AUT-4911: Track journey id from orchestration JAR"
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
  src/types.ts
  src/utils/logger.ts
  test/helpers/mock-request-helper.ts
Due: eslint

Revert "Revert "AUT-4911: Track journey id from orchestration JAR""
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
  src/types.ts
  src/utils/logger.ts
  test/helpers/mock-request-helper.ts
Due: eslint

AUT-4911 Handle missing session
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
Due: eslint

AUT-3933: Add `@govuk-one-login/frontend-ui` package
  package.json
  yarn.lock
Due: check-package-json

AUT-3933: Add progress button to "enter auth app code" screen
  src/components/enter-authenticator-app-code/index.njk
Due: none

AUT-3933: Add `@govuk-one-login/frontend-ui` to scss
  src/assets/scss/application.scss
Due: none

add JS file to dist
  package.json
Due: check-package-json

above
  src/utils/logger.ts
Due: eslint

use scripts on auth app code page
  src/components/enter-authenticator-app-code/index.njk
Due: none

BROKEN - frontendUiMiddleware work
  @types/express/index.d.ts
  src/app.ts
Due: eslint
