Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

BAU: Add toggle to show/hide groupings
  journey-map/public/index.html
  journey-map/src/stateMachineHelpers/auth-state-machine-helper.ts
Due: eslint

BAU: Persist journey map options between refreshes
  journey-map/src/index.ts
Due: eslint

BAU: Add dark mode styling to groups
  journey-map/public/style.css
Due: none

BAU: Define state machine groupings
  journey-map/src/auth-state-groups.ts
Due: eslint

BAU: Fix opening optional journeys immediately
  journey-map/src/stateMachineHelpers/auth-state-machine-helper.ts
Due: eslint

BAU: Exclude journey-map from pre-commit eslint
  .pre-commit-config.yaml
Due: none

BAU: Run journey-map eslint
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Due: none

BAU: Removed prettier from journey-map lint script
  journey-map/package-lock.json
  journey-map/package.json
Due: none

BAU: Pass NODE_AUTH_TOKEN secret to dev image build
  dev.Dockerfile
  scripts/dev_sam_deploy.sh
Due: none

BAU: Upgrade proxy-addr to >=2.0.8
  journey-map/package-lock.json
  journey-map/package.json
  package-lock.json
  package.json
Due: check-package-json

AUT-5875: Send two extra fields on the request to /reset-password
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/reset-password-service.ts
  src/components/reset-password/tests/reset-password-controller.test.ts
  src/components/reset-password/tests/reset-password-service.test.ts
  src/components/reset-password/types.ts
Due: eslint

BAU: Constrain minimum version of shell quote
  package-lock.json
  package.json
Due: check-package-json

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
