Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

BAU: revert me deliberately make all lock files out of sync
  package.json
Due: check-package-json

BAU: sync main lockfile only
  package-lock.json
Due: none

AUT-4939: Accept possibly null hasActivePasskey from API
  src/components/enter-email/types.ts
  src/types.ts
  src/utils/passkeys-helper.test.ts
Due: eslint

BAU: Add grouping for typescript eslint dependencies
  .github/dependabot.yml
Due: none

BAU: Rename journey to action
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-integration.test.ts
  src/components/create-passkey-callback/types.ts
Due: eslint

wip: add additional listeners
  src/config/session.ts
Due: eslint

WIP DRAFT
  src/config/redis-health-check.ts
  src/config/session.ts
Due: eslint

wip - debug without pii
  src/config/dual-session-store.ts
  src/config/session.ts
Due: eslint

wip - demo to read from dynamo
  cloudformation/deploy/template.yaml
  src/config/dual-session-store.ts
Due: eslint

wip - dual session store (proof of concept, untested at present)
  .env.local
  cloudformation/deploy/template.yaml
  package-lock.json
  package.json
  scripts/_create_env_file.py
  src/config/dual-session-store.ts
  src/config/dynamodb-session.ts
  src/config/session.ts
Due: eslint, check-package-json

WIP: Dynamo table to respect sub envs
  cloudformation/deploy/template.yaml
Due: none

AUT-5401: Add PoC Dual Frontend Session Store
  .env.local
  cloudformation/deploy/template.yaml
  package-lock.json
  package.json
  scripts/_create_env_file.py
  src/config/dual-session-store.ts
  src/config/dynamodb-session.ts
  src/config/session.ts
Due: eslint, check-package-json

wip comments
  src/config/dual-session-store.ts
  src/config/session.ts
Due: eslint

AUT-5067: Add go-back-history-middleware and adjust allow-user-journey-middleware to allow for clicking back
  src/components/common/state-machine/go-back-history.ts
  src/components/common/state-machine/tests/go-back-history.test.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/middleware/allow-user-journey-middleware.ts
  src/middleware/go-back-middleware.ts
  test/helpers/session-helper.ts
  test/unit/middleware/allow-user-journey-middleware.test.ts
  test/unit/middleware/go-back-middleware.test.ts
Due: eslint

AUT-5067: Enable goBackHistory to be used when going back from enter-password to enter-email
  src/components/enter-email/enter-email-routes.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
  src/components/enter-password/enter-password-routes.ts
  src/components/enter-password/index.njk
  src/components/enter-password/tests/enter-password-integration.test.ts
Due: eslint

BAU: Remove duplicate uglify-js from production dependencies
  package-lock.json
  package.json
Due: check-package-json

BAU: Constrain uuid to >=11.1.1
  journey-map/package-lock.json
  journey-map/package.json
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
Due: none

BAU: Override uuid to 11.1.1
  journey-map/package-lock.json
  journey-map/package.json
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
Due: none

AUT-5432: Add Dynamo resource
  cloudformation/deploy/template.yaml
Due: none

AUT-5432: Grant frontend TaskRole DynamoDB access
  cloudformation/deploy/template.yaml
Due: none

AUT-5432: Add KMS resource
  cloudformation/deploy/template.yaml
Due: none

AUT-5432: Grant frontend TaskRole KMS access
  cloudformation/deploy/template.yaml
Due: none

BAU: Add npm install to startup.sh -L path
  startup.sh
Due: none

AUT-5425: Script for generating passkeys
  scripts/generate_webauthn/README.md
  scripts/generate_webauthn/generate_webauthn_script.py
Due: none

AUT-5433: Add dual session store implementation
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5433: Add primary/secondary semantics to dual session store
  src/config/dual-session-store.ts
  src/config/session.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5433: Use dual session store
  cloudformation/deploy/template.yaml
  package-lock.json
  package.json
  src/config/dynamodb-session.ts
  src/config/session.ts
Due: eslint, check-package-json

AUT-5433: Support optional dual session store behind feature flag
  cloudformation/deploy/template.yaml
  src/config.ts
  src/config/session.ts
  test/unit/config.test.ts
  test/unit/session.test.ts
Due: eslint

AUT-5433: Perform consistency check on read
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5433: Return combined error when both session store reads fail
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-4989: Add basic setup for new account exists page
  src/app.constants.ts
  src/app.ts
  src/components/account-exists-with-passkey/account-exists-with-passkey-controller.ts
  src/components/account-exists-with-passkey/account-exists-with-passkey-routes.ts
  src/components/account-exists-with-passkey/index.njk
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-controller-test.ts
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/account-exists--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/account-exists--default--en--chromium-linux.jpeg
Due: eslint

AUT-4989: Implement full page for new account exists route
  src/components/account-exists-with-passkey/account-exists-with-passkey-controller.ts
  src/components/account-exists-with-passkey/index.njk
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-controller-test.ts
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/account-exists--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/account-exists--default--en--chromium-linux.jpeg
Due: eslint

AUT-4989: Route users with passkeys to different account exists page
  src/components/common/state-machine/state-machine.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/tests/enter-email-controller.test.ts
Due: eslint

AUT-4989: Add session and user journey middleware to new route
  src/components/account-exists-with-passkey/account-exists-with-passkey-routes.ts
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-integration.test.ts
Due: eslint

AUT-4989: Set browser supports webauthn as hidden input in create-account enter email
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/index-create-account.njk
  src/components/enter-email/tests/enter-email-controller.test.ts
Due: eslint

AUT-4989: Allow transition back to enter email create account from account exists with passkey
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4989: Rename existing get route to be more consistent with others
  src/components/account-exists-with-passkey/account-exists-with-passkey-controller.ts
  src/components/account-exists-with-passkey/account-exists-with-passkey-routes.ts
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-controller-test.ts
Due: eslint

AUT-4989: Submit button on account with passkey exists page routes to sign in with passkey
  src/components/account-exists-with-passkey/account-exists-with-passkey-controller.ts
  src/components/account-exists-with-passkey/account-exists-with-passkey-routes.ts
  src/components/account-exists-with-passkey/index.njk
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-controller-test.ts
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-integration.test.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: test turning passkey usage on
  cloudformation/deploy/template.yaml
Due: none

AUT-5433: Wait for both session stores before calling back
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint
