Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-4888: Delete unused _show-password component
  src/components/enter-password/_show-password.njk
Due: none

AUT-4888: Create shared base component for enter/re-enter password
  src/components/common/show-password/macro.njk
Due: none

AUT-4888: Use design-system password field in create password screen
  src/components/create-password/index.njk
Due: none

AUT-4888: Use design-system password field in account exists screen
  src/components/enter-password/index-account-exists.njk
Due: none

AUT-4888: Use design-system password field in reset password screen
  src/components/reset-password/index.njk
Due: none

AUT-4888: Use design-system password field in enter password screen
  src/components/enter-password/index.njk
Due: none

AUT-4888: Delete now-unused password input macros
  src/components/common/show-password/macro.njk
Due: none

AUT-4888: Remove custom styling
  src/assets/scss/application.scss
Due: none

AUT-4888: Remove custom showPassword.js script
  package.json
  src/assets/javascript/application.js
  src/assets/javascript/showPassword.js
  src/components/create-password/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index.njk
  src/components/reset-password/index.njk
  src/utils/logger.ts
Due: eslint, check-package-json

AUT-4888: Import password-input styling
  src/assets/scss/application.scss
Due: none

AUT-4888: Update screenshot tests
  test/snapshot/pages.snapshot.test.ts-snapshots/create-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/create-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password-account-exists--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password-account-exists--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--required--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--required--en--chromium-linux.jpeg
Due: none

ATO-2282: Add feature flag for using JWKS
  cloudformation/deploy/template.yaml
  src/config.ts
Due: eslint

AUT-5009: Add SFAD authorize flow for security code changes
  src/app.constants.ts
  src/app.ts
  src/components/common/state-machine/state-machine.ts
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/ipv-callback/tests/ipv-callback-controller.test.ts
  src/components/sfad-authorize/sfad-authorize-controller.ts
  src/components/sfad-authorize/sfad-authorize-routes.ts
  src/components/sfad-authorize/sfad-authorize-service.ts
  src/components/sfad-authorize/tests/sfad-authorize-controller.test.ts
  src/components/sfad-authorize/tests/sfad-authorize-integration.test.ts
  src/components/sfad-authorize/tests/sfad-authorize-service.test.ts
  src/components/sfad-authorize/types.ts
  src/components/templates/pages.test.ts
  src/config.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-5009: Turn on SupportSFAD in dev envs
  cloudformation/deploy/template.yaml
Due: none

AUT-5110: Create initial amc-callback route and controller
  package-lock.json
  src/app.constants.ts
  src/components/amc-callback/amc-callback-controller.ts
  src/components/amc-callback/amc-callback-routes.ts
  src/components/amc-callback/tests/amc-callback-controller.test.ts
Due: eslint

AUT-5110: Integrate service to call AMCCallbackHandler in controller
  src/app.constants.ts
  src/components/amc-callback/amc-callback-controller.ts
  src/components/amc-callback/amc-callback-routes.ts
  src/components/amc-callback/amc-result-service.ts
  src/components/amc-callback/tests/amc-callback-controller.test.ts
  src/components/amc-callback/types.ts
Due: eslint

AUT-5110: Add /amc-callback to non templated url list
  src/components/templates/pages.test.ts
Due: eslint

AUT-5110: Add integration tests
  src/components/amc-callback/tests/amc-callback-integration.test.ts
Due: eslint

AUT-5110: Register amc callback routes
  src/app.ts
  src/components/amc-callback/amc-callback-routes.ts
Due: eslint

WIP
  src/components/amc-callback/amc-callback-controller.ts
  src/components/amc-callback/tests/amc-callback-controller.test.ts
  src/components/amc-callback/tests/amc-callback-integration.test.ts
Due: eslint

ATO-2282: Verify signature using JWKS in jwt-service
  src/components/authorize/jwt-service.ts
  src/components/authorize/tests/jwt-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/config.ts
Due: eslint

AUT-5179: Handle indefinite international SMS lockout error in frontend
  src/components/account-creation/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/common/constants.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/uplift-journey/tests/uplift-journey-integration.test.ts
  src/handlers/internal-server-error-handler.ts
  src/handlers/tests/internal-server-error-handler.test.ts
Due: eslint

AUT-5009: Update SFAD references to be more descriptive
  cloudformation/deploy/template.yaml
  src/app.constants.ts
  src/app.ts
  src/components/common/state-machine/state-machine.ts
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/ipv-callback/tests/ipv-callback-controller.test.ts
  src/components/sfad-authorize/sfad-authorize-service.ts
  src/components/sfad-authorize/tests/sfad-authorize-integration.test.ts
  src/components/sfad-authorize/tests/sfad-authorize-service.test.ts
  src/config.ts
Due: eslint

BAU: Update the @aws-sdk/client-kms and @aws-sdk/client-ssm version to 3.981.0 to deal with CVE-2026-25128
  journey-map/package-lock.json
  package-lock.json
  package.json
Due: check-package-json

AUT-5179: Handle indefinite lockout error in password page
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
Due: eslint

AUT-5186: Create empty /cannot-use-security-code page and template
  src/app.constants.ts
  src/app.ts
  src/components/cannot-use-security-code/cannot-use-security-code-controller.ts
  src/components/cannot-use-security-code/cannot-use-security-code-routes.ts
  src/components/cannot-use-security-code/index.njk
  src/components/cannot-use-security-code/tests/cannot-use-security-code-controller.test.ts
  src/components/cannot-use-security-code/tests/cannot-use-security-code-integration.test.ts
  src/components/templates/pages.ts
Due: eslint

AUT-5186: Add page content
  src/components/cannot-use-security-code/index.njk
  src/components/cannot-use-security-code/tests/cannot-use-security-code-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-5186: Apply MFA_INDEFINITELY_BLOCKED transition to ENTER_PASSWORD & HOW_DO_YOU_WANT_SECURITY_CODES
  src/components/common/state-machine/state-machine.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/utils/send-mfa-code-error-helper.ts
  test/unit/utils/send-mfa-code-error-helper.test.ts
Due: eslint

AUT-5186: Apply MFA_INDEFINITELY_BLOCKED transition to RESEND_MFA_CODE & UPLIFT_JOURNEY
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/state-machine/state-machine.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/uplift-journey/tests/uplift-journey-integration.test.ts
Due: eslint

AUT-5186: Apply MFA_INDEFINITELY_BLOCKED transition to RESET_PASSWORD_CHECK_EMAIL
  src/components/common/state-machine/state-machine.ts
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
Due: eslint

feat(DFC-1100): updating contentIds and GA4 variables for all page states
  package-lock.json
  package.json
  src/assets/javascript/application.js
  src/assets/javascript/dataLayerEvents.js
  src/assets/javascript/prevent-double-form-submit.js
  src/assets/javascript/showPassword.js
  src/components/account-created/index.njk
  src/components/account-not-found/index-one-login.njk
  src/components/cannot-use-email-address/index.njk
  src/components/check-your-email/index.njk
  src/components/check-your-phone/index.njk
  src/components/common/cookies/index.njk
  src/components/common/footer/accessibility-statement.njk
  src/components/common/layout/base.njk
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-gov-service-contact-us.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/index-submit-success.njk
  src/components/contact-us/questions/index.njk
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/components/contact-us/types.ts
  src/components/create-password/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index-account-locked.njk
  src/components/how-do-you-want-security-codes/index.njk
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/utils/contentId.ts
Due: eslint, check-package-json

Add SCP manifest for authentication-frontend
  scp.yaml
Due: none

WIP
  scp.yaml
Due: none

ATO-2339: Add feature flag for using JWKS
  cloudformation/deploy/template.yaml
  src/config.ts
Due: eslint

AUT-5186: Add MFA reset link to cannot use security code page
  src/components/cannot-use-security-code/cannot-use-security-code-controller.ts
  src/components/cannot-use-security-code/index.njk
  src/components/cannot-use-security-code/tests/cannot-use-security-code-controller.test.ts
  src/components/cannot-use-security-code/tests/cannot-use-security-code-integration.test.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

Add capabilities
  scp.yaml
Due: none

AUT-5181: add 'quality-gate-manifest.json'
  quality-gate.manifest.json
Due: none

ATO-2339: Verify signature using JWKS in jwt-service
  src/components/authorize/jwt-service.ts
  src/components/authorize/tests/jwt-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/config.ts
Due: eslint
