Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-4590: Add demo page for testing GovukComponent
  src/app.ts
  src/components/common/govuk-component/demo/govuk-component-routes.ts
  src/components/common/govuk-component/demo/index.njk
Due: eslint

AUT-4590: Build Nunjucks govukComponent macro
  src/components/common/govuk-component/demo/index.njk
  src/components/common/govuk-component/govuk-component-macro.njk
Due: none

AUT-4590: Generate GovukComponents from TypeScript
  src/components/common/govuk-component/components/govuk-radio-button.d.ts
  src/components/common/govuk-component/components/govuk-tag.d.ts
  src/components/common/govuk-component/components/index.d.ts
  src/components/common/govuk-component/demo/govuk-component-routes.ts
  src/components/common/govuk-component/demo/index.njk
  src/components/common/govuk-component/govuk-component.d.ts
Due: eslint

AUT-4597: Follow simple guide on running in pipeline
  .github/workflows/pre-merge-checks.yml
Due: none

AUT-4590: Demo pre-made components
  src/components/common/govuk-component/demo/govuk-component-routes.ts
  src/components/common/govuk-component/govuk-component-types/govuk-radio-button.d.ts
  src/components/common/govuk-component/govuk-component-types/govuk-tag.d.ts
  src/components/common/govuk-component/govuk-component-types/index.d.ts
  src/components/common/govuk-component/page-components/demo-tag.ts
  src/components/common/govuk-component/page-components/index.d.ts
Due: eslint

AUT-3928: Delete all .snap files
  src/components/account-creation/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/check-your-email/tests/__snapshots__/check-your-email-integration.test.ts.snap
  src/components/check-your-phone/tests/__snapshots__/check-your-phone-integration.test.ts.snap
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/create-password/tests/__snapshots__/create-password-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-create-account-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-integration.test.ts.snap
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-reauth-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-reauth-integration.test.ts.snap
  src/components/enter-phone-number/tests/__snapshots__/enter-phone-number-integration.test.ts.snap
  src/components/healthcheck/tests/__snapshots__/healthcheck-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/components/landing/tests/__snapshots__/landing-integration.test.ts.snap
  src/components/prove-identity-callback/tests/__snapshots__/prove-identity-callback-integration.test.ts.snap
  src/components/resend-email-code/tests/__snapshots__/resend-email-code-integration.test.ts.snap
  src/components/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/reset-password-2fa-auth-app/tests/__snapshots__/reset-password-2fa-auth-app-integration.test.ts.snap
  src/components/reset-password-2fa-sms/tests/__snapshots__/reset-password-2fa-sms-integration.test.ts.snap
  src/components/reset-password-check-email/tests/__snapshots__/reset-password-check-email-auth-app-2fa-integration.test.ts.snap
  src/components/reset-password-check-email/tests/__snapshots__/reset-password-check-email-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-required-integration.test.ts.snap
  src/components/select-mfa-options/tests/__snapshots__/select-mfa-options-integration.test.ts.snap
  src/components/setup-authenticator-app/tests/__snapshots__/setup-authenticator-app-integration.test.ts.snap
  src/components/updated-terms-conditions/tests/__snapshots__/updated-terms-conditions-integration.test.ts.snap
  src/utils/tests/__snapshots__/csrf-integration.test.ts.snap
Due: none

AUT-4928: Delete snapshot test info from README
  README.md
Due: none

AUT-3928: delete snapshot test supertest wrapper
  package.json
  src/components/account-creation/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/authorize/tests/authorize-integration.test.ts
  src/components/check-your-email/tests/check-your-email-integration.test.ts
  src/components/check-your-phone/tests/check-your-phone-integration.test.ts
  src/components/common/cookies/tests/cookies-controller-integration.test.ts
  src/components/common/footer/tests/footer-pages-integration.test.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/create-password/tests/create-password-integration.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-email/tests/enter-email-create-account-integration.test.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-reauth-integration.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/healthcheck/tests/healthcheck-integration.test.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/components/landing/tests/landing-integration.test.ts
  src/components/mfa-reset-with-ipv/tests/mfa-reset-with-ipv-integration.test.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-integration.test.ts
  src/components/resend-email-code/tests/resend-email-code-integration.test.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-integration.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/select-mfa-options/tests/select-mfa-options-integration.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-integration.test.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  src/utils/tests/csrf-integration.test.ts
  test/utils/test-utils.ts
  yarn.lock
Due: eslint, check-package-json

BAU: Fix assertion
  src/components/create-password/tests/create-password-integration.test.ts
Due: eslint

POC: name
  src/components/common/verify-code/verify-code-validation.ts
  src/components/enter-authenticator-app-code/index.njk
Due: eslint

POC: aria & patternb
  src/components/enter-authenticator-app-code/index.njk
Due: none

POC: just pattern
  src/components/enter-authenticator-app-code/index.njk
Due: none

POC: BW heuristics
  src/components/enter-authenticator-app-code/index.njk
Due: none

POC: app_otp
  src/components/enter-authenticator-app-code/index.njk
Due: none

POC: 6 char max pattern
  src/components/enter-authenticator-app-code/index.njk
Due: none

AUT-4597: WIP
  docker-compose.snapshots.yml
  snapshots.Dockerfile
Due: none

feat(dfc-721): testing new spinner in repo for functionality
  package.json
  src/assets/javascript/application.js
  src/assets/javascript/dataLayerEvents.js
  src/assets/javascript/showPassword.js
  yarn.lock
Due: eslint, check-package-json

AUT-4589: Refactor the wallet template to use the new subTheme structure
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/_wallet.njk
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/components/contact-us/tests/contact-us-further-information-controller.test.ts
  src/components/contact-us/tests/contact-us-further-information-validation.test.ts
  src/components/contact-us/tests/contact-us-structure-utils.test.ts
  src/components/contact-us/types.ts
  src/components/contact-us/validation/contact-us-further-information-validation.ts
  src/components/contact-us/validation/contact-us-questions-validation.ts
Due: eslint

AUT-4591: Add typedef and macro for GovukComponent
  src/components/common/govuk-component/govuk-component-macro.njk
  src/components/common/govuk-component/govuk-component.d.ts
Due: eslint

AUT-4591: Add demo page for testing GovukComponent
  src/app.ts
  src/components/common/govuk-component/demo/govuk-component-routes.ts
  src/components/common/govuk-component/demo/index.njk
Due: eslint

AUT-4591: Build Nunjucks govukComponent macro
  src/components/common/govuk-component/demo/index.njk
  src/components/common/govuk-component/govuk-component-macro.njk
Due: none

AUT-4591: Generate GovukComponents from TypeScript
  src/components/common/govuk-component/components/govuk-radio-button.d.ts
  src/components/common/govuk-component/components/govuk-tag.d.ts
  src/components/common/govuk-component/components/index.d.ts
  src/components/common/govuk-component/demo/govuk-component-routes.ts
  src/components/common/govuk-component/demo/index.njk
  src/components/common/govuk-component/govuk-component.d.ts
Due: eslint

AUT-4591: Demo pre-made components
  src/components/common/govuk-component/demo/govuk-component-routes.ts
  src/components/common/govuk-component/demo/tests/govuk-component-demo-integration.test.ts
  src/components/common/govuk-component/govuk-component-types/govuk-radio-button.d.ts
  src/components/common/govuk-component/govuk-component-types/govuk-tag.d.ts
  src/components/common/govuk-component/govuk-component-types/index.d.ts
  src/components/common/govuk-component/page-components/demo-tag.ts
  src/components/common/govuk-component/page-components/index.d.ts
Due: eslint

AUT-4597: WIP
  docker-compose.snapshots.yml
  snapshots-frontend.Dockerfile
  snapshots.Dockerfile
Due: none

AUT-4645: Enable ShowWalletContactForm for Production
  cloudformation/deploy/template.yaml
Due: none

AUT-4646: Remove ShowWalletContactForm and SHOW_WALLET_CONTACT_FORM flag
  ci/terraform/authdev1.tfvars
  ci/terraform/authdev2.tfvars
  ci/terraform/build.tfvars
  ci/terraform/dev.tfvars
  ci/terraform/ecs.tf
  ci/terraform/integration.tfvars
  ci/terraform/sandpit.tfvars
  ci/terraform/staging.tfvars
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/config.ts
Due: eslint

BAU: Use in-memory sessions for local running
  src/app.ts
Due: eslint

BAU: Add local env file, rename dockerfile
  .env.local
  .gitignore
  Dockerfile
  dev.Dockerfile
  scripts/dev_deploy_common.sh
  scripts/dev_sam_deploy.sh
Due: none

BAU: Use local key for decryption
  src/components/authorize/authorize-controller.ts
  src/components/authorize/kms-decryption-service.ts
  src/components/authorize/local-decryption-service.ts
  src/components/authorize/types.ts
  src/config.ts
Due: eslint

BAU: Update readme for full stack local
  README.md
Due: none

AUT-4653: Add translations for unselected Wallet subtheme error
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

Revert "BAU: Bump the npm-patch-dependencies group across 1 directory with 5 updates"
  package.json
  yarn.lock
Due: check-package-json

BAU: Downgrade frontend-analytics to 4.0.0
  package.json
  yarn.lock
Due: check-package-json

BAU: Ignore @govuk-one-login/frontend-analytics versions >= 4.0.1
  .github/dependabot.yml
Due: none

DO NOT MERGE - cloned frontend instances to test auth-internal-api
  cloudformation/deploy/template.yaml
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

BAU: Add dark mode support to journey map
  journey-map/package-lock.json
  journey-map/public/style.css
Due: none

AUT-4597: Setup the dockerfile and compose to run the playwright tests locally and copy the resulting snapshots and test-results into local directories
  docker-compose.snapshots.yml
  snapshots-frontend.Dockerfile
  snapshots.Dockerfile
Due: none

AUT-4597: Remove reliance on .env file for the environment variables in docker-compose.snapshots.yml
  docker-compose.snapshots.yml
Due: none

AUT-4597: Add a section in the README.md to explain the snapshot tests and the process for running them
  README.md
  docker-compose.snapshots.yml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
  check-package-json: any of: ^package.json$
