Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-4768: Add SupportPasskeyRegistration to Cloudformation template.yaml
  cloudformation/deploy/template.yaml
Due: none

AUT-4768: Update local env script to enable SUPPORT_PASSKEY_REGISTRATION for local dev
  scripts/_create_env_file.py
Due: none

AUT-4768: Use SUPPORT_PASSKEY_REGISTRATION in config.ts
  src/config.ts
Due: eslint

AUT-4768: Add ff to res.locals
  @types/express/index.d.ts
  src/middleware/set-local-vars-middleware.ts
Due: eslint

AUT-4769: Install @simplewebauthn/browser library
  package.json
  yarn.lock
Due: check-package-json

AUT-4769: Init SimpleWebAuthn and check browser support
  src/components/common/layout/base.njk
  src/components/sign-in-or-create/index.njk
Due: none

AUT-4769: Copy @simplewebauthn/browser .js asset to /dist folder
  package.json
Due: check-package-json

AUT-4769: Hide SimpleWebAuthn behind ff
  src/components/common/layout/base.njk
  src/components/sign-in-or-create/index.njk
Due: none

AUT-4752: Route all reset password to /reset-password
  src/app.constants.ts
  src/components/common/state-machine/state-machine.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/reset-password/index.njk
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/reset-password-routes.ts
  src/components/reset-password/tests/reset-password-controller.test.ts
Due: eslint

AUT-4752 Add new content id for required password reset
  src/components/reset-password/reset-password-controller.ts
  src/utils/contentId.ts
  src/utils/request.test.ts
  src/utils/request.ts
Due: eslint

AUT-4742: Delete yarn lock file
  package-lock.json
  yarn.lock
Due: none

AUT-4742: Use npm in nodemon
  nodemon.json
Due: none

AUT-4742: Use npm run in package.json scripts
  README.md
  package.json
Due: check-package-json

AUT-4742: Block yarn usage
  .npmrc
  package.json
Due: check-package-json

AUT-4742: Use npm in GHA workflows
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
  .pre-commit-config.yaml
Due: none

AUT-4742: Use npm in pre-commit
  pre-commit.sh
Due: none

AUT-4742: Use npm for docker
  Dockerfile
  Dockerfile-stub
  dev.Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  local.Dockerfile
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
  startup.sh
Due: none

AUT-4742: Remove yarn references in .gitignore
  .gitignore
Due: none

BAU: resolve sonarcloud security issue
  Dockerfile
  package-lock.json
Due: none

AUT-4742: Ignore unsupported file types when using prettier
  .pre-commit-config.yaml
Due: none

BAU: Translate the text on the link to view cookies
  src/components/common/layout/banner.njk
Due: none

BAU: Use .env.local for snapshot tests to remove AWS dependency
  .env.local
  docker-compose.snapshots.yml
Due: none

AUT-4752: Clean up reset password required resources
  src/app.constants.ts
  src/components/common/state-machine/state-machine.ts
  src/components/reset-password/reset-password-routes.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/templates/pages.ts
  src/utils/contentId.ts
  src/utils/taxonomy.test.ts
  src/utils/taxonomy.ts
Due: eslint

BAU: pin `validator` to `13.15.15`
  package.json
  yarn.lock
Due: check-package-json

BAU: Upgrade @playwright/test to 1.56.1
  package.json
  snapshots-playwright.Dockerfile
  yarn.lock
Due: check-package-json

BAU: Fix GA4 script loading in cannot-use-email-address
  src/components/cannot-use-email-address/index.njk
Due: none

BAU: Add standard session and route validation
  src/components/cannot-use-email-address/cannot-use-email-address-routes.ts
Due: eslint

BAU: Use .env.local for snapshot tests
  .env.local
  docker-compose.snapshots.yml
Due: none

AUT-4439 Screenshot test for other pages
  docker-compose.snapshots.yml
  snapshots-playwright.Dockerfile
  src/components/contact-us/tests/contact-us-snapshot.test.ts
  src/components/templates/pages-snapshot.test.ts
  src/components/templates/pages.test.ts
  src/components/templates/pages.ts
  test/helpers/screenshot-helper.ts
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
  check-package-json: any of: ^package.json$
