Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

Revert "Bump axios from 1.12.2 to 1.13.5"
  package-lock.json
  package.json
Due: check-package-json

WIP: SCP updates
  scp.yaml
Due: none

BAU: remove uuid from dependencies
  package-lock.json
  package.json
Due: check-package-json

AUT-5110: Create initial amc-callback route and controller
  package-lock.json
  src/app.constants.ts
  src/components/amc-callback/amc-callback-controller.ts
  src/components/amc-callback/amc-callback-routes.ts
  src/components/amc-callback/tests/amc-callback-controller.test.ts
Due: eslint

AUT-5110: Integrate service to call AMCCallbackHandler in controller
  src/app.constants.ts
  src/components/amc-callback/amc-callback-controller.ts
  src/components/amc-callback/amc-callback-routes.ts
  src/components/amc-callback/amc-result-service.ts
  src/components/amc-callback/tests/amc-callback-controller.test.ts
  src/components/amc-callback/types.ts
Due: eslint

AUT-5110: Add /amc-callback to non templated url list
  src/components/templates/pages.test.ts
Due: eslint

AUT-5110: Add integration tests
  src/components/amc-callback/tests/amc-callback-integration.test.ts
Due: eslint

AUT-5110: Register amc callback routes
  src/app.ts
  src/components/amc-callback/amc-callback-routes.ts
  src/components/amc-callback/tests/amc-callback-integration.test.ts
Due: eslint

BAU: Change internal-server-error-handler to error-handler
  src/app.ts
  src/components/common/errors/error-controller.ts
  src/components/common/errors/generic-error.njk
  src/components/common/errors/tests/error-controller.test.ts
  src/components/templates/pages.ts
  src/handlers/csrf-missing-handler.ts
  src/handlers/error-handler.ts
  src/handlers/tests/csrf-missing-handler.test.ts
  src/handlers/tests/error-handler.test.ts
  test/unit/error-handler.test.ts
Due: eslint

AUT-5110: Add AMC callback to the state machine
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-5110: Change journeyType constant value to SFAD
  src/app.constants.ts
Due: eslint

AUT-5186: Create empty /cannot-use-security-code page and template
  src/app.constants.ts
  src/app.ts
  src/components/cannot-use-security-code/cannot-use-security-code-controller.ts
  src/components/cannot-use-security-code/cannot-use-security-code-routes.ts
  src/components/cannot-use-security-code/index.njk
  src/components/cannot-use-security-code/tests/cannot-use-security-code-controller.test.ts
  src/components/cannot-use-security-code/tests/cannot-use-security-code-integration.test.ts
  src/components/templates/pages.ts
Due: eslint

AUT-5186: Add page content
  src/components/cannot-use-security-code/index.njk
  src/components/cannot-use-security-code/tests/cannot-use-security-code-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-use-security-code--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-use-security-code--default--en--chromium-linux.jpeg
Due: eslint

AUT-5186: Apply MFA_INDEFINITELY_BLOCKED transition to ENTER_PASSWORD & HOW_DO_YOU_WANT_SECURITY_CODES
  src/components/common/state-machine/state-machine.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/utils/send-mfa-code-error-helper.ts
  test/unit/utils/send-mfa-code-error-helper.test.ts
Due: eslint

AUT-5186: Apply MFA_INDEFINITELY_BLOCKED transition to RESEND_MFA_CODE & UPLIFT_JOURNEY
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/state-machine/state-machine.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/uplift-journey/tests/uplift-journey-integration.test.ts
Due: eslint

AUT-5186: Apply MFA_INDEFINITELY_BLOCKED transition to RESET_PASSWORD_CHECK_EMAIL
  src/components/common/state-machine/state-machine.ts
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
Due: eslint

AUT-5186: Add MFA reset link to cannot use security code page
  src/components/cannot-use-security-code/cannot-use-security-code-controller.ts
  src/components/cannot-use-security-code/cannot-use-security-code-routes.ts
  src/components/cannot-use-security-code/index.njk
  src/components/cannot-use-security-code/tests/cannot-use-security-code-controller.test.ts
  src/components/cannot-use-security-code/tests/cannot-use-security-code-integration.test.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-5186: Add contentId for /cannot-use-security-code
  src/utils/contentId.ts
Due: eslint

ATO-2341: Enable feature flag in integration
  cloudformation/deploy/template.yaml
Due: none

ATO-2352: Enable JWKS signature verification in all envs
  cloudformation/deploy/template.yaml
  src/components/authorize/jwt-service.ts
  src/components/authorize/tests/jwt-service.test.ts
  src/config.ts
Due: eslint

AUT-5186: Remove unnecessary fullstop
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-use-security-code--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-use-security-code--default--en--chromium-linux.jpeg
Due: none

AUT-5188: Update UserSession to require forced MFA reset
  src/components/cannot-use-security-code/cannot-use-security-code-controller.ts
  src/components/cannot-use-security-code/tests/cannot-use-security-code-controller.test.ts
Due: eslint

AUT-5188: Add "Cannot change security codes" page variant
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/ipv-callback/tests/ipv-callback-controller.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes--only-delete-account--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes--only-delete-account--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes-identity-fail--only-delete-account--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes-identity-fail--only-delete-account--en--chromium-linux.jpeg
Due: eslint

AUT-5188: Add needsForcedMFAReset to UserSession
  src/types.ts
  src/utils/request.test.ts
  src/utils/request.ts
Due: eslint

AUT-5188: Correct Welsh translations
  src/locales/cy/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes--only-delete-account--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes-identity-fail--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-change-security-codes-identity-fail--only-delete-account--cy--chromium-linux.jpeg
Due: none

AUT-5188: Add contentIds for new template variants
  src/utils/contentId.ts
Due: eslint

BAU: Create generic CSRF/cookie helper for integration tests
  src/components/check-your-email/tests/check-your-email-integration.test.ts
  src/components/check-your-phone/tests/check-your-phone-integration.test.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/create-password/tests/create-password-integration.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-email/tests/enter-email-create-account-integration.test.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-reauth-integration.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/components/resend-email-code/tests/resend-email-code-integration.test.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-integration.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/select-mfa-options/tests/select-mfa-options-integration.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-integration.test.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  test/helpers/csrf-helper.ts
Due: eslint

AUT-5202: Add controller and router
  src/app.ts
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-controller.ts
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-routes.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-controller.test.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-integration.test.ts
Due: eslint

AUT-5202: Add /change-security-codes-sign-in template
  src/app.constants.ts
  src/components/change-security-codes-sign-in/index.njk
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/change-security-codes-sign-in--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/change-security-codes-sign-in--default--en--chromium-linux.jpeg
Due: eslint

WIP1 (next is setting the value in the user session)
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-controller.ts
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-routes.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-controller.test.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-integration.test.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-5202: Add contentId for /change-security-codes-sign-in
  src/utils/contentId.ts
Due: eslint

BAU: Set AMC cookie with SHA256 hash of request JWT for security
  src/components/sfad-authorize/sfad-authorize-controller.ts
  src/components/sfad-authorize/tests/sfad-authorize-controller.test.ts
  src/utils/amc-cookie.ts
  src/utils/tests/amc-cookie.test.ts
Due: eslint

AUT-4888: Delete unused _show-password component
  src/components/enter-password/_show-password.njk
Due: none

AUT-4888: Use design-system password field in create password screen
  src/components/create-password/index.njk
Due: none

AUT-4888: Use design-system password field in account exists screen
  src/components/enter-password/index-account-exists.njk
Due: none

AUT-4888: Create shared base component for enter/re-enter password
  src/components/common/show-password/macro.njk
Due: none

AUT-4888: Use design-system password field in enter password screen
  src/components/enter-password/index.njk
Due: none

AUT-4888: Use design-system password field in reset password screen
  src/components/reset-password/index.njk
Due: none

AUT-4888: Delete now-unused password input macros
  src/components/common/show-password/macro.njk
Due: none

AUT-4888: Remove custom styling
  src/assets/scss/application.scss
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
