Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-5529: Set new session var based on response from check user exists
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/tests/enter-email-controller.test.ts
  src/components/enter-email/types.ts
Due: eslint

BAU: Use shared browser pattern from working branch
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

BAU: Remove pull_policy from orch-stub service
  playwright-acceptance-tests/docker-compose.yml
Due: none

AUT-5503: Remove reference to @old-mfa-reset-with-ipv in acceptance test tags
  cloudformation/deploy/template.yaml
Due: none

BAU: Style reversible arrows as circles
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
  journey-map/src/stateMachineHelpers/auth-state-machine-helper.ts
Due: eslint

BAU: Make reversible transitions pink
  journey-map/public/style.css
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

BAU: Refactor the shouldPromptToRegisterPasskey function
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-controller.ts
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Fixup
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Switch-on overloadProtection in all non-dev environments
  src/app.ts
  test/unit/app.test.ts
Due: eslint

BAU: Switch-on http keepAlive for Axios in all environments
  cloudformation/deploy/template.yaml
Due: none

DFC-1100: Add GA4 isPageDataSensitive flags and contentIds across pages
  package-lock.json
  package.json
  src/components/account-created/index.njk
  src/components/account-not-found/index-one-login.njk
  src/components/cannot-use-email-address/index.njk
  src/components/check-your-email/index.njk
  src/components/check-your-phone/index.njk
  src/components/common/cookies/index.njk
  src/components/common/footer/accessibility-statement.njk
  src/components/common/layout/base.njk
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-gov-service-contact-us.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/index-submit-success.njk
  src/components/contact-us/questions/index.njk
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/components/contact-us/types.ts
  src/components/create-password/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index-account-locked.njk
  src/components/how-do-you-want-security-codes/index.njk
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/utils/contentId.ts
Due: eslint, check-package-json

DFC-1100: Add GA4 isPageDataSensitive flags and contentIds across pages
  package-lock.json
  src/components/account-created/index.njk
  src/components/common/layout/base.njk
  src/components/contact-us/contact-us-controller.ts
  src/utils/contentId.ts
Due: eslint

AUT-5524: Turn on account intervention tests
  cloudformation/deploy/template.yaml
Due: none

BAU: Fix deployment to subenvs
  cloudformation/deploy/template.yaml
Due: none

BAU: Enable @PasskeyUsageEnabled tests in Staging
  cloudformation/deploy/template.yaml
Due: none

feat(1100): added content IDs to each page theme
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/components/contact-us/types.ts
  src/utils/contentId.ts
Due: eslint

feat(DFC-1100): updated sensitivity values across pages
  package-lock.json
  package.json
  src/components/account-created/index.njk
  src/components/account-not-found/index-one-login.njk
  src/components/cannot-use-email-address/index.njk
  src/components/check-your-email/index.njk
  src/components/check-your-phone/index.njk
  src/components/common/cookies/index.njk
  src/components/common/footer/accessibility-statement.njk
  src/components/common/layout/base.njk
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-gov-service-contact-us.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/index-submit-success.njk
  src/components/contact-us/questions/index.njk
  src/components/create-password/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index-account-locked.njk
  src/components/how-do-you-want-security-codes/index.njk
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
Due: check-package-json

AUT-5550: Add passkey prompt denylist
  cloudformation/deploy/template.yaml
  src/config.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
  test/unit/config.test.ts
Due: eslint

AUT-5539: Add the relevant contentId's for the passkey screens
  src/components/cannot-sign-in-passkey/index.njk
  src/components/create-passkey/index.njk
  src/components/sign-in-with-passkey/index.njk
  src/utils/contentId.test.ts
  src/utils/contentId.ts
Due: eslint

BAU: Remove the need to specify all the validateStatuses in getInternalRequestConfigWithSecurityHeaders
  src/utils/http.ts
  test/unit/utils/http.test.ts
Due: eslint

BAU: Ensure that if there is an error during FinishPasskeyAssertion, the cannot-sign-in-passkey screen is still shown
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
  src/components/common/passkey/passkey-service.ts
  src/components/common/passkey/tests/passkey-service.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint

BAU: Enable Passkeys prompt in the staging RP Stub
  cloudformation/deploy/template.yaml
Due: none

AUT-5539: Fix the HasAcceptanceTests condition
  cloudformation/deploy/template.yaml
Due: none

AUT-5531: Suppress setup prompt when user has been on a password reset journey
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5612: Strip security headers from test proxy
  playwright-acceptance-tests/stubs/nginx.conf
Due: none

AUT-5612: Use domcontentloaded wait strategy
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
Due: eslint

AUT-5612: Add @playwright/test expect helper
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/src/support/expect.ts
Due: eslint

AUT-5331: Suppress registration prompt when user has been on forced password reset journey
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5331: Suppress passkey registration prompt when user is on common password reset journey
  src/components/enter-password/enter-password-controller.ts
  src/types.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Add mobile staging sts client to passkeys prompt allowlist
  cloudformation/deploy/template.yaml
Due: none

AUT-5503: Remove privacy notice redirect enabled flag
  src/components/common/footer/footer-pages-controller.ts
  src/components/common/footer/tests/footer-pages-integration.test.ts
Due: eslint

AUT-5503: Remove unused privacy policy page and translations
  src/components/common/footer/privacy-statement.njk
  src/components/templates/pages.test.ts
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/privacy-notice--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/privacy-notice--default--en--chromium-linux.jpeg
Due: eslint

AUT-5479: Move signing-in>security-code option to top of list
  src/components/contact-us/structure/contact-us-structure.ts
Due: eslint

AUT-5479: Reword security code hint text
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-5479: Swap ordering of TECHNICAL_ERROR and ACCOUNT_NOT_FOUND
  src/components/contact-us/structure/contact-us-structure.ts
Due: eslint

AUT-5479: Update screenshots
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-further-information--signing-in--cy--chromium-linux.jpeg
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-further-information--signing-in--en--chromium-linux.jpeg
Due: none

BAU: Pull out snapshot commands into code blocks
  README.md
Due: none

AUT-5480: Configure new subtheme
  src/app.constants.ts
Due: eslint

AUT-5479: Add passkey option to contact form further information page
  .env.local
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/contact-us/structure/contact-us-structure.ts
  src/config.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-further-information--signing-in--cy--chromium-linux.jpeg
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-further-information--signing-in--en--chromium-linux.jpeg
Due: eslint

AUT-5480: Configure page title
  src/components/contact-us/contact-us-controller.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
