Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-1416: Initialise new sessions with `mfaMethods`
  src/middleware/session-middleware.ts
Due: eslint

AUT-1416: Create `upsertDefaultSmsMfaMethod`
  src/utils/mfa.test.ts
  src/utils/mfa.ts
Due: eslint

AUT-1416: Create `removeDefaultSmsMfaMethod`
  src/utils/mfa.test.ts
  src/utils/mfa.ts
Due: eslint

AUT-1416: Replace user session phone number fields with `mfaMethods`
  src/components/account-creation/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/account-creation/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/account-recovery/change-security-codes-confirmation/tests/change-security-codes-confirmation-controller.test.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/common/layout/tests/base-integration.test.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-reauth-integration.test.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/enter-phone-number/tests/enter-phone-number-controller.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/components/resend-email-code/tests/resend-email-code-integration.test.ts
  src/components/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-controller.ts
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  src/types.ts
  test/helpers/mfa-helper.ts
Due: eslint

Alert0010950: Log RP client id in response logger
  src/components/authorize/authorize-controller.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/test-data.ts
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
  src/types.ts
  src/utils/logger.ts
Due: eslint

AUT-4133: Fix sandpit legacy frontend
  ci/terraform/kms.tf
  ci/terraform/ssm.tf
Due: none

AUT-4133: remove the Migrated resource from config to fix Sandpit (#2724)
  ci/terraform/ecs.tf
  ci/terraform/kms.tf
  ci/terraform/redis.tf
  ci/terraform/security-groups.tf
  ci/terraform/ssm.tf
Due: none

BAU: enable FMS WAF on sandpit legacy CloudFront Frontend (#2706)
  ci/terraform/cloudfront.tf
  scripts/dev_deploy_common.sh
Due: none

ATO-1435: Pass new claims to auth backend.
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

ATO-1435: Use spread operator in authorize-service
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

BAU: increase overloadProtection maxEventLoopDelay to 700ms
  src/middleware/overload-protection-middleware.ts
  src/middleware/tests/overload-protection-middleware.test.ts
Due: eslint

BAU: Dummy Commit to trigger build again for main
  ci/terraform/authdev1.tfvars
Due: none

BAU: Dummy Commit to trigger build again for main (#2751)
  ci/terraform/authdev1.tfvars
Due: none

Revert "ATO-1435: Pass new claims to auth backend."
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4085: Upgrade tsconfig.json to use 'ESNext'
  tsconfig.json
Due: none

AUT-4085: Upgrade package.json to use 'module'
  package.json
Due: check-package-json

AUT-4085: Re-use build script
  package.json
  tsconfig.json
Due: check-package-json

AUT-4085: Remove un-necessary module.exports from redis.ts
  src/utils/redis.ts
Due: eslint

AUT-4085: Fix pino import
  src/utils/logger.ts
Due: eslint

AUT-4085: Add Eslint config to require 'type' imports
  eslint.config.js
Due: eslint

AUT-4085: Fix import in redis.ts
  src/utils/redis.ts
Due: eslint

AUT-4085: Fix __dirname usages
  src/app.ts
Due: eslint

AUT-4085: Fix Nunjucks imports
  src/config/nunchucks.ts
Due: eslint

AUT-4085: Make app.test.ts compatible with ESM (POC for other tests)
  package.json
  test/unit/app.test.ts
  yarn.lock
Due: eslint, check-package-json

AUT-4085: Fix general unit test errors
  src/middleware/tests/overload-protection-middleware.test.ts
  test/unit/utils/http.test.ts
  yarn.lock
Due: eslint

AUT-4085: Use extension-style dynamic imports
  src/components/account-creation/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/account-recovery/check-your-email-security-codes/tests/check-your-email-security-codes-integration.test.ts
  src/components/authorize/tests/authorize-integration.test.ts
  src/components/check-your-email/tests/check-your-email-integration.test.ts
  src/components/check-your-phone/tests/check-your-phone-integration.test.ts
  src/components/common/cookies/tests/cookies-controller-integration.test.ts
  src/components/common/layout/tests/base-integration.test.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/create-password/tests/create-password-integration.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-email/tests/enter-email-create-account-integration.test.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-reauth-integration.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/healthcheck/tests/healthcheck-integration.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/components/landing/tests/landing-integration.test.ts
  src/components/mfa-reset-with-ipv/tests/mfa-reset-with-ipv-integration.test.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-integration.test.ts
  src/components/resend-email-code/tests/resend-email-code-integration.test.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-integration.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/select-mfa-options/tests/select-mfa-options-integration.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-integration.test.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  src/middleware/tests/overload-protection-middleware.test.ts
  test/unit/session.test.ts
Due: eslint

AUT-4085: Fix overload-protection-middleware.test.ts
  src/middleware/tests/overload-protection-middleware.test.ts
Due: eslint

AUT-4085: Replace usages of decache with esmock
  src/components/account-creation/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/account-recovery/check-your-email-security-codes/tests/check-your-email-security-codes-integration.test.ts
  src/components/authorize/tests/authorize-integration.test.ts
  src/components/check-your-email/tests/check-your-email-integration.test.ts
  src/components/check-your-phone/tests/check-your-phone-integration.test.ts
  src/components/common/cookies/tests/cookies-controller-integration.test.ts
  src/components/common/layout/tests/base-integration.test.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/create-password/tests/create-password-integration.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-email/tests/enter-email-create-account-integration.test.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-reauth-integration.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/healthcheck/tests/healthcheck-integration.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/components/landing/tests/landing-integration.test.ts
  src/components/mfa-reset-with-ipv/tests/mfa-reset-with-ipv-integration.test.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-integration.test.ts
  src/components/resend-email-code/tests/resend-email-code-integration.test.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-integration.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/select-mfa-options/tests/select-mfa-options-integration.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-integration.test.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  test/unit/session.test.ts
Due: eslint

AUT-4085: Uninstall decache
  package.json
  yarn.lock
Due: check-package-json

AUT-4085: Bodge - hack typing in the sanitize-request-middleware.ts
  src/middleware/sanitize-request-middleware.ts
Due: eslint

AUT-4085: Mock config.js to ensure correct behaviour of getPermittedJourneyForPath
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/mfa-reset-with-ipv/tests/mfa-reset-with-ipv-integration.test.ts
Due: eslint

AUT-4085: Convert sinon.spy into esmock
  src/components/check-your-phone/tests/check-your-phone-controller.test.ts
  src/components/common/mfa/tests/send-mfa-controller.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-controller.test.ts
  test/unit/utils/http.test.ts
Due: eslint

AUT-4085: Removed un-necessary mock of getRedisConfig
  test/unit/app.test.ts
Due: eslint

AUT-4085: Remove un-necessary object key expect
  src/components/authorize/tests/authorize-controller.test.ts
Due: eslint

AUT-4085: Spy on res.cookie
  src/components/authorize/tests/authorize-controller.test.ts
  src/components/common/cookies/tests/cookies-controller.test.ts
Due: eslint

AUT-4085: Replace NYC with C8
  .gitignore
  package.json
  yarn.lock
Due: check-package-json
