Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-5673: Add rp stub integration and production client ids to the PasskeyPromptClientAllowList
  cloudformation/deploy/template.yaml
Due: none

AUT-5673: Switch on passkeys in build, integration and staging for live proving
  cloudformation/deploy/template.yaml
Due: none

AUT-5673: Set PasskeyRolloutPercentage to 100 in build, integration and production
  cloudformation/deploy/template.yaml
Due: none

Revert "AUT-5673: Passkeys switch-on for live proving"
  cloudformation/deploy/template.yaml
Due: none

AUT-5549: Log index of test data for parameterised tests
  src/utils/passkeys-helper.test.ts
Due: eslint

AUT-5549: Remove use of allowlist when deciding whether to show passkey prompt
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5682: Switch on passkeys in build, integration and production for go-live
  cloudformation/deploy/template.yaml
Due: none

AUT-5556: Set PasskeyRolloutPercentage to 100 in integration and 0.25 in production
  cloudformation/deploy/template.yaml
Due: none

AUT-3966: Add govukfrontend Source bucket for enviorment
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

BAU: run pretty after version bump
  src/components/amc-service/types.ts
  src/components/common/update-profile/types.ts
  src/components/ipv-callback/types.ts
  src/components/prove-identity-callback/types.ts
Due: eslint

BAU: Add formatting commit to ignore revs file
  .git-blame-ignore-revs
Due: none

BAU: Fix call to deprecated method
  custom-lint-rules/no-res-locals-write.js
Due: eslint

BAU: Bump eslint in subprojects
  journey-map/package-lock.json
  journey-map/package.json
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
Due: none

BAU: Sync journey map package.lock with main package.lock
  journey-map/package-lock.json
Due: none

BAU: Bump typescript-eslint parser
  package-lock.json
  package.json
Due: check-package-json

BAU: Sync journey map package.lock
  journey-map/package-lock.json
Due: none

BAU: Bump version of c8
  package-lock.json
  package.json
Due: check-package-json

BAU: Bump versions of @typescript-eslint packages
  package-lock.json
  package.json
Due: check-package-json

BAU: Sync journey map package;
  journey-map/package-lock.json
Due: none

BAU: Remove eslint dependency from playwright acceptance tests
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
Due: none

BAU: Bump cucumber version
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
Due: none

BAU: Bump mocha version
  journey-map/package-lock.json
  package-lock.json
  package.json
Due: check-package-json

BAU: Bump version of nodemon
  journey-map/package-lock.json
  package-lock.json
  package.json
Due: check-package-json

AUT-3966: Adding a readme for Apex website Deployment (#3557)
  cloudformation/apex-website/README.md
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

BAU: Bump brace-expansion to fix CVE-2026-13149
  package-lock.json
Due: none

BAU: Add commit message to CodePipeline revision summary for frontend deploys
  .github/workflows/build-deploy-frontend-dev.yml
  .github/workflows/build-deploy-frontend.yml
Due: none

BAU: Remove unused update types
  src/components/common/update-profile/types.ts
Due: eslint

BAU: Remove redundant update type
  src/components/common/update-profile/tests/update-profile-service.test.ts
  src/components/common/update-profile/types.ts
Due: eslint

AUT-5710: Add Alais to cloudfront disturbution
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5710: Update Apex cert SSM parameter location
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

BAU: Fix test to stub account interventions
  src/components/create-passkey/tests/create-passkey-integration.test.ts
Due: eslint

AUT-5528: Call update profile with new skip passkey update type when a user clicks skip in auth
  src/components/common/update-profile/types.ts
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
  src/components/create-passkey/tests/create-passkey-integration.test.ts
Due: eslint

AUT-5528: Log warning but do not return error if call to update user profile fails
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
Due: eslint

BAU: Add tests that assert on what is saved in the session for the create passkey callback controller
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  test/helpers/mock-request-helper.ts
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
