Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-5438: Switch DynamoDB to be primary session store in build and production
  cloudformation/deploy/template.yaml
Due: none

AUT-5441: Enable session DynamoDB primary cutover in build and production
  cloudformation/deploy/template.yaml
Due: none

AUT-5002: After successful authentication on the device, finish the passkey assertion
  src/app.constants.ts
  src/components/common/state-machine/state-machine.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-routes.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-service.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-service.test.ts
  src/components/sign-in-with-passkey/types.ts
Due: eslint

BAU: Fix WebAuthn script to write COSE key correctly
  scripts/generate_webauthn/README.md
  scripts/generate_webauthn/generate_webauthn_script.py
Due: none

BAU: Bump serialize-javascript override to 7.0.5
  package-lock.json
  package.json
Due: check-package-json

BAU: Override uuid to 11.1.1
  journey-map/package-lock.json
  journey-map/package.json
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
Due: none

AUT-5002: Refactor the sign-in-with-passkey-service to return an object with the startPasskeyAssertion and finishPasskeyAssertion methods
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-service.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-service.test.ts
  src/components/sign-in-with-passkey/types.ts
Due: eslint

AUT-5002: Align the response with the response from the api and pass it directly into the template
  src/components/sign-in-with-passkey/index.njk
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
  src/components/sign-in-with-passkey/types.ts
Due: eslint

AUT-5456: deploy ALB to access private API
  cloudformation/alb/alb-to-private-api.yaml
Due: none

BAU: Enable passkey sign-in in Build and Staging
  cloudformation/deploy/template.yaml
Due: none

BAU: Turn off passkey usage in build
  cloudformation/deploy/template.yaml
Due: none

AUT-4990: Create cannot-sign-in-passkey in template viewer
  src/app.constants.ts
  src/components/cannot-sign-in-passkey/index.njk
  src/components/templates/pages.ts
Due: eslint

AUT-4990: Add translations and update screenshots
  src/components/cannot-sign-in-passkey/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-sign-in-passkey--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-sign-in-passkey--default--en--chromium-linux.jpeg
Due: none

AUT-4990: Add different content for 1FA vs 2FA journey
  src/components/cannot-sign-in-passkey/index.njk
  src/components/templates/pages.ts
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-sign-in-passkey--1FA-journey--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-sign-in-passkey--1FA-journey--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-sign-in-passkey--2FA-journey--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-sign-in-passkey--2FA-journey--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cannot-sign-in-passkey--default--cy--chromium-linux.jpeg
Due: eslint

BAU: Move signInWithPasskeyRouter within passkey usage feature flag
  src/app.ts
Due: eslint

BAU: Update webauthn script to load variables from .env file
  scripts/generate_webauthn/README.md
  scripts/generate_webauthn/generate_webauthn_script.py
Due: none

AUT-4990: Register cannotSignInPasskey GET route
  src/app.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-routes.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
Due: eslint

AUT-4990: Transition from signInWithPasskey to cannotSignInPasskey on error
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint

AUT-4990: Renamed user journey events to match audit event names
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
Due: eslint

AUT-4990: Validate submission of cannot-sign-in-passkey page
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-routes.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-validation.ts
  src/components/cannot-sign-in-passkey/index.njk
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
Due: eslint

AUT-5442: Directly return Dynamo session store
  src/app.ts
  src/config/session.ts
  test/unit/app.test.ts
  test/unit/session.test.ts
Due: eslint

AUT-5442: Remove dual session store
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5442: Remove Redis env vars and doc references
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-merge-checks.yml
  README.md
  cloudformation/deploy/template.yaml
  docker-compose-proxy.yml
  docker-compose.frontend.yml
  docker-compose.yml
  pre-commit.sh
  scripts/_create_env_file.py
  start-frontend-with-proxy.sh
  startup.sh
Due: none

AUT-5442: Remove dual session store env vars
  cloudformation/deploy/template.yaml
  src/config.ts
  test/unit/config.test.ts
Due: eslint

AUT-5442: Remove Redis packages
  journey-map/package-lock.json
  package-lock.json
  package.json
Due: check-package-json

AUT-5442: Remove Redis helpers
  src/utils/redis.ts
  src/utils/types.ts
  test/unit/app.test.ts
  test/unit/utils/redis.test.ts
Due: eslint

AUT-5442: Remove obsolete Redis node size mappings
  cloudformation/deploy/template.yaml
Due: none

BAU: Add automatic Docker Desktop startup to local `startup.sh`
  startup.sh
Due: none

AUT-5456: Add FMS tag to ALB
  cloudformation/alb/alb-to-private-api.yaml
Due: none

BAU: Switch all passkeys routes to use non-persisting user journey middleware
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-routes.ts
  src/components/create-passkey/create-passkey-routes.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-routes.ts
Due: eslint

AUT-5540: Dockerfile hardening for playwright-acceptance-tests/Dockerfile
  playwright-acceptance-tests/Dockerfile
Due: none

AUT-5540: Dockerfile hardening for playwright-acceptance-tests/Dockerfile
  playwright-acceptance-tests/.dockerignore
  playwright-acceptance-tests/Dockerfile
Due: none

AUT-5540: Dockerfile hardening for service-down-page-config/Dockerfile
  service-down-page-config/Dockerfile
Due: none

AUT-5540: Dockerfile hardening for snapshots-playwright.Dockerfile
  .github/workflows/playwright-acceptance-tests.yml
  .github/workflows/pre-merge-checks.yml
  docker-compose.snapshots.yml
  playwright-acceptance-tests/docker-compose.yml
  snapshots-playwright.Dockerfile
Due: none

AUT-5540: Dockerfile hardening for playwright-acceptance-tests/Dockerfile
  .github/workflows/playwright-acceptance-tests.yml
  playwright-acceptance-tests/.dockerignore
  playwright-acceptance-tests/Dockerfile
  playwright-acceptance-tests/docker-compose.yml
Due: none

AUT-5540: Dockerfile hardening for snapshots-playwright.Dockerfile
  .github/workflows/pre-merge-checks.yml
  docker-compose.snapshots.yml
  snapshots-playwright.Dockerfile
Due: none

AUT-5001: Extract sign-in-with-passkey-service into common passkey-service
  src/components/common/passkey/passkey-service.ts
  src/components/common/passkey/tests/passkey-service.test.ts
  src/components/common/passkey/types.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
Due: eslint

AUT-5001: On CannotSignInPasskey GET call StartPasskeyAssertionHandler
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-routes.ts
  src/components/cannot-sign-in-passkey/index.njk
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
Due: eslint

AUT-5001: When the user chooses to retry, prompt them to sign in with their passkey
  src/components/cannot-sign-in-passkey/index.njk
Due: none
