Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-4888: Remove custom showPassword.js script
  package.json
  src/assets/javascript/application.js
  src/assets/javascript/showPassword.js
  src/components/create-password/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index.njk
  src/components/reset-password/index.njk
  src/utils/logger.ts
Due: eslint, check-package-json

AUT-4888: Import password-input styling
  src/assets/scss/application.scss
Due: none

AUT-4888: Update screenshot tests
  test/snapshot/pages.snapshot.test.ts-snapshots/create-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/create-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password-account-exists--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password-account-exists--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--required--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--required--en--chromium-linux.jpeg
Due: none

AUT-5202: Add controller and router
  src/app.ts
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-controller.ts
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-routes.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-controller.test.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-integration.test.ts
Due: eslint

AUT-5202: Add contentId for /change-security-codes-sign-in
  src/utils/contentId.ts
Due: eslint

AUT-5202: Set needsForcedMFAReset from user-exists API response
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/tests/enter-email-controller.test.ts
  src/components/enter-email/types.ts
Due: eslint

AUT-5202: POST /change-security-codes-sign-in
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-controller.ts
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-routes.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-controller.test.ts
  src/components/change-security-codes-sign-in/tests/change-security-codes-sign-in-integration.test.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-5202: Enable transition to /change-security-codes-sign-in
  src/components/change-security-codes-sign-in/change-security-codes-sign-in-routes.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
Due: eslint

AUT-5202: Add /change-security-codes-sign-in template
  src/app.constants.ts
  src/components/change-security-codes-sign-in/index.njk
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/change-security-codes-sign-in--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/change-security-codes-sign-in--default--en--chromium-linux.jpeg
Due: eslint

BAU: Create generic CSRF/cookie helper for integration tests
  src/components/check-your-email/tests/check-your-email-integration.test.ts
  src/components/check-your-phone/tests/check-your-phone-integration.test.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/create-password/tests/create-password-integration.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-email/tests/enter-email-create-account-integration.test.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-reauth-integration.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/components/resend-email-code/tests/resend-email-code-integration.test.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-integration.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/select-mfa-options/tests/select-mfa-options-integration.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-integration.test.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  test/helpers/csrf-helper.ts
Due: eslint

BAU: Handle when cookie consent JSON is malformed
  src/components/common/cookie-consent/cookie-consent-service.ts
  src/components/common/cookie-consent/tests/cookie-consent-service.test.ts
Due: eslint

BAU: pin minimatch to 10.2.1
  package-lock.json
  package.json
Due: check-package-json

AUT-5202: Set needsForcedMFAReset to false after reset
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/account-recovery/change-security-codes-confirmation/tests/change-security-codes-confirmation-controller.test.ts
Due: eslint

AUT-5202: Handle `needsForcedMFAReset` for other journey types
  src/components/ipv-callback/tests/ipv-callback-controller.test.ts
  src/components/ipv-callback/tests/ipv-callback-integration.test.ts
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
  src/utils/request.test.ts
  src/utils/request.ts
Due: eslint

AUT-5202: Refactor needsForcedMFAReset
  src/utils/request.test.ts
  src/utils/request.ts
Due: eslint

AUT-5202: Add log on completion of forced MFA reset
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/account-recovery/change-security-codes-confirmation/tests/change-security-codes-confirmation-controller.test.ts
Due: eslint

BAU: Add kiro to gitignore
  .gitignore
Due: none

BAU: Fix local running
  .env.local
  dev-check-environment.js
  scripts/_create_env_file.py
Due: eslint

AUT-4927 Add Docker and GitHub Actions support for Playwright acceptance tests
  .github/workflows/playwright-acceptance-tests.yml
  playwright-acceptance-tests/.dockerignore
  playwright-acceptance-tests/.gitignore
  playwright-acceptance-tests/Dockerfile
  playwright-acceptance-tests/cucumber.js
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/run-test-with-report.js
  playwright-acceptance-tests/scripts/run-docker.sh
Due: eslint

BAU: Pin minimum serialize-javascript
  package-lock.json
  package.json
Due: check-package-json

BAU: Upgrade ts eslint to 8.55.0
  package-lock.json
  package.json
Due: check-package-json

BAU: Pin dompurify to 3.2.7
  journey-map/package-lock.json
  journey-map/package.json
  package-lock.json
  package.json
Due: check-package-json

BAU: Upgrade @aws-sdk/client-*
  package-lock.json
  package.json
Due: check-package-json

AUT-4927: Add shared env configuration for playwright acceptance tests
  playwright-acceptance-tests/.env
Due: none

AUT-5210: Create basic create passkey page
  src/app.constants.ts
  src/app.ts
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/create-passkey-routes.ts
  src/components/create-passkey/index.njk
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/create-passkey--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/create-passkey--default--en--chromium-linux.jpeg
Due: eslint

AUT-5210: Take into account whether user has skipped passkey registration in should prompt to register passkey
  src/types.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5210: Route to create passkey page at the end of a sign in journey
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
Due: eslint

AUT-5210: Handle user skipping passkey registration
  src/components/common/state-machine/state-machine.ts
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/create-passkey-routes.ts
  src/components/create-passkey/index.njk
  src/components/create-passkey/tests/create-passkey-controller.test.ts
  src/components/create-passkey/tests/create-passkey-integration.test.ts
Due: eslint

AUT-5210: Prevent double click of skip button
  src/components/create-passkey/index.njk
Due: none

AUT-5210: Prevent double click of buttons on create passkey page
  src/components/create-passkey/index.njk
Due: none

AUT-5309: Run detect-secrets as a pre-commit check
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

BAU: Update GHA action to test
  .github/workflows/build-deploy-frontend-dev.yml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
