Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: npm run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: npm run pretty --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-4439: Review tweaks
  .env.local
  playwright.config.ts
  test/snapshot/contact-us.snapshot.test.ts
Due: eslint

AUT-4811: Add screenreader bullet point to 'accessibility of One Login' section
  src/components/common/footer/accessibility-statement.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4811: Add screenreader bullet point to 'non compliance' section
  src/components/common/footer/accessibility-statement.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4812: Remove unused optionalData param
  src/components/contact-us/contact-us-service.ts
Due: eslint

AUT-4812: Add radio button presence check validation
  src/components/contact-us/validation/contact-us-questions-validation.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4812: Add radio buttons for 'what were you answering questions about' question
  src/components/contact-us/questions/_proving-identity-problem-answering-security-questions.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4812: Attach reason for answering questions to custom attributes
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-service.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-4812: Wrap new radio buttons in feature flag
  @types/express/index.d.ts
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/contact-us/questions/_proving-identity-problem-answering-security-questions.njk
  src/config.ts
  src/middleware/set-local-vars-middleware.ts
Due: eslint

BAU: set GA4 data to sensitive globally
  src/components/common/layout/base.njk
Due: none

BAU: bump frontend analytics to 4.0.5
  package.json
  yarn.lock
Due: check-package-json

BAU: Switch-off parallel running for snapshot tests
  playwright.config.ts
Due: eslint

AUT-4865: Switch Auth Internal Api in build and staging
  cloudformation/deploy/template.yaml
Due: none

AUT-4865: Switch on the new Auth internal API in integration Env
  cloudformation/deploy/template.yaml
Due: none

AUT-4865: Remove integration switch for now
  cloudformation/deploy/template.yaml
Due: none

BAU: Preload welsh language
  playwright.config.ts
  src/config/i18next.ts
Due: eslint

AUT-4812: Add radio buttons for 'what were you answering questions about' question
  README.md
  src/components/contact-us/questions/_proving-identity-problem-answering-security-questions.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-questions--proving-identity--proving-identity-problem-answering-security-questions--cy--chromium-linux.jpeg
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-questions--proving-identity--proving-identity-problem-answering-security-questions--en--chromium-linux.jpeg
Due: none

AUT-4865: Switch on the new Auth internal API in build & staging Env (#3045)
  cloudformation/deploy/template.yaml
Due: none

AUT-4865: Switch Auth Internal API in Integration
  cloudformation/deploy/template.yaml
Due: none

AUT-4812: Add radio button presence check validation
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/tests/contact-us-validation.test.ts
  src/components/contact-us/validation/contact-us-questions-validation.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

BAU: bump FE analytics version to most recent
  package.json
  yarn.lock
Due: check-package-json

BAU: remove isDataSensitive parameter
  src/components/common/layout/base.njk
Due: none

Revert "AUT-4865: Switch on the new Auth internal API in build & staging Env …"
  cloudformation/deploy/template.yaml
Due: none

Revert "AUT-4865: Switch on the new Auth internal API in build & staging Env …" (#3051)
  cloudformation/deploy/template.yaml
Due: none

AUT-4812: Wrap new radio buttons in feature flag
  .env.local
  @types/express/index.d.ts
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/contact-us/questions/_proving-identity-problem-answering-security-questions.njk
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/config.ts
  src/middleware/set-local-vars-middleware.ts
Due: eslint

AUT-4812: Add documentation for handling environment variables
  README.md
Due: none

AUT-4866: Switch the Auth internal API in prod
  cloudformation/deploy/template.yaml
Due: none

AUT-4866: Switch the Api in build & staging
  cloudformation/deploy/template.yaml
Due: none

BAU: Switch Api in all dev env
  cloudformation/deploy/template.yaml
Due: none

AUT-4812: Block unknown values from being submitted
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-validation.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/validation/contact-us-questions-validation.ts
Due: eslint

BAU: Remove analytics statusCode from email block error page
  src/components/cannot-use-email-address/index.njk
Due: none

BAU: Set email block error page status code
  src/components/cannot-use-email-address/cannot-use-email-address-controller.ts
  src/components/cannot-use-email-address/tests/cannot-use-email-address-controller.test.ts
Due: eslint

BAU: Fix inconsistent error message text in cannot use email address page
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4644: Host apple-app-site-association file in non-prod
  src/app.constants.ts
  src/app.ts
  src/components/templates/pages.test.ts
  src/components/well-known/tests/well-known-controller.test.ts
  src/components/well-known/well-known-controller.ts
  src/components/well-known/well-known-routes.ts
Due: eslint

BAU: Update the dev internal-api URI
  cloudformation/deploy/template.yaml
Due: none

AUT-4911: Consume journey id from orchestration JAR
  src/components/authorize/authorize-controller.ts
  src/middleware/session-middleware.ts
  src/types.ts
  src/utils/logger.ts
Due: eslint

AUT-4911: Test changes
  src/components/authorize/tests/authorize-controller.test.ts
  src/middleware/tests/session-middleware.test.ts
  test/helpers/mock-request-helper.ts
Due: eslint
