Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain-fmt, eslint, tfupdate-lock

rain-fmt:
  name: rain fmt (cfn templates)
  language: golang
  additional_dependencies:
  - github.com/aws-cloudformation/rain/cmd/rain@v1.21.0
  entry: rain fmt -w --node-style original

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

BAU: Add "Integration Tests" configuration
  .run/Integration Tests.run.xml
  .run/Template Mocha.run.xml
  README.md
Due: none

AUT-4114: Remove PROVE_IDENTITY path name
  src/app.constants.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-service.test.ts
Due: eslint

AUT-4114: Remove PROVE_IDENTITY from state machine
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4114: Remove PROVE_IDENTITY routes and controller
  src/app.ts
  src/components/prove-identity-callback/tests/__snapshots__/prove-identity-callback-integration.test.ts.snap
  src/components/prove-identity/prove-identity-controller.ts
  src/components/prove-identity/prove-identity-routes.ts
  src/components/prove-identity/tests/prove-identity-controller.test.ts
  src/components/prove-identity/tests/prove-identity-integration.test.ts
  src/components/prove-identity/types.ts
Due: eslint

AUT-3893: Remove prove identity welcome from the state machine
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
Due: eslint

AUT-3893: Remove prove-identity-welcome
  src/app.constants.ts
  src/app.ts
  src/components/prove-identity-welcome/index-existing-session.njk
  src/components/prove-identity-welcome/index.njk
  src/components/prove-identity-welcome/prove-identity-welcome-controller.ts
  src/components/prove-identity-welcome/prove-identity-welcome-routes.ts
  src/components/prove-identity-welcome/tests/prove-identity-welcome-controller.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-3893: Remove PROVE_IDENTITY_WELCOME_ENABLED
  ci/terraform/ecs.tf
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/components/prove-identity-welcome/prove-identity-welcome-controller.ts
  src/components/prove-identity-welcome/tests/prove-identity-welcome-controller.test.ts
  src/config.ts
Due: rain-fmt, eslint

AUT-3775: Remove suspect-unauthorised-access feature flag
  cloudformation/deploy/template.yaml
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/config.ts
Due: rain-fmt, eslint

AUT-4121: remove signin-sp zone A records from frontend template
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-4118: Refactor/reorganise contact-us-questions-controller.test.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
Due: eslint

ATO-1435: Pass new claims to auth backend.
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

BAU: remove legacy frontend deployment script and GHA template
  .github/workflows/build-deploy-frontend-dev.yml
  .github/workflows/build-deploy-frontend.yml
  .github/workflows/deploy-frontend-sp-dev.yml
  .github/workflows/deploy-frontend-sp.yml
  deploy-authdevs.sh
Due: none

BAU: Shell checks for Sam deploy scripts
  deploy-authdevs.sh
Due: none

BAU: Updated the AWS profile for new dev account
  deploy-authdevs.sh
Due: none

AUT-4118: Fix backurl link from /contact-us-questions page
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
Due: eslint

AUT-4167: Remove suspect-unauthorised-access feature flag
  cloudformation/deploy/template.yaml
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/config.ts
Due: rain-fmt, eslint

AUT-4169: Do not log on healthcheck requests
  src/components/enter-email/enter-email-controller.ts
  src/components/healthcheck/healthcheck-controller.ts
  src/utils/logger.ts
Due: eslint

AUT-3905: Reorder `CONTENT_IDS` properties
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate static page contentIds
  src/components/common/cookies/index.njk
  src/components/common/footer/accessibility-statement.njk
  src/components/common/footer/privacy-statement.njk
  src/components/common/footer/support.njk
  src/components/common/footer/terms-conditions.njk
  src/components/updated-terms-conditions/index.njk
  src/utils/contentId.ts
Due: eslint

AUT-3905: Refactor how contentIds are recorded
  src/types.ts
  src/utils/contentId.test.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Move `CONTENT_IDS` to `contentId.ts`
  src/app.constants.ts
  src/middleware/get-analytics-properties-middleware.ts
  src/utils/contentId.ts
Due: eslint

BAU: Delete two unused templates
  src/components/reset-password-check-email/index-exceeded-request-count.njk
  src/components/reset-password-check-email/index-request-attempt-blocked.njk
Due: none

AUT-3905: Consolidate email checking contentIds
  src/components/account-recovery/check-your-email-security-codes/check-your-email-security-codes-controller.ts
  src/components/account-recovery/check-your-email-security-codes/tests/__snapshots__/check-your-email-security-codes-integration.test.ts.snap
  src/components/check-your-email/index.njk
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/index-create-account.njk
  src/components/resend-email-code/index.njk
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate change codes contentIds
  src/components/account-recovery/change-security-codes-confirmation/index.njk
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/components/select-mfa-options/tests/__snapshots__/select-mfa-options-integration.test.ts.snap
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate account not found contentIds
  src/components/account-not-found/index-mandatory.njk
  src/components/account-not-found/index-mobile.njk
  src/components/account-not-found/index-one-login.njk
  src/components/account-not-found/index-optional.njk
  src/utils/contentId.ts
Due: eslint

AUT-3905: Simplify CONTENT_IDS type
  src/types.ts
  src/utils/contentId.test.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate reset password check email contentIds
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/__snapshots__/reset-password-check-email-integration.test.ts.snap
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate MFA creation contentIds
  src/components/check-your-phone/index.njk
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/enter-phone-number/tests/__snapshots__/enter-phone-number-integration.test.ts.snap
  src/components/enter-phone-number/tests/enter-phone-number-controller.test.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/setup-authenticator-app/tests/__snapshots__/setup-authenticator-app-integration.test.ts.snap
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate reset password contentIds
  src/components/account-intervention/password-reset-required/index.njk
  src/components/reset-password-2fa-auth-app/index.njk
  src/components/reset-password-2fa-sms/index.njk
  src/components/reset-password/index.njk
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/tests/reset-password-controller.test.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate account interventions contentIds
  src/components/account-intervention/permanently-blocked/index.njk
  src/components/account-intervention/temporarily-blocked/index.njk
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate security code error contentIds
  src/components/security-code-error/security-code-error-controller.ts
  src/components/security-code-error/tests/security-code-error-controller.test.ts
  src/components/security-code-error/tests/test-scenario-data.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate contact us contentIds
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-gov-service-contact-us.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/index-submit-success.njk
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate journey bookend page contentIds
  src/components/account-created/index.njk
  src/components/sign-in-or-create/index-mobile.njk
  src/components/sign-in-or-create/index.njk
  src/components/signed-out/signed-out-controller.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate create password contentId
  src/components/create-password/index.njk
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate prove identity callback contentIds
  src/components/prove-identity-callback/index-new-spinner.njk
  src/components/prove-identity-callback/index.njk
  src/components/prove-identity-callback/session-expiry-error.njk
  src/utils/contentId.ts
Due: eslint

AUT-3905: Consolidate creation resend MFA code contentIds
  src/components/account-creation/resend-mfa-code/index.njk
  src/components/account-creation/resend-mfa-code/resend-mfa-code-controller.ts
  src/utils/contentId.ts
Due: eslint

AUT-3905: Rename isContactUsSuggestionsFeedbackTheme
  src/utils/contentId.ts
  src/utils/request.test.ts
  src/utils/request.ts
Due: eslint

AUT-3905: Correct `clientUsesOneLoginOptionally`
  src/utils/request.test.ts
  src/utils/request.ts
Due: eslint

AUT-3905: CONTENT_IDS does not need to be exported
  src/utils/contentId.ts
Due: eslint

Path conditions:
  rain-fmt: any of: .*template.yaml$
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
