Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-5707: Add @aws-sdk/client-sqs package
  package-lock.json
  package.json
Due: check-package-json

AUT-5707: WIP
  src/components/audit-event/audit-event-queue-service.ts
  src/config/sqs-client.ts
Due: eslint

BAU: Remove redundant newCodeLink from index-too-many-requests template
  src/components/security-code-error/index-too-many-requests.njk
  src/components/security-code-error/security-code-error-controller.ts
  src/components/security-code-error/tests/security-code-error-controller.test.ts
  src/components/templates/pages.ts
Due: eslint

BAU: Stop passing redundant isAccountCreationJourney into too-many-requests template
  src/components/security-code-error/security-code-error-controller.ts
  src/components/security-code-error/tests/security-code-error-controller.test.ts
  src/components/templates/pages.ts
Due: eslint

AUT-5707: Create an SqsClient that can be used to send messages to an SQS Queue
  src/config/sqs-client.ts
Due: eslint

BAU: basic implementation for the FE audit events
  src/components/audit-event/audit-event-queue-service.ts
Due: eslint

BAU: Remove link from translations
  src/components/reset-password-check-email/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

feat: Split paths with jobs into jobs + steps
  quality-gate.manifest.json
Due: none

BAU: Remove noisy logging
  src/components/authorize/authorize-controller.ts
Due: eslint

BAU: Switch order of passkey prompt checks
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5611: Redirect accessibility statement to GOV.UK
  src/components/common/footer/footer-pages-controller.ts
  src/components/common/footer/tests/footer-pages-integration.test.ts
  src/components/common/layout/tests/base-integration.test.ts
Due: eslint

AUT-5611: Use a ternary for the footer redirect URLs
  src/components/common/footer/footer-pages-controller.ts
Due: eslint

AUT-5707: Create SqsClient that can be used to send messages to an SQS Queue
  src/config/sqs-client.ts
Due: eslint

AUT-5707: Lazily initialise the SQS client
  src/config/sqs-client.ts
Due: eslint

AUT-5707: Add helper methods to the SqsClient
  src/config/sqs-client.ts
Due: eslint

AUT-5707: Add audit-event-queue-service
  docker-compose.integration.yml
  src/components/audit-event/audit-event-queue-service.ts
  src/components/audit-event/tests/audit-event-queue-service-integration.test.ts
  src/components/audit-event/types.ts
  src/config.ts
Due: eslint

AUT-5707: Start flocci in GHA before running integration tests
  .github/workflows/pre-merge-checks.yml
Due: none

BAU: Add log to check authenticated value sent from orchestration
  src/components/authorize/authorize-controller.ts
Due: eslint

BAU: DO NOT MERGE: Demo dev deploy
  src/locales/en/translation.json
Due: none

AUT-5800: Remove redundant log
  src/components/authorize/authorize-controller.ts
Due: eslint

hi christian
  .pre-commit-config.yaml
  package.json
  src/components/audit-event/audit-event-queue-service.ts
  src/components/audit-event/send-audit-event.ts
  src/components/audit-event/tests/audit-event-queue-service-integration.test.ts
  src/components/audit-event/types.ts
  src/config/sqs-client.ts
  src/config/sqs-service.ts
  src/config/tests/sqs-service-integration.test.ts
  src/test-utils/floci-setup.ts
Due: eslint, check-package-json

AUT-5707: Add docker-compose.integration.yml to start flocci
  docker-compose.integration.yml
Due: none

AUT-5707: Edit run configuration for Integration Tests.run.xml
  .run/Integration Test Setup.run.xml
  .run/Integration Tests.run.xml
Due: none

AUT-5707: Refactor sqs-client to sqs-service
  src/config/sqs-client.ts
  src/config/sqs-service.ts
  src/config/tests/sqs-service-integration.test.ts
Due: eslint

BAU: Point authdev3 at Orch dev
  cloudformation/deploy/template.yaml
Due: none

BAU: Pin qs >=6.16.0 to fix arrayLimit comma bypass (CVE-2026-2391)
  journey-map/package-lock.json
  journey-map/package.json
  package-lock.json
  package.json
Due: check-package-json

BAU: Fix 'macOS' typo
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

BAU: Add nvmrc to journey-map
  journey-map/.nvmrc
Due: none

BAU: Bump frontend dependencies
  package-lock.json
Due: none

BAU: Bump journey-map dependencies
  journey-map/package-lock.json
Due: none

BAU: Increase passkey prompt rollout to 100%
  cloudformation/deploy/template.yaml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
