Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

Revert "BROKEN - frontendUiMiddleware work"
  @types/express/index.d.ts
  src/app.ts
Due: eslint

wip - self handled progress button translations
  src/components/enter-authenticator-app-code/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

wip - add required error page href
  src/components/enter-authenticator-app-code/index.njk
Due: none

wip - macro
  src/components/common/progress-button/macro.njk
  src/components/enter-authenticator-app-code/index.njk
Due: none

simplify macro
  src/components/common/progress-button/macro.njk
  src/components/enter-authenticator-app-code/index.njk
Due: none

pass lang in locals
  @types/express/index.d.ts
  src/app.ts
Due: eslint

fallback to htmlLang and "en" lang, add some optional typing to FilterContext
  src/config/nunchucks.ts
Due: eslint

add debug
  src/config/nunchucks.ts
Due: eslint

This is just a test
  playwright-acceptance-tests/test-file.ts
Due: eslint

AUT-4911 Clean up clientSessionId references
  src/components/account-creation/resend-mfa-code/tests/resend-mfa-code-controller.test.ts
  src/components/auth-code/tests/auth-code-controller.test.ts
  src/components/common/account-recovery/tests/account-recovery-helper.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-integration.test.ts
  src/components/select-mfa-options/tests/select-mfa-options-integration.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-integration.test.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  src/middleware/tests/session-middleware.test.ts
  test/unit/middleware/account-interventions-middleware.test.ts
Due: eslint

husky test
  playwright-acceptance-tests/.eslintrc.cjs
  playwright-acceptance-tests/.gitignore
  playwright-acceptance-tests/README.md
  playwright-acceptance-tests/clean-json.js
  playwright-acceptance-tests/clean-reports.js
  playwright-acceptance-tests/cucumber.js
  playwright-acceptance-tests/features/create-or-signin.feature
  playwright-acceptance-tests/features/stub-journey.feature
  playwright-acceptance-tests/prettierrc
  playwright-acceptance-tests/run-test-with-report.js
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
  playwright-acceptance-tests/src/steps/stub-journey.steps.ts
  playwright-acceptance-tests/src/support/env.ts
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/src/support/world.ts
  playwright-acceptance-tests/test2-file.ts
  playwright-acceptance-tests/tsconfig.json
Due: eslint

AUT-4911 Add to proxy bastion and fix lint
  cloudformation/bastion/bastion-host.yaml
  src/components/ipv-callback/tests/ipv-callback-controller.test.ts
Due: eslint

BAU: Update VTR local env var to use a single vector
  .env.local
Due: none

Husky eslint test
  playwright-acceptance-tests/test-file.ts
  playwright-acceptance-tests/test11-file.ts
Due: eslint

Clean-up
  playwright-acceptance-tests/test12-file.ts
Due: eslint

chore: set up Husky pre-commit for Playwright and remove test files
  .husky/pre-commit
  package.json
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/test-file.ts
  playwright-acceptance-tests/test11-file.ts
  playwright-acceptance-tests/test12-file.ts
  playwright-acceptance-tests/test2-file.ts
Due: eslint, check-package-json

AUT-4798: Store hasActivePasskey in user session
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/types.ts
  src/types.ts
Due: eslint

Clean-up
  playwright-acceptance-tests/README.md
Due: none

Playwright-Acceptance-Tests
  playwright-acceptance-tests/README.md
Due: none

AUT-4798: Add shouldPrompt_Passkey to state machine context
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
Due: eslint

AUT-4798: Extract 'should prompt' checks to functions
  src/components/common/state-machine/state-machine-executor.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

Switch progress button to template from macro due to translation context being unavailable
  src/components/common/progress-button/macro.njk
  src/components/common/progress-button/template.njk
  src/components/enter-authenticator-app-code/index.njk
Due: none

AUT-3933: Add `@govuk-one-login/frontend-ui` to scss
  src/assets/scss/application.scss
Due: none

AUT-3933: Add `@govuk-one-login/frontend-ui` package
  package.json
  yarn.lock
Due: check-package-json

AUT-3933: Add `@govuk-one-login/frontend-ui` JS to dist dir
  package.json
  src/utils/logger.ts
Due: eslint, check-package-json

AUT-3933: Add progress button template and translations
  src/components/common/progress-button/template.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-3933: Include progress button on `/enter-authenticator-app-code` path
  src/components/enter-authenticator-app-code/index.njk
Due: none

WIP: log api calls
  package.json
  src/utils/http.ts
  yarn.lock
Due: eslint, check-package-json

BAU: make yarn ignore scripts
  .yarnrc
Due: none

BAU: Use .yarnrc in Dockerfiles
  Dockerfile
  Dockerfile-stub
  dev.Dockerfile
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
Due: none

BAU: use 'yarn install --ignore-scripts' in github actions
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
Due: none

AUT-4742: Delete yarn lock file
  package-lock.json
  yarn.lock
Due: none

AUT-4742: Use npm run in package.json scripts
  README.md
  package.json
Due: check-package-json

BAU: ignore Dockerfiles in prettier
  .prettierignore
Due: none

AUT-4742: Remove yarn references in .gitignore
  .gitignore
Due: none

AUT-4742: Use npm in pre-commit
  pre-commit.sh
Due: none

BAU: Install esbuild binaries manually
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
  startup.sh
Due: none

BAU: Delete unused 'LOCAL' variable
  pre-commit.sh
Due: none

AUT-4742: Use npm in GHA workflows
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
  .pre-commit-config.yaml
Due: none
