Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-3966: Move Lambda role to managed Policy
  .github/workflows/build-deploy-apex-website-dev.yml
  .github/workflows/build-deploy-apex-website.yml
  apex-website/lambda-functions/copier_lambda.py
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-3966: Inject checksum for govuk Artifact
  .github/workflows/build-deploy-apex-website-dev.yml
  .github/workflows/build-deploy-apex-website.yml
Due: none

AUT-5044: Add account-interventions-middleware to the create-passkey get route
  playwright-acceptance-tests/features/account-interventions.feature
  playwright-acceptance-tests/src/steps/common.step.ts
  src/components/common/state-machine/state-machine.ts
  src/components/create-passkey/create-passkey-routes.ts
  test/unit/middleware/account-interventions-middleware.test.ts
Due: eslint

AUT-5549: Log index of test data for parameterised tests
  src/utils/passkeys-helper.test.ts
Due: eslint

AUT-5549: Remove use of allowlist when deciding whether to show passkey prompt
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5044: Refactor the account-interventions-middleware to take an options object as a param
  src/components/auth-code/auth-code-routes.ts
  src/components/create-passkey/create-passkey-routes.ts
  src/components/create-passkey/tests/create-passkey-integration.test.ts
  src/components/reset-password/reset-password-routes.ts
  src/middleware/account-interventions-middleware.ts
  test/unit/middleware/account-interventions-middleware.test.ts
Due: eslint

WIP: Repoint to govuk-frontend when deployed to cloudfront
  .env.local
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/app.ts
  src/components/common/layout/base.njk
  src/config.ts
  src/config/helmet.ts
  src/config/nunchucks.ts
Due: eslint

AUT-5643: Add optional 'reason' field to the ga4Params
  src/components/ga4-opl/template.njk
Due: none

temp
  src/components/enter-email/enter-email-controller.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5643: Send passkeySignInWebauthnError as a query param in sign in with passkey post controller
  src/components/sign-in-with-passkey/index.njk
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint

AUT-5643: Send the passkeySignInWebauthnError when there is a webauthn error on the cannot-sign-in-passkey page
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
Due: eslint

AUT-5643: Validate the passkeySignInWebauthnError is a valid webauthn error and send it to google analytics
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/index.njk
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
  src/components/common/constants.ts
Due: eslint

AUT-3966: Adding a readme for Apex website Deployment
  cloudformation/apex-website/README.md
Due: none

BAU: Refactor the shouldPromptToRegisterPasskey function
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Bump js yaml
  package-lock.json
  package.json
Due: check-package-json

BAU: Sync sub projects
  journey-map/package-lock.json
  playwright-acceptance-tests/stubs/api-stub/package-lock.json
Due: none

AUT-5556: Switch on passkeys acceptance tests in build
  cloudformation/deploy/template.yaml
Due: none

AUT-5682: Switch on passkeys in build, integration and production for go-live
  cloudformation/deploy/template.yaml
Due: none

AUT-5548: Test rollout percentages using decimals
  src/utils/passkeys-helper.test.ts
Due: eslint

AUT-5548: use 'language: system' for local pre-commit hooks
  .pre-commit-config.yaml
Due: none

AUT-5673: Add rp stub integration and production client ids to the PasskeyPromptClientAllowList
  cloudformation/deploy/template.yaml
Due: none

AUT-5673: Switch on passkeys in build, integration and staging for live proving
  cloudformation/deploy/template.yaml
Due: none

AUT-5673: Set PasskeyRolloutPercentage to 100 in build, integration and production
  cloudformation/deploy/template.yaml
Due: none

AUT-5673: Switch on passkeys acceptance tests in build
  cloudformation/deploy/template.yaml
Due: none

AUT-5556: Set PasskeyRolloutPercentage to 100 in build, integration and 0.5 in production
  cloudformation/deploy/template.yaml
Due: none

BAU: Refactor the accountInterventionsMiddleware
  src/middleware/account-interventions-middleware.ts
Due: eslint

AUT-5686: Add new property to frontend session to indicate that there was an account intervention applied during passkey registration
  src/types.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5686: Refactor the account-interventions-middleware.test.ts so we can easily extend the options object
  test/unit/middleware/account-interventions-middleware.test.ts
Due: eslint

AUT-5556: Pass supportPasskeyUsage to check-user-exists API
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/enter-email-service.ts
  src/components/enter-email/tests/enter-email-service.test.ts
  src/components/enter-email/types.ts
Due: eslint

AUT-5681: Switch on passkeys in build
  cloudformation/deploy/template.yaml
Due: none

AUT-5686: Add onRedirect property to the options object
  src/middleware/account-interventions-middleware.ts
  test/unit/middleware/account-interventions-middleware.test.ts
Due: eslint

AUT-5686: Move users on passkey registration journeys with account interventions to sign-in-end and ensure they don't see the passkey registration prompt
  playwright-acceptance-tests/features/account-interventions.feature
  src/components/common/state-machine/state-machine.ts
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey/create-passkey-routes.ts
Due: eslint

AUT-5686: Add configuration for updated terms and conditions playwright acceptance tests
  playwright-acceptance-tests/src/pages/TermsAndConditionsPage.ts
  playwright-acceptance-tests/src/steps/common.step.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/login.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/test-state.ts
  playwright-acceptance-tests/stubs/api-stub/src/server.ts
  playwright-acceptance-tests/stubs/api-stub/src/state.ts
Due: eslint

AUT-5673: Correct passkey switches typo to switch on in build
  cloudformation/deploy/template.yaml
Due: none

AUT-5673: Add logging to shouldPromptToRegisterPasskey
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

feat: Split paths with jobs into jobs + steps
  quality-gate.manifest.json
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
