Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

WIP reset password request to many back OTPs scenario
  src/components/check-your-email/check-your-email-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/types.ts
Due: eslint

AUT-4374: Add new content id to "how do you want security codes" page
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/utils/contentId.ts
Due: eslint

BAU: set frontendAutoScalingMinCount to 9 in prod
  cloudformation/deploy/template.yaml
Due: none

feat(dfc-741): spinner with frontend-ui update
  package-lock.json
  package.json
  yarn.lock
Due: check-package-json

BAU: temporarily increase ECS scaling configuration to support higher load
  cloudformation/deploy/template.yaml
Due: none

ATO-1769: Send RP Sector identifier host to backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4452: Check MFA lockout just after password entry
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
Due: eslint

AUT-4452: Fix SMS OTP send trigger on password reset
  src/components/common/verify-code/tests/verify-code-controller.test.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-controller.ts
  src/components/reset-password-2fa-sms/tests/__snapshots__/reset-password-2fa-sms-integration.test.ts.snap
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-controller.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/__snapshots__/reset-password-check-email-integration.test.ts.snap
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
Due: eslint

AUT-4452: Fix missing journey for SMS OTP requests
  src/components/common/journey/journey.ts
  src/components/common/journey/tests/journey.test.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/mfa/tests/send-mfa-controller.test.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
Due: eslint

AUT-4452: Ensure password reset email OTP verification returns error to user if MFA submission is locked out
  src/components/common/verify-code/tests/verify-code-controller.test.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/reset-password-check-email/tests/__snapshots__/reset-password-check-email-integration.test.ts.snap
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
Due: eslint

feat(dfc-741): fix path
  package.json
  yarn.lock
Due: check-package-json

feat(dfc-741): fix yarn lock file
  yarn.lock
Due: none

BAU: Remove unused doc checking app routes and states
  src/app.constants.ts
  src/app.ts
  src/components/common/state-machine/state-machine.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/doc-checking-app-callback/doc-checking-app-callback-controller.ts
  src/components/doc-checking-app-callback/doc-checking-app-callback-routes.ts
  src/components/doc-checking-app-callback/tests/doc-checking-app-callback-controller.test.ts
  src/components/doc-checking-app/doc-checking-app-controller.ts
  src/components/doc-checking-app/doc-checking-app-routes.ts
  src/components/doc-checking-app/doc-checking-app-service.ts
  src/components/doc-checking-app/tests/doc-checking-app-controller.test.ts
  src/components/doc-checking-app/tests/doc-checking-app-service.test.ts
  src/components/doc-checking-app/types.ts
Due: eslint

BAU: Remove unused condition
  src/components/authorize/authorize-controller.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4347: Remove STRATEGIC_APP_LIVE feature flag
  ci/terraform/ecs.tf
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/contact-us/contact-us-validation.ts
  src/components/contact-us/further-information/_gov-uk-login-and-id-apps-further-information.njk
  src/components/contact-us/index-public-contact-us.njk
  src/config.ts
  src/middleware/set-local-vars-middleware.ts
Due: eslint

AUT-4347: Update contact-us-validation test to use new string
  src/components/contact-us/tests/contact-us-validation.test.ts
Due: eslint

Revert "AUT-4255: mfa reset content changes"
  src/components/select-mfa-options/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

DO NOT MERGE - cloned frontend instances to test auth-internal-api
  cloudformation/deploy/template.yaml
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

Revert "Revert "AUT-4255: mfa reset content changes""
  src/components/select-mfa-options/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

BAU: update 'devplatform-upload-action-ecr' to v1.4
  .github/workflows/build-deploy-frontend-dev.yml
  .github/workflows/build-deploy-frontend.yml
Due: none

AUT-4519: bump cosign version in upload-action-ecr
  .github/workflows/build-deploy-frontend-dev.yml
  .github/workflows/build-deploy-frontend.yml
Due: none

AUT-4521: Update govuk-frontend package to v5.11.0
  package.json
  yarn.lock
Due: check-package-json

AUT-4521: Replace govuk-frontend/ with govuk-frontend/dist/
  package.json
  src/app.ts
Due: eslint, check-package-json

AUT-4521: Removed IE8-10 support in templates
  service-down-page-config/service-down/service-down.html
  src/components/common/layout/base.njk
Due: none

AUT-4521: Update scss imports
  src/assets/scss/application.scss
Due: none

AUT-4467: Fix resending SMS MFA OTP to number already sent OTP
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-controller.test.ts
  src/types.ts
Due: eslint

BAU: fix sonar issue
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
Due: eslint

AUT-4467: Add mfa method ID to sentOtpMfaMethodIds in enter password
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
Due: eslint

BAU: Refactor user login error handling to switch
  src/components/enter-password/enter-password-controller.ts
Due: eslint

AUT-4189: add uplift journey to journeys where 2hr lockout shown
  src/components/security-code-error/security-code-error-controller.ts
  src/components/security-code-error/tests/security-code-error-controller.test.ts
Due: eslint

BAU: Refactor switch default to be clearer
  src/components/enter-password/enter-password-controller.ts
Due: eslint

BAU: refactor AIS handling into function
  src/components/enter-password/enter-password-controller.ts
Due: eslint

AUT-4521: Remove reference to src/assets/javascript/all.js
  .gitignore
  nodemon.json
  package.json
  sonar-project.properties
Due: check-package-json

AUT-4521: Convert govuk-frontend/all.js to govuk-frontend.min.js
  package.json
  src/components/common/layout/base.njk
  src/utils/logger.ts
Due: eslint, check-package-json

AUT-4521: Enable rebrand flag
  src/config/nunchucks.ts
Due: eslint

AUT-4521: Change JS to module and remove initAll
  src/assets/javascript/application.js
  src/components/common/layout/base.njk
Due: eslint

AUT-4521: Add custom CSS to keep existing Tag style
  src/assets/scss/application.scss
Due: none

AUT-4521: Make strategic app header match rebrand by feature flag
  src/components/common/header/template.njk
  src/components/common/layout/base.njk
Due: none

AUT-4509: Update translations for privacy notice update
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none
