Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-4347: define new govuk apps something else page
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/_gov-uk-login-and-id-apps-something-else.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4349: define new OL app sign in problem page
  src/components/contact-us/questions/_one-login-app-sign-in-problem.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4347: rename njks file to capture all apps
  src/components/contact-us/further-information/_gov-uk-login-and-id-apps-further-information.njk
  src/components/contact-us/further-information/index.njk
Due: none

AUT-4347: set up isStrategicAppLive ff
  ci/terraform/ecs.tf
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/config.ts
  src/middleware/set-local-vars-middleware.ts
Due: eslint

AUT-4347: expose new pages behind ff
  src/components/contact-us/further-information/_gov-uk-login-and-id-apps-further-information.njk
  src/components/contact-us/index-public-contact-us.njk
Due: none

AUT-4347: add tests for expected string given subtheme
  src/components/contact-us/tests/contact-us-questions-validation.test.ts
Due: eslint

Simple journey map adapted from IPV Core
  .gitignore
  journey-map/README.md
  journey-map/eslint.config.mjs
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/public/favicon.ico
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/redirect/index.html
  journey-map/server/app.ts
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
  journey-map/tsconfig.json
  journey-map/tsconfig.server.json
Due: eslint

BAU: add header with optional journey toggle
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/src/index.ts
Due: eslint

BAU: Trace reachable states and allow configuration
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

BAU: Add context specification form input
  journey-map/public/index.html
  journey-map/public/style.css
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

BAU: Tidy up journey map
  eslint.config.js
  journey-map/README.md
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/redirect/index.html
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

AUT-4347: add missing form type to questions
  src/components/contact-us/contact-us-controller.ts
Due: eslint

AUT-4347: turn on ff in integration and prod
  cloudformation/deploy/template.yaml
Due: none

AUT-4255: (AC1 part 2) update account recovery auth app radio item
  src/components/select-mfa-options/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4255: (AC1 part 3) update account recovery "what is an auth app" body text
  src/components/select-mfa-options/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4255: (AC3) update SMS "change MFA choice" link text
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4255: (AC2) update auth app "change MFA choice" link text
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4347: remove unnecessary return
  src/components/contact-us/contact-us-questions-validation.ts
Due: eslint

BAU: expand test coverage on questions validation
  src/components/contact-us/tests/contact-us-questions-validation.test.ts
Due: eslint

BAU: run pre-commit
  .github/PULL_REQUEST_TEMPLATE.md
  ci/terraform/alerts.tf
  ci/terraform/core.tf
  ci/terraform/site.tf
  nodemon.json
  scripts/read_secrets__main.sh
  service-down-page-config/README.md
  service-down-page-config/manifest.yml
  service-down-page-config/nginx.conf
  service-down-page-config/nginx/mime.types
  tslint.json
Due: tfupdate-lock

BAU: add commit to git blame ignore revs
  .git-blame-ignore-revs
Due: none

BAU: make script executable
  scripts/read_secrets__main.sh
Due: none

AUT-4334: Remove device intelligence feature flag
  ci/terraform/ecs.tf
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/common/layout/base.njk
  src/config.ts
  src/middleware/set-local-vars-middleware.ts
Due: eslint

ATO-1710: send is_identity_verification_required to auth backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

BAU: Changing Vcpu Ecs task size to match Staging Env
  cloudformation/deploy/template.yaml
Due: none

BAU: Include journey map in non-external environments
  Dockerfile
  journey-map/package-lock.json
  journey-map/package.json
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
  src/app.constants.ts
  src/app.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

wip
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
Due: eslint

BAU: Sync main and sandpit dockerfiles
  Dockerfile
  journey-map/README.md
  sandpit.Dockerfile
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4347: update error message to include OL app
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

BAU: refactor method to early return
  src/components/contact-us/contact-us-validation.ts
Due: eslint

AUT-4347: return new message behind ff
  src/components/contact-us/contact-us-validation.ts
Due: eslint

BAU: Revise readme
  journey-map/README.md
Due: none

AUT-4280: Cookie banner should not be displayed for the GOV.UK App
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  test/helpers/mock-cookie-consent-service-helper.ts
Due: eslint

WIP
  src/components/common/verify-code/verify-code-controller.ts
Due: eslint

wip adding isLocked to enter-password controller
  src/components/common/mfa/send-mfa-controller.ts
  src/components/enter-password/enter-password-controller.ts
Due: eslint

add loggin
  src/components/common/verify-code/verify-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
Due: eslint

mr wippy
  src/components/common/verify-code/verify-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
Due: eslint

wip: add new smsCodeRequestLock
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/types.ts
Due: eslint

add logging
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
Due: eslint

BAU:set frontendAutoScalingMinCount to 9 in staging
  cloudformation/deploy/template.yaml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
  check-package-json: any of: ^package.json$
