Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-4440 Template viewer with happy path pages
  src/app.ts
  src/assets/scss/application.scss
  src/components/templates/index.njk
  src/components/templates/pages.ts
  src/components/templates/templates-controller.ts
  src/components/templates/templates-routes.ts
Due: eslint

AUT-4597: Setup the dockerfile and compose to run the playwright tests locally and copy the resulting snapshots and test-results into local directories
  docker-compose.snapshots.yml
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
Due: none

AUT-4597: Remove reliance on .env file for the environment variables in docker-compose.snapshots.yml
  docker-compose.snapshots.yml
Due: none

AUT-4597: Add a section in the README.md to explain the snapshot tests and the process for running them
  README.md
  docker-compose.snapshots.yml
Due: none

AUT-4440 Add template viewer link to journey map
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

AUT-4440 Add more pages to template list
  src/components/templates/pages.ts
Due: eslint

AUT-4440 dev journey map at the same time as the app
  journey-map/package.json
  package.json
Due: check-package-json

BAU: Add missing `govuk-link` styling to "create account" page links
  src/components/enter-email/index-create-account.njk
Due: none

AUT-4597: Add a small maxDiffPixels to account for the differences between running snapshot tests in docker containers in the pipeline and local machines
  src/components/contact-us/tests/contact-us-snapshot.test.ts
Due: eslint

AUT-4597: Add new job to pre-merge-checks runner to run the snapshot tests using the docker compose. Extract the test-results into an artifact that can be downloaded to view test failures
  .github/workflows/pre-merge-checks.yml
Due: none

AUT-4440 Prettier
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
  src/components/templates/pages.ts
  src/components/templates/templates-controller.ts
  src/components/templates/templates-routes.ts
Due: eslint

AUT-4597: Add breaking screenshot change
  src/components/contact-us/index-public-contact-us.njk
Due: none

AUT-4597: Update screenshots
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us--cy--chromium-linux.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us--en--chromium-linux.jpeg
Due: none

AUT-4597: Add new job to pre-merge-checks runner to run the snapshot tests using the docker compose. Extract the test-results into an artifact that can be downloaded to view test failures
  .github/workflows/pre-merge-checks.yml
  README.md
Due: none

AUT-4440 Fix duplicate ids
  src/components/templates/index.njk
Due: none

AUT-4440 Add remaining templates
  src/app.constants.ts
  src/components/templates/index.njk
  src/components/templates/pages.test.ts
  src/components/templates/pages.ts
  src/components/templates/templates-controller.ts
Due: eslint

AUT-4440 Add spinner page to templates
  src/components/prove-identity-callback/index-new-spinner.njk
  src/components/templates/pages.test.ts
  src/components/templates/pages.ts
  src/components/templates/templates-routes.ts
Due: eslint

AUT-4440 Prettier
  src/components/templates/pages.test.ts
Due: eslint

DO NOT MERGE - cloned frontend instances to test auth-internal-api
  cloudformation/deploy/template.yaml
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

AUT-3538: Remove email checks feature flag
  .env.local
  ci/terraform/ecs.tf
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/check-your-email/check-your-email-controller.ts
  src/components/check-your-email/tests/check-your-email-integration.test.ts
  src/config.ts
Due: eslint

AUT-4539: DO NOT MERGE Prod apitest frontend instance configs
  cloudformation/deploy/template.yaml
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

BAU: Set strict mode with lax null checks
  src/app.ts
  src/components/authorize/authorize-controller.ts
  src/components/authorize/jwt-service.ts
  src/components/authorize/kms-decryption-service.ts
  src/components/common/footer/footer-pages-controller.ts
  src/components/common/state-machine/state-machine.ts
  src/config/helmet.ts
  src/config/nunchucks.ts
  src/middleware/get-analytics-properties-middleware.ts
  src/utils/http.ts
  src/utils/smartAgent.ts
  src/utils/strings.ts
  src/utils/validation.ts
  tsconfig.json
Due: eslint

BAU: Use request path in state machine
  src/components/account-created/account-created-controller.ts
  src/components/account-not-found/account-not-found-controller.ts
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/authorize/authorize-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/common/constants.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/create-password/create-password-controller.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-controller.ts
  src/components/reset-password/reset-password-controller.ts
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/updated-terms-conditions/updated-terms-conditions-controller.ts
  src/middleware/account-interventions-middleware.ts
Due: eslint

BAU: Pass response instead of sessionId
  src/components/account-created/account-created-controller.ts
  src/components/account-not-found/account-not-found-controller.ts
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/authorize/authorize-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/common/constants.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/create-password/create-password-controller.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-controller.ts
  src/components/reset-password/reset-password-controller.ts
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/updated-terms-conditions/updated-terms-conditions-controller.ts
  src/middleware/account-interventions-middleware.ts
Due: eslint

BAU: Extract state machine execution
  src/components/account-created/account-created-controller.ts
  src/components/account-not-found/account-not-found-controller.ts
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/authorize/authorize-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/common/constants.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/create-password/create-password-controller.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-controller.ts
  src/components/reset-password/reset-password-controller.ts
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/updated-terms-conditions/updated-terms-conditions-controller.ts
  src/middleware/account-interventions-middleware.ts
Due: eslint

BAU: prettier
  src/components/account-created/account-created-controller.ts
  src/components/account-not-found/account-not-found-controller.ts
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/authorize/authorize-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/create-password/create-password-controller.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-controller.ts
  src/components/reset-password/reset-password-controller.ts
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/updated-terms-conditions/updated-terms-conditions-controller.ts
Due: eslint

BAU: Fix imports and use state machine id
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-controller.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/middleware/account-interventions-middleware.ts
Due: eslint

BAU: Fix lint and state machine test
  custom-lint-rules/no-res-locals-write.js
  src/components/authorize/authorize-controller.ts
  src/components/common/account-recovery/tests/account-recovery-helper.test.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
Due: eslint

BAU: Bump Mermaid package version
  journey-map/package-lock.json
  journey-map/package.json
Due: none

BAU: Fix multiple nodes being highlighted when clicking on a state
  journey-map/src/index.ts
Due: eslint

BAU: Update highlighting logic for new edge ID pattern
  journey-map/src/index.ts
Due: eslint

BAU: Target highlight at updated component name
  journey-map/public/style.css
Due: none

BAU: Tweak styling to be more condensed
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

BAU: Common sign-in and password states
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: Add support for default transitions with a condition
  journey-map/src/mermaid.ts
Due: eslint

BAU: Add highlighting to labels
  journey-map/public/style.css
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

BAU: Increase minimum number of ECS tasks in staging from 9 to 12
  cloudformation/deploy/template.yaml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
  check-package-json: any of: ^package.json$
