Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-5339: Add imposter API stub for playwright tests
  playwright-acceptance-tests/stubs/api-stub/.imposter.yaml
  playwright-acceptance-tests/stubs/api-stub/responses/account-interventions-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/account-recovery-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/amc-authorize-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/amc-callback-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/check-email-fraud-block-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/finish-passkey-assertion-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/id-reverification-state-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/jwks-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/login-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/mfa-reset-authorize-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/orch-auth-code-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/processing-identity-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/reset-password-request-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/reverification-result-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/signup-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/start-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/start-passkey-assertion-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/token-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/user-exists-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/userinfo-200.json
  playwright-acceptance-tests/stubs/api-stub/rest-plugin-config.yaml
Due: none

AUT-5339: Run playwright tests against ECR orch stub
  .github/workflows/playwright-acceptance-tests.yml
  playwright-acceptance-tests/Dockerfile
  playwright-acceptance-tests/docker-compose.yml
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/scripts/run-docker.sh
  playwright-acceptance-tests/stubs/nginx.conf
Due: none

BAU: validation error formatter
  package-lock.json
  src/middleware/form-validation-middleware.ts
  test/unit/middleware/form-validation-middleware.test.ts
Due: eslint

BAU: remove express-async-errors package
  package-lock.json
  package.json
  src/app.ts
Due: eslint, check-package-json

BAU: update wildcard route for sanitizeRequestMiddleware
  src/app.ts
Due: eslint

BAU: fix overloadProtection app.ts tests
  test/unit/app.test.ts
Due: eslint

BAU: Don't reference req.body.isResendCodeRequest in GET routes
  src/components/common/mfa/send-mfa-controller.ts
Due: eslint

BAU: mock getVitalSignsIntervalSeconds function
  test/unit/app.test.ts
Due: eslint

BAU: Remove Husky and references
  package-lock.json
  package.json
Due: check-package-json

BAU: Light pre-commit hooks and script
  .pre-commit-config-light.yaml
  scripts/hooks-control.sh
Due: none

BAU: Revert pino-pretty to 13.0.0
  package-lock.json
  package.json
Due: check-package-json

BAU: Dependabot to ignore minor versions of pino-pretty
  .github/dependabot.yml
Due: none

BAU: fix contact us bugs exposed by express v5 bump
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
Due: eslint

BAU: delete yarn.lock
  yarn.lock
Due: none

BAU: Update .secrets.baseline
  .secrets.baseline
Due: none

AUT-4800: Add hidden input to enter-email page on sign in
  src/components/enter-email/index-existing-account.njk
  src/components/enter-email/index-re-enter-email-account.njk
Due: none

AUT-4800: Add script to set hidden input to "true" if webauthn supported
  src/assets/javascript/check-passkeys-supported.js
  src/components/enter-email/index-existing-account.njk
  src/components/enter-email/index-re-enter-email-account.njk
  test/unit/check-passkeys-supported.test.ts
Due: eslint

AUT-4800: Set browserSupportsWebAuthn in session on enterEmailPost
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/tests/enter-email-controller.test.ts
  src/types.ts
Due: eslint

AUT-4800: If browser doesn't support WebAuthn don't prompt register or sign in with passkey
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Add nginx proxy and orch-stub backend URL for docker test stack
  playwright-acceptance-tests/docker-compose.yml
  playwright-acceptance-tests/stubs/nginx.conf
Due: none

BAU: Add page objects for sign-in journey tests
  playwright-acceptance-tests/src/pages/CheckYourPhonePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterAuthenticatorAppCodePage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/EnterPasswordPage.ts
  playwright-acceptance-tests/src/pages/LockoutPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
  playwright-acceptance-tests/src/pages/YouHaveOneLoginPage.ts
Due: eslint

BAU: Add step definitions for sign-in journey scenarios
  playwright-acceptance-tests/src/steps/sign-in.steps.ts
Due: eslint

BAU: Add @playwright/test for web-first assertions and replace networkidle
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/support/expect.ts
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

BAU: Add API stub responses for sign-in lockouts and auth app
  playwright-acceptance-tests/stubs/api-stub/responses/login-200-auth-app.json
  playwright-acceptance-tests/stubs/api-stub/responses/verify-mfa-code-400-max-retries.json
Due: none

BAU: Add Imposter handler scripts with stateful counting for lockouts
  playwright-acceptance-tests/stubs/api-stub/login-handler.js
  playwright-acceptance-tests/stubs/api-stub/mfa-handler.js
  playwright-acceptance-tests/stubs/api-stub/start-handler.js
  playwright-acceptance-tests/stubs/api-stub/user-exists-handler.js
  playwright-acceptance-tests/stubs/api-stub/verify-code-handler.js
  playwright-acceptance-tests/stubs/api-stub/verify-mfa-handler.js
Due: eslint

BAU: Add sign-in journey acceptance test scenarios
  playwright-acceptance-tests/features/sign-in.feature
Due: none

BAU: Add trace capture on failure and reset Imposter stores between scenarios
  playwright-acceptance-tests/src/support/hooks.ts
Due: eslint

BAU: Update Imposter config to use script handlers for stateful endpoints
  playwright-acceptance-tests/stubs/api-stub/rest-plugin-config.yaml
Due: none

AUT-5309: Rollback detect secrets
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

AUT-5324: Turn on passkeys journey in staging
  cloudformation/deploy/template.yaml
Due: none

AUT-5386: Update T&Cs to move from CO to DSIT
  .secrets.baseline
  src/components/common/footer/terms-conditions.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/terms-and-conditions--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/terms-and-conditions--default--en--chromium-linux.jpeg
Due: none

BAU: import specific functions from chai
  dev-check-environment.js
Due: eslint

AUT-4988: Add "sign in with passkey" template
  src/app.constants.ts
  src/components/sign-in-with-passkey/index.njk
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--default--en--chromium-linux.jpeg
Due: eslint

AUT-4988: Add "sign in with passkey" GET route and controller
  src/app.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-routes.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint

AUT-4988: Add `SIGN_IN_WITH_PASSKEY` states
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
Due: eslint

AUT-4988: Update secrets baseline
  .secrets.baseline
Due: none

Revert "AUT-5324: Turn on passkeys journey in staging"
  cloudformation/deploy/template.yaml
Due: none

WIP: redis retries
  src/config/session.ts
Due: eslint

AUT-5324: Turn on passkeys registration journey in staging
  cloudformation/deploy/template.yaml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
