Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-5433: Add enhanced consistency checks
  src/config/dual-session-store.ts
Due: eslint

AUT-4989: Rename existing get route to be more consistent with others
  src/components/account-exists-with-passkey/account-exists-with-passkey-controller.ts
  src/components/account-exists-with-passkey/account-exists-with-passkey-routes.ts
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-controller-test.ts
Due: eslint

AUT-4989: Submit button on account with passkey exists page routes to sign in with passkey
  src/components/account-exists-with-passkey/account-exists-with-passkey-controller.ts
  src/components/account-exists-with-passkey/account-exists-with-passkey-routes.ts
  src/components/account-exists-with-passkey/index.njk
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-controller-test.ts
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-integration.test.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4989: Rename test file to ensure it runs
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-controller.test.ts
Due: eslint

AUT-5433: Use dual session store
  cloudformation/deploy/template.yaml
  package-lock.json
  package.json
  src/config/dynamodb-session.ts
  src/config/session.ts
Due: eslint, check-package-json

AUT-5433: Support optional dual session store behind feature flag
  cloudformation/deploy/template.yaml
  src/config.ts
  src/config/session.ts
  test/unit/config.test.ts
  test/unit/session.test.ts
Due: eslint

AUT-5433: Perform consistency check on read
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5433: Add dual session store implementation
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5433: Add primary/secondary semantics to dual session store
  src/config/dual-session-store.ts
  src/config/session.ts
  test/unit/dual-session-store.test.ts
Due: eslint

BAU: Style reversible arrows as circles
  journey-map/package-lock.json
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
  journey-map/src/stateMachineHelpers/auth-state-machine-helper.ts
Due: eslint

BAU: Make reversible transitions pink
  journey-map/public/style.css
  journey-map/src/index.ts
  journey-map/src/mermaid.ts
Due: eslint

AUT-5433: Return combined error when both session store reads fail
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5433: Wait for both session stores before calling back
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5433: Add enhanced consistency checks
  src/config/dual-session-store.ts
  test/unit/dual-session-store.test.ts
Due: eslint

AUT-5436: Add feature flag to switch DynamoDB as primary session store
  cloudformation/deploy/template.yaml
  src/config.ts
  src/config/session.ts
  test/unit/config.test.ts
  test/unit/session.test.ts
Due: eslint

AUT-5420: turn on support passkey usage
  cloudformation/deploy/template.yaml
Due: none

BAU: Allow the script to create passkeys for localhost
  scripts/generate_webauthn/README.md
  scripts/generate_webauthn/generate_webauthn_script.py
Due: none

Revert "AUT-5436: Switch primary session store to DynamoDB (dev and staging)"
  cloudformation/deploy/template.yaml
  src/config.ts
  src/config/session.ts
  test/unit/config.test.ts
  test/unit/session.test.ts
Due: eslint

BAU: Hardcode ELB account ID instead of using region mapping
  cloudformation/deploy/template.yaml
Due: none

TEMP DO NOT MERGE - enable service down in authdev3
  .github/workflows/build-deploy-frontend-dev.yml
  cloudformation/deploy/template.yaml
Due: none

TEMP - enable on dev
  cloudformation/deploy/template.yaml
Due: none

fix service down registry
  cloudformation/deploy/template.yaml
Due: none

AUT-5439: Add `SESSION_DYNAMO_EXCLUSIVE_ENABLED` env var setup
  cloudformation/deploy/template.yaml
  src/config.ts
  test/unit/config.test.ts
Due: eslint

AUT-5439: Return DynamoDB store if Dynamo exclusive flag enabled
  src/config/session.ts
  test/unit/session.test.ts
Due: eslint

AUT-5002: On SignInWithPasskey get call StartPasskeyAssertionHandler
  src/app.constants.ts
  src/components/sign-in-with-passkey/index.njk
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-routes.ts
  src/components/sign-in-with-passkey/sign-in-with-passkey-service.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-service.test.ts
  src/components/sign-in-with-passkey/types.ts
Due: eslint

AUT-5434: Enable session dual write in integration
  cloudformation/deploy/template.yaml
Due: none

AUT-5437: Enable session Dynamo primary in integration
  cloudformation/deploy/template.yaml
Due: none

AUT-5440: Enable session Dynamo exclusive in integration
  cloudformation/deploy/template.yaml
Due: none

AUT-5435: Enable session store dual write in build and production
  cloudformation/deploy/template.yaml
Due: none

AUT-5002: When the user clicks continue, prompt them to sign in with their passkey
  src/components/sign-in-with-passkey/index.njk
Due: none
