Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain-fmt, eslint, tfupdate-lock

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: local
    hooks:
      - id: rain-fmt
        name: rain fmt (cfn templates)
        language: golang
        additional_dependencies:
          - github.com/aws-cloudformation/rain/cmd/rain@v1.21.0
        entry: rain fmt -w --node-style original
        files: .*template.yaml$

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.25.1
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.97.3
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.1
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform
      - id: shfmt
        name: shfmt (shell scripts)
        language: golang
        additional_dependencies:
          - mvdan.cc/sh/v3/cmd/shfmt@v3.10.0
        entry: shfmt
        types:
          - file
          - shell
        exclude_types:
          - zsh
        args:
          - -w # write
          - -s # simplify
          - -l # list files that differ

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-3775: Update integration tests - checking validation errors appear correctly
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/mfa-reset-with-ipv/tests/__snapshots__/mfa-reset-with-ipv-integration.test.ts.snap
  src/components/prove-identity/tests/__snapshots__/prove-identity-integration.test.ts.snap
Due: eslint

ATO-1523: Remove references to docCheckingAppUser
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/components/authorize/types.ts
  src/components/landing/types.ts
  src/types.ts
Due: eslint

AUT-4110: Replicate auth code logic in prove-identity-callback
  src/components/common/state-machine/state-machine.ts
  src/components/prove-identity-callback/prove-identity-callback-controller.ts
  src/components/prove-identity-callback/prove-identity-callback-service.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-controller.test.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-service.test.ts
  src/components/prove-identity-callback/types.ts
Due: eslint

AUT-3775: Set correct link paths
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
Due: none

AUT-3775: Add "suspect unauthorised access" to Smart Agent post generator
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-service-smart-agent.ts
  src/components/contact-us/tests/contact-us-service-smart-agent.test.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-3775: Add email field validation
  src/components/contact-us/contact-us-questions-validation.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-3775: Add validation error message to checkboxes
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-3775: Add OneLogin-standard phone number field
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/contact-us/tests/contact-us-service-smart-agent.test.ts
  src/components/contact-us/tests/contact-us-service.test.ts
Due: eslint

AUT-3775: Add phone number validation to contact-us form
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
Due: eslint

AUT-3775: Move shared 'phoneNumber' translations into one place for sharing between pages
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
  src/components/enter-phone-number/enter-phone-number-validation.ts
  src/components/enter-phone-number/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-3775: Rename to contactUsService to match tests file
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-service.ts
  src/components/contact-us/tests/contact-us-service.test.ts
Due: eslint

BAU: Remove unused types file
  src/components/landing/types.ts
Due: eslint

AUT-4131: dev_sam_deploy.sh skips commitsha in the tags
  scripts/dev_sam_deploy.sh
Due: none

AUT-4149: wrap landing get
  src/components/landing/landing-route.ts
Due: eslint

ATO-1435: Pass new claims to auth backend.
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4111: Remove call to API_ENDPOINTS.AUTH_CODE from auth-code-service
  src/components/auth-code/auth-code-service.ts
  src/components/auth-code/tests/auth-code-service.test.ts
  src/components/prove-identity/tests/prove-identity-controller.test.ts
Due: eslint

AUT-4111: Remove now unused authCodeReturnToRP from session
  src/components/auth-code/auth-code-controller.ts
  src/types.ts
Due: eslint

AUT-4112: Add /ipv-callback as optional path from /auth-code
  src/components/common/state-machine/state-machine.ts
  src/components/prove-identity-callback/tests/prove-identity-callback-integration.test.ts
Due: eslint

BAU: FMS migration for frontend services
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-3775: Add 'suspect unauthorised access' page
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-3775: Add "somebody else using" option to contact-us page
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/questions/index.njk
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

BAU: refactor to remove sandpit.Dockerfile build warning messages
  sandpit.Dockerfile
Due: none

AUT-3775: Add feature flag for displaying SUSPECT_UNAUTHORISED_ACCESS contact form option
  cloudformation/deploy/template.yaml
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/config.ts
Due: rain-fmt, eslint

AUT-3775: Use shared validators between phone number fields
  src/components/common/phone-number/phone-number-validation.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/enter-phone-number/enter-phone-number-validation.ts
Due: eslint

AUT-4113: Re-route PROVE_IDENTITY journeys to AUTH_CODE
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/prove-identity-welcome/tests/prove-identity-welcome-controller.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-controller.test.ts
Due: eslint

BAU: Add "Integration Tests" configuration
  .run/Integration Tests.run.xml
Due: none

BAU: Add "Unit Tests" configuration
  .run/Unit Tests.run.xml
Due: none

AUT-4113: Disable new spinner
  ci/terraform/authdev1.tfvars
  ci/terraform/authdev2.tfvars
  ci/terraform/sandpit.tfvars
  ci/terraform/staging.tfvars
  scripts/_create_env_file.py
Due: none

BAU: Add "Unit Tests" configuration
  .run/Unit Tests.run.xml
  README.md
Due: none
