Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain-fmt, eslint, tfupdate-lock

rain-fmt:
  name: rain fmt (cfn templates)
  language: golang
  additional_dependencies:
  - github.com/aws-cloudformation/rain/cmd/rain@v1.21.0
  entry: rain fmt -w --node-style original

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

AUT-3694: No banner in prod sp frontend
  cloudformation/deploy/template.yaml
Due: rain-fmt

BAU: pin golang to 1.23.6 in pre-commit
  .pre-commit-config.yaml
Due: none

AUT-3694: switch sp to new alb
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-4089: Old MFA journey for auth app is still accessible during IPV connectivity phase
  src/components/common/state-machine/state-machine.ts
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/mfa-reset-with-ipv/tests/mfa-reset-with-ipv-integration.test.ts
Due: eslint

AUT-4064: Turn on MFA reset with IPV for acceptance test dry run
  ci/terraform/build.tfvars
Due: none

AUT-4090: Add sign dev zone id and seprate Authdev zone
  cloudformation/domains/template.yaml
Due: rain-fmt

Seprate Authdevs zone Id creation with authdev flags
  cloudformation/domains/template.yaml
Due: rain-fmt

BAU: fix CY translation for test banner
  src/locales/cy/translation.json
Due: none

AUT-4047: Align build and staging with production for mfa reset
  cloudformation/deploy/template.yaml
Due: rain-fmt

BAU: Switch to live proofing of mfa journey in staging
  cloudformation/deploy/template.yaml
Due: rain-fmt

Revert "BAU: Switch to live proofing of mfa journey in staging"
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-4047: Switch on 'UseMfaResetWithIpv' in integration and production
  cloudformation/deploy/template.yaml
Due: rain-fmt

Revert "BAU: turn on mfa reset with ipv contact form changes"
  src/components/contact-us/contact-us-controller.ts
  src/config.ts
Due: eslint

AUT-4047: Switch on 'UseRouteUsersToNewIpvJourney' in all secure pipeline environments
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-3689: switch build env to migrated domain
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-3775: Add "or" to contact-us options
  src/components/contact-us/index-public-contact-us.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-3775: Move "something else" to bottom of list above "or"
  src/components/contact-us/index-public-contact-us.njk
Due: none

AUT-3942: Refactor DNS migration feature switches
  cloudformation/deploy/template.yaml
Due: rain-fmt

WIP AUT-3905: Consolidate content IDs
  src/app.constants.ts
  src/components/account-created/index.njk
  src/components/account-creation/resend-mfa-code/index.njk
  src/components/account-intervention/password-reset-required/index.njk
  src/components/account-intervention/permanently-blocked/index.njk
  src/components/account-intervention/temporarily-blocked/index.njk
  src/components/account-not-found/index-mandatory.njk
  src/components/account-not-found/index-mobile.njk
  src/components/account-not-found/index-one-login.njk
  src/components/account-not-found/index-optional.njk
  src/types.ts
  src/utils/contentId.ts
Due: eslint

AUT-3942: Deploy dev environment resources
  cloudformation/domains/template.yaml
Due: rain-fmt

AUT-3942: deploy dev frontend with migrated zone
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-4121: Cleanup signin-sp configurations and feature flag
  cloudformation/deploy/template.yaml
Due: rain-fmt

experiment with otel automatic instrumentation
  package.json
  src/server.ts
  yarn.lock
Due: eslint

otel autoloading
  Dockerfile
  src/server.ts
Due: eslint

otel endpoint
  Dockerfile
Due: none

configure in template
  Dockerfile
  cloudformation/deploy/template.yaml
Due: rain-fmt

BAU: disable deploy-service-down-page for dev environments
  .github/workflows/deploy-frontend-sp-dev.yml
Due: none

AUT-4103: Put numbered elements on setup auth app page in correct html element
  src/components/setup-authenticator-app/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4132: Sync dev envs frontend scaling with old terraform
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-4131: dev_sam_deploy.sh skips commitsha in the tags
  scripts/dev_sam_deploy.sh
Due: none

ATO-1523: Remove references to docCheckingAppUser
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/components/authorize/types.ts
  src/components/landing/types.ts
  src/types.ts
Due: eslint

AUT-3775: Add "somebody else using" option to contact-us page
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/questions/index.njk
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-3775: Add 'suspect unauthorised access' page
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-3775: Add "suspect unauthorised access" to Smart Agent post generator
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-service-smart-agent.ts
  src/components/contact-us/tests/contact-us-service.test.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-3775: Add email field validation
  src/components/contact-us/contact-us-questions-validation.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-3775: Add validation error message to checkboxes
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-3775: Set correct link paths
  src/components/contact-us/questions/_suspect-unauthorised-access-questions.njk
Due: none

Path conditions:
  rain-fmt: any of: .*template.yaml$
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
