Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

BAU: Update readme for full stack local
  README.md
Due: none

DO NOT MERGE - cloned frontend instances to test auth-internal-api
  cloudformation/deploy/template.yaml
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

AUT-4612: integrate with auth internal private api in staging
  cloudformation/deploy/template.yaml
Due: none

WIP: Attribute renaming
  src/components/check-your-phone/index.njk
  src/components/enter-authenticator-app-code/index-2fa-service-uplift-auth-app.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-mfa/index-2fa-service-uplift-mobile-phone.njk
  src/components/enter-mfa/index.njk
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-controller.ts
  src/components/reset-password-2fa-auth-app/index.njk
  src/components/reset-password-2fa-sms/index.njk
Due: eslint

BAU: replace env variable with a string fixing broken integration tests if you don't have correct env variables set
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
Due: eslint

Revert "AUT-4612: integrate with auth internal private api in staging"
  cloudformation/deploy/template.yaml
Due: none

AUT-4536: Enable rebrand in production
  cloudformation/deploy/template.yaml
Due: none

BAU: Add brace-expansion 1.1.12 resolution
  package.json
  yarn.lock
Due: check-package-json

POC: WebOTP integration
  src/components/enter-mfa/index.njk
Due: none

AUT-4588: Move the CONTACT_FORM_STRUCTURE into a dedicated structure contact-us-structure file
  src/app.constants.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/components/contact-us/tests/contact-us-snapshot.test.ts
Due: eslint

AUT-4588: Add function to iterate over the structure and extract the theme radio buttons
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/tests/contact-us-structure-utils.test.ts
Due: eslint

AUT-4588: Dynamically pass the radioButtons into the template and iterate over them to render the radio buttons
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-validation.ts
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/structure/contact-us-structure.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
Due: eslint

AUT-4589: WIP
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-validation.ts
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/structure/contact-us-structure.ts
Due: eslint

AUT-4589: Add baseTemplateOptions for reused properties
  src/components/contact-us/contact-us-controller.ts
Due: eslint

AUT-4589: Fix issue with refactor
  src/components/contact-us/contact-us-controller.ts
Due: eslint

AUT-4589: Make the refactor easier to follow
  src/components/contact-us/contact-us-controller.ts
Due: eslint

AUT-4497: Add "Veteran Card" option to theme selection page
  src/components/contact-us/structure/contact-us-structure.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4497: Add "Veteran Card" sub-theme selection page
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-validation.ts
  src/components/contact-us/further-information/_wallet.njk
  src/components/contact-us/further-information/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4497: Add "Veteran Card" questions page
  src/app.constants.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/questions/_wallet-questions.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4497: Add missing error messages for "Veteran Card"
  src/components/contact-us/contact-us-questions-validation.ts
Due: eslint

AUT-4497: Add feature flag to show/hide "Veterans Card" option
  ci/terraform/authdev1.tfvars
  ci/terraform/authdev2.tfvars
  ci/terraform/build.tfvars
  ci/terraform/dev.tfvars
  ci/terraform/ecs.tf
  ci/terraform/integration.tfvars
  ci/terraform/sandpit.tfvars
  ci/terraform/staging.tfvars
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/config.ts
Due: eslint

AUT-4589: Types for refactor
  src/components/contact-us/types.ts
Due: eslint

AUT-4497: Add tests
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/contact-us/tests/contact-us-further-information-controller.test.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/components/contact-us/tests/contact-us-validation.test.ts
Due: eslint

AUT-4497: Update screenshot tests
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us--en--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-further-information--wallet--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-further-information--wallet--en--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-problem-adding-credentials-document--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-problem-adding-credentials-document--en--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-problem-opening-app--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-problem-opening-app--en--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-problem-viewing-credentials-document--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-problem-viewing-credentials-document--en--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-something-else--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-something-else--en--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-technical-problem--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--wallet--wallet-technical-problem--en--chromium-darwin.jpeg
Due: none

AUT-4497: Fix - page title disappeared after submitting invalid wallet form
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-questions-validation.ts
  src/components/contact-us/questions/index.njk
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
Due: eslint

AUT-4497: Set up mapping for sending data to SmartAgent
  src/components/contact-us/contact-us-controller.ts
Due: eslint

AUT-4497: Skip validation error message test while waiting for content
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
Due: eslint

AUT-4589: Render furtherInformation template with dynamic parameters for radioButtons, header, legend and title
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-4589: Clean up the way we extract page content
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/structure/contact-us-structure-utils.ts
Due: eslint

AUT-4589: Remove usupportNoPhotoIdContactForms from template options as it is always set to true
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-4589: Separate validation for contact-us and further-information pages
  src/components/contact-us/contact-us-routes.ts
  src/components/contact-us/contact-us-validation.ts
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/tests/contact-us-further-information-validation.test.ts
  src/components/contact-us/tests/contact-us-questions-validation.test.ts
  src/components/contact-us/tests/contact-us-validation.test.ts
  src/components/contact-us/validation/contact-us-further-information-validation.ts
  src/components/contact-us/validation/contact-us-questions-validation.ts
  src/components/contact-us/validation/contact-us-validation.ts
Due: eslint

AUT-4589: Add hintText for fields that require hints
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/types.ts
Due: eslint

AUT-4546: Update ‘A problem entering your address’ content
  src/components/contact-us/questions/_user-location-question.njk
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4546: update screenshot tests
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--proving-identity--proving-identity-problem-with-address--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--proving-identity--proving-identity-problem-with-address--en--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--proving-identity--proving-identity-something-else--cy--chromium-darwin.jpeg
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-questions--proving-identity--proving-identity-something-else--en--chromium-darwin.jpeg
Due: none

AUT-4589: Refactor the furtherInformationGet to utilise a baseTemplateOptions
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-4589: Use dynamically generated array from CONTACT_US_STRUCTURE to render the furtherInformation pages
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/components/contact-us/tests/contact-us-further-information-controller.test.ts
  src/components/contact-us/tests/contact-us-structure-utils.test.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-4589: Delete redundant furtherInformation templates
  src/components/contact-us/further-information/_account-creation-further-information.njk
  src/components/contact-us/further-information/_gov-uk-login-and-id-apps-further-information.njk
  src/components/contact-us/further-information/_proving-identity-further-information.njk
  src/components/contact-us/further-information/_proving-identity-post-office-further-information.njk
  src/components/contact-us/further-information/_signing-in-further-information.njk
Due: none

AUT-4589: Separate the validation for contact-us and contact-us-further-information routes
  src/components/contact-us/contact-us-routes.ts
  src/components/contact-us/contact-us-validation.ts
  src/components/contact-us/tests/contact-us-further-information-validation.test.ts
  src/components/contact-us/tests/contact-us-questions-validation.test.ts
  src/components/contact-us/tests/contact-us-validation.test.ts
  src/components/contact-us/validation/contact-us-further-information-validation.ts
  src/components/contact-us/validation/contact-us-questions-validation.ts
  src/components/contact-us/validation/contact-us-validation.ts
Due: eslint

AUT-4590: Add typedef and macro for GovukComponent
  src/components/common/govuk-component/govuk-component-macro.njk
  src/components/common/govuk-component/govuk-component.d.ts
Due: eslint
