Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-4888: Remove custom showPassword.js script
  package.json
  src/assets/javascript/application.js
  src/assets/javascript/showPassword.js
  src/components/create-password/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index.njk
  src/components/reset-password/index.njk
  src/utils/logger.ts
Due: eslint, check-package-json

AUT-4888: Import password-input styling
  src/assets/scss/application.scss
Due: none

AUT-4888: Update screenshot tests
  test/snapshot/pages.snapshot.test.ts-snapshots/create-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/create-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password-account-exists--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/enter-password-account-exists--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--default--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--required--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/reset-password--required--en--chromium-linux.jpeg
Due: none

AUT-5274: Throw error if amc cookie is empty
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
Due: eslint

AUT-5212: Rename amc-callback directory to sfad-callback
  src/app.ts
  src/components/amc-callback/types.ts
  src/components/amc-service/tests/amc-result-service.test.ts
  src/components/sfad-callback/sfad-callback-routes.ts
  src/components/sfad-callback/tests/sfad-callback-controller.test.ts
  src/components/sfad-callback/tests/sfad-callback-integration.test.ts
Due: eslint

AUT-5212: Make amc-result-service reusable
  src/components/amc-service/amc-result-service.ts
  src/components/amc-service/types.ts
  src/components/sfad-callback/sfad-callback-controller.ts
Due: eslint

BAU: Switch to normal version of use journey middleware
  src/components/create-passkey/create-passkey-routes.ts
Due: eslint

AUT-5212: Add state transitions from create-passkey-callback
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-5212: Add create-passkey-callback-controller
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey-callback/create-passkey-callback-routes.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-integration.test.ts
  src/components/create-passkey-callback/types.ts
Due: eslint

BAU: Override path-to-regexp to use v8.4.1 in journey-map
  journey-map/package-lock.json
  journey-map/package.json
Due: none

AUT-5327: Update cookie statement
  src/components/common/cookies/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/cookies--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/cookies--default--en--chromium-linux.jpeg
Due: none

BAU: Dependabot - ignore patch versions for development libraries
  .github/dependabot.yml
Due: none

BAU: Run unit and integration tests in parallel
  .github/workflows/pre-merge-checks.yml
Due: none

BAU: Convert chai to ESM
  src/middleware/tests/channel-middleware.test.ts
  src/middleware/tests/outbound-contact-us-links-middleware.test.ts
  src/middleware/tests/session-middleware.test.ts
  test/utils/test-utils.ts
Due: eslint

break state
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
Due: eslint

wip break client session id
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
Due: eslint

BAU: Remove ecdsa sig formatter from dependencies
  package-lock.json
  package.json
Due: check-package-json

AUT-5309: Run detect-secrets as a pre-commit check
  .pre-commit-config.yaml
  .secrets.baseline
Due: none

AUT-4728: Add session-ended Nunjucks template
  src/components/session-ended/index.njk
  src/components/templates/pages.ts
  test/snapshot/pages.snapshot.test.ts-snapshots/session-ended--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/session-ended--default--en--chromium-linux.jpeg
Due: eslint

AUT-4728: Add session-ended controller
  src/components/session-ended/session-ended-controller.ts
  src/components/session-ended/tests/session-ended-controller.test.ts
Due: eslint

AUT-4728: Add session-ended routes
  src/app.constants.ts
  src/app.ts
  src/components/session-ended/session-ended-routes.ts
Due: eslint

AUT-4815: Setup the goBackHistory
  src/app.ts
  src/components/check-your-email/index.njk
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
  src/components/enter-password/index.njk
  src/components/resend-email-code/index.njk
  src/components/reset-password-check-email/index.njk
  src/middleware/allow-user-journey-middleware.ts
  src/middleware/initialise-user-history-middleware.ts
  src/types.ts
Due: eslint

AUT-4815: Create the journey route which would be used to get rid of optionalPaths
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/journey/journey-routes.ts
Due: eslint

AUT-4815: Adding reversible transitions to state machine for a demo
  src/components/common/state-machine/state-machine.ts
Due: eslint

DFC-1100: Add GA4 isPageDataSensitive flags and contentIds across pages
  package-lock.json
  package.json
  src/components/account-created/index.njk
  src/components/account-not-found/index-one-login.njk
  src/components/cannot-use-email-address/index.njk
  src/components/check-your-email/index.njk
  src/components/check-your-phone/index.njk
  src/components/common/cookies/index.njk
  src/components/common/footer/accessibility-statement.njk
  src/components/common/layout/base.njk
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-gov-service-contact-us.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/index-submit-success.njk
  src/components/contact-us/questions/index.njk
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/components/contact-us/types.ts
  src/components/create-password/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index-account-locked.njk
  src/components/how-do-you-want-security-codes/index.njk
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
  src/utils/contentId.ts
Due: eslint, check-package-json

WIP: Imposter Stub first generated iteration
  docker-compose.imposter.yml
  imposter-stub/.imposter.yaml
  imposter-stub/AuthInternalApi.yaml
  imposter-stub/openapi-plugin-config.yaml
  imposter-stub/responses/account-interventions-200.json
  imposter-stub/responses/account-recovery-200.json
  imposter-stub/responses/amc-authorize-200.json
  imposter-stub/responses/amc-callback-200.json
  imposter-stub/responses/check-email-fraud-block-200.json
  imposter-stub/responses/finish-passkey-assertion-200.json
  imposter-stub/responses/id-reverification-state-200.json
  imposter-stub/responses/jwks-200.json
  imposter-stub/responses/login-200.json
  imposter-stub/responses/mfa-reset-authorize-200.json
  imposter-stub/responses/orch-auth-code-200.json
  imposter-stub/responses/processing-identity-200.json
  imposter-stub/responses/reset-password-request-200.json
  imposter-stub/responses/reverification-result-200.json
  imposter-stub/responses/signup-200.json
  imposter-stub/responses/start-200.json
  imposter-stub/responses/start-passkey-assertion-200.json
  imposter-stub/responses/user-exists-200.json
  imposter-stub/rest-plugin-config.yaml
Due: none

BAU: Switch the ALB Access log bucket to central bucket
  cloudformation/deploy/template.yaml
Due: none

BAU: fix '-l' startup by correcting 'chai' imports
  dev-check-environment.js
Due: eslint

AUT-5345: Add passkey-created Nunjucks template
  src/app.constants.ts
  src/components/passkey-created/index.njk
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/passkey-created--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/passkey-created--default--en--chromium-linux.jpeg
Due: eslint

AUT-5345: Add passkey-created POST route
  src/components/passkey-created/passkey-created-controller.ts
  src/components/passkey-created/passkey-created-routes.ts
  src/components/passkey-created/tests/passkey-created-controller.test.ts
  src/components/passkey-created/tests/passkey-created-integration.test.ts
Due: eslint

AUT-5345: Add passkey-created GET route
  src/app.ts
  src/components/passkey-created/index.njk
  src/components/passkey-created/passkey-created-controller.ts
  src/components/passkey-created/passkey-created-routes.ts
  src/components/passkey-created/tests/passkey-created-controller.test.ts
  src/components/passkey-created/tests/passkey-created-integration.test.ts
Due: eslint

AUT-5345: Add PASSKEY_CREATED state to auth state machine
  src/components/common/state-machine/state-machine.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-integration.test.ts
  src/components/passkey-created/tests/passkey-created-integration.test.ts
Due: eslint

BAU: Dependabot to run twice a month only
  .github/dependabot.yml
Due: none

BAU: Align journey map dependencies with app
  journey-map/package-lock.json
Due: none

BAU: Bump overridden version of lodash-es
  journey-map/package-lock.json
  journey-map/package.json
Due: none

BAU: Remove uneccessary overrides
  journey-map/package.json
Due: none

BAU: override dompurify version
  journey-map/package-lock.json
  journey-map/package.json
Due: none

BAU: Remove duplicate suffix for "create passkey" page
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

BAU: Remove duplicate suffix for "change security codes" page
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none
