Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-5480: Set up page template and register in the contact-us-questions controller
  src/components/contact-us/questions/_signing-in-problem-with-a-passkey.njk
  src/components/contact-us/questions/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-questions--signing-in--signing-in-problem-with-a-passkey--cy--chromium-linux.jpeg
  test/snapshot/contact-us.snapshot.test.ts-snapshots/contact-us-questions--signing-in--signing-in-problem-with-a-passkey--en--chromium-linux.jpeg
Due: none

BAU: Ensure that if there is an error during FinishPasskeyAssertion, the cannot-sign-in-passkey screen is still shown
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
  src/components/common/passkey/passkey-service.ts
  src/components/common/passkey/tests/passkey-service.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint

AUT-5524: Turn on account intervention tests
  cloudformation/deploy/template.yaml
Due: none

AUT-5295: Update cookies page with amc cookies
  src/components/common/cookies/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-5539: Add the relevant contentId's for the passkey screens
  src/components/cannot-sign-in-passkey/index.njk
  src/components/create-passkey/index.njk
  src/components/sign-in-with-passkey/index.njk
  src/utils/contentId.test.ts
  src/utils/contentId.ts
Due: eslint

BAU: Enable Passkeys prompt in the staging RP Stub
  cloudformation/deploy/template.yaml
Due: none

BAU: Add mobile staging sts client to passkeys prompt allowlist
  cloudformation/deploy/template.yaml
Due: none

AUT-5539: Fix the HasAcceptanceTests condition
  cloudformation/deploy/template.yaml
Due: none

AUT-5331: Suppress passkey registration prompt when user is on common password reset journey
  src/components/enter-password/enter-password-controller.ts
  src/types.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5531: Suppress setup prompt when user has been on a password reset journey
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5331: Suppress registration prompt when user has been on forced password reset journey
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

feat(DFC-1100): updated sensitivity values across pages
  package-lock.json
  package.json
  src/components/account-created/index.njk
  src/components/account-not-found/index-one-login.njk
  src/components/cannot-use-email-address/index.njk
  src/components/check-your-email/index.njk
  src/components/check-your-phone/index.njk
  src/components/common/cookies/index.njk
  src/components/common/footer/accessibility-statement.njk
  src/components/common/layout/base.njk
  src/components/contact-us/further-information/index.njk
  src/components/contact-us/index-gov-service-contact-us.njk
  src/components/contact-us/index-public-contact-us.njk
  src/components/contact-us/index-submit-success.njk
  src/components/contact-us/questions/index.njk
  src/components/create-password/index.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-password/index-account-exists.njk
  src/components/enter-password/index-account-locked.njk
  src/components/how-do-you-want-security-codes/index.njk
  src/components/ipv-callback/index-cannot-change-how-get-security-codes.njk
Due: check-package-json

feat(1100): added content IDs to each page theme
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/components/contact-us/types.ts
  src/utils/contentId.ts
Due: eslint

BAU: Exclude ReauthMultiTabLogout tag in dev and build
  cloudformation/deploy/template.yaml
Due: none

BAU: Remove reference to @AccountRecovery in at tags
  cloudformation/deploy/template.yaml
Due: none

AUT-5332: Suppress passkey setup prompt for users logging in to 1FA services
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5533: Suppress passkey registration prompt in uplift journeys
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Switch off the Passkeys prompt in staging for mobile
  cloudformation/deploy/template.yaml
Due: none

AUT-5480: Configure extra SmartAgent field
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/contact-us-service.ts
  src/components/contact-us/types.ts
Due: eslint

AUT-5481: Add missing validation
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/contact-us/tests/contact-us-questions-validation.test.ts
  src/components/contact-us/validation/contact-us-questions-validation.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-5612: Refactor to shared browser with tracing
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/src/support/world.ts
Due: eslint

AUT-5612: Add run-local.sh script
  playwright-acceptance-tests/scripts/run-local.sh
Due: none

AUT-5612: Replace Imposter with Express API stub
  playwright-acceptance-tests/docker-compose.yml
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/stubs/api-stub/.imposter.yaml
  playwright-acceptance-tests/stubs/api-stub/Dockerfile
  playwright-acceptance-tests/stubs/api-stub/package-lock.json
  playwright-acceptance-tests/stubs/api-stub/package.json
  playwright-acceptance-tests/stubs/api-stub/responses/account-interventions-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/account-recovery-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/amc-authorize-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/amc-callback-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/check-email-fraud-block-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/finish-passkey-assertion-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/id-reverification-state-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/jwks-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/login-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/mfa-reset-authorize-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/orch-auth-code-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/processing-identity-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/reset-password-request-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/reverification-result-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/signup-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/start-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/start-passkey-assertion-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/token-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/user-exists-200.json
  playwright-acceptance-tests/stubs/api-stub/responses/userinfo-200.json
  playwright-acceptance-tests/stubs/api-stub/rest-plugin-config.yaml
  playwright-acceptance-tests/stubs/api-stub/src/routes/static.ts
  playwright-acceptance-tests/stubs/api-stub/src/server.ts
  playwright-acceptance-tests/stubs/api-stub/tsconfig.json
Due: eslint

AUT-5612: Harden docker-compose for acceptance tests
  playwright-acceptance-tests/docker-compose.yml
  playwright-acceptance-tests/features/stub-journey.feature
Due: none

AUT-5612: Add sign-in journey feature
  playwright-acceptance-tests/features/sign-in.feature
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/CheckYourPhonePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/EnterPasswordPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
  playwright-acceptance-tests/src/pages/YouHaveOneLoginPage.ts
  playwright-acceptance-tests/src/steps/sign-in.steps.ts
  playwright-acceptance-tests/src/support/constants.ts
  playwright-acceptance-tests/src/support/expect.ts
  playwright-acceptance-tests/stubs/api-stub/src/constants.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/authentication-auth-code.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/check-user-exists.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/login.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/mfa.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/sign-up.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/start.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/static.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/verify-code.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/verify-mfa-code.ts
  playwright-acceptance-tests/stubs/api-stub/src/server.ts
  playwright-acceptance-tests/stubs/api-stub/src/state.ts
Due: eslint

AUT-5612: Add sign-in lockouts feature
  playwright-acceptance-tests/features/lockouts-sign-in.feature
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/EnterAuthenticatorAppCodePage.ts
  playwright-acceptance-tests/src/pages/EnterPasswordPage.ts
  playwright-acceptance-tests/src/pages/LockoutPage.ts
  playwright-acceptance-tests/src/steps/sign-in.steps.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/mfa.ts
Due: eslint

AUT-5612: Add auth app journeys feature
  playwright-acceptance-tests/features/auth-app-2fa-off.feature
  playwright-acceptance-tests/src/pages/CheckYourEmailPage.ts
  playwright-acceptance-tests/src/pages/CreatePasswordPage.ts
  playwright-acceptance-tests/src/steps/sign-in.steps.ts
Due: eslint

BAU: Update amc action type
  src/components/create-passkey-callback/types.ts
Due: eslint

AUT-5612: Update readme
  playwright-acceptance-tests/README.md
Due: none

AUT-5032: Setup the skeleton for the journey-controller
  src/components/journey/journey-controller.ts
  src/components/journey/journey-routes.ts
  src/components/journey/tests/journey-controller-integration.test.ts
  src/components/journey/tests/journey-controller.test.ts
Due: eslint

AUT-5032: Add optional currentStateOverride to getNextPathAndUpdateJourney
  src/components/common/state-machine/state-machine-executor.ts
Due: eslint

AUT-5032: Setup new /journey route
  src/app.constants.ts
  src/app.ts
  src/components/journey/journey-routes.ts
  src/components/templates/pages.test.ts
Due: eslint

AUT-5032: Add validation to check that the event from the route params is included in a preset allowList of events for a particular state
  src/components/journey/journey-controller.ts
  src/components/journey/tests/journey-controller.test.ts
Due: eslint

AUT-5032: Add validation to check that the page from the route params matches the previous page the user was on from the session
  src/components/journey/journey-controller.ts
  src/components/journey/tests/journey-controller-integration.test.ts
  src/components/journey/tests/journey-controller.test.ts
Due: eslint

AUT-5032: Add validation if event or page route params aren't present
  src/components/journey/journey-controller.ts
  src/components/journey/tests/journey-controller.test.ts
Due: eslint

AUT-5032: Migrate sign-in-passkey page to use the /journey when the user clicks the "sign in another way" link
  src/components/common/state-machine/state-machine.ts
  src/components/sign-in-with-passkey/index.njk
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint
