Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-5228: Call update user profile in amc callback handler when user has skipped setting up passkey in amc
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-integration.test.ts
Due: eslint

BAU: Refactor error handling in create passkey callback controller
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey-callback/types.ts
Due: eslint

BAU: Remove profile information from update user profile request
  src/components/common/update-profile/tests/update-profile-service.test.ts
  src/components/common/update-profile/types.ts
  src/components/common/update-profile/update-profile-service.ts
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  src/components/create-passkey/create-passkey-controller.ts
  src/components/create-passkey/tests/create-passkey-controller.test.ts
  src/components/updated-terms-conditions/updated-terms-conditions-controller.ts
Due: eslint

BAU: Increase passkey rollout percentage to 1%
  cloudformation/deploy/template.yaml
Due: none

AUT-5710: Add new function for asset cache Behaviour
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5710: Add Alias to CloudFront distribution (#3594)
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5719: Add Alias to staging enviorment
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5719: Add Alias to staging enviorment (#3600)
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5720: Add Alias to integration Apex cloudfront
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5316: Add merge_group trigger to gate tests
  .github/workflows/dependency-review.yml
  .github/workflows/playwright-acceptance-tests.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks-shellscript.yaml
  .github/workflows/pre-merge-checks.yml
Due: none

AUT-5720: Add Alias to integration Apex cloudfront (#3601)
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5718: Add Alias to build Apex cloudfront
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

AUT-5718: Add Alias to build Apex cloudfront (#3603)
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

BAU: Add commit message to CodePipeline revision summary for frontend deploys
  .github/workflows/build-deploy-frontend-dev.yml
  .github/workflows/build-deploy-frontend.yml
Due: none

BAU: Update version of ECR action
  .github/workflows/build-deploy-frontend-dev.yml
  .github/workflows/build-deploy-frontend.yml
Due: none

BAU: Increase 'PasskeyRolloutPercentage' to 10%
  cloudformation/deploy/template.yaml
Due: none

AUT-5575: Remove render-user-journey-documentation
  README.md
  scripts/render-user-journey-documentation.ts
Due: eslint

BAU: Bump dompurify to 3.4.13
  journey-map/package-lock.json
  journey-map/package.json
Due: none

BAU: Log why the passkey prompt is not shown & end every passkey skip log with "skipping passkey prompt"
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Log when no passkey rollout percentage is configured & use the request logger for the passkey rollout log
  src/components/authorize/authorize-controller.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Increase PasskeyRolloutPercentage to 20%
  cloudformation/deploy/template.yaml
Due: none

test commit
  src/components/authorize/authorize-controller.ts
Due: eslint

BAU: Add healthy host count alarm
  cloudformation/deploy/template.yaml
Due: none

AUT-5706: Install the event-catalogue-utils package
  .npmrc
  package-lock.json
  package.json
Due: check-package-json

AUT-5706: Add NODE_AUTH_TOKEN env var to the Install dependencies step on jobs in GHA
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
Due: none

AUT-5706: Ignore the event-catalogue and event-catalogue-schemas packages in dependabot updates
  .github/dependabot.yml
Due: none

AUT-5706: Install the event-catalogue-utils and required private packages
  .npmrc
  package-lock.json
  package.json
Due: check-package-json

AUT-5706: Add NODE_AUTH_TOKEN to all jobs that install dependencies
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
Due: none

AUT-5706: Make NODE_AUTH_TOKEN available in snapshot test containers
  .github/workflows/pre-merge-checks.yml
  docker-compose.snapshots.yml
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
Due: none

AUT-5706: Make NODE_AUTH_TOKEN available in playwright acceptance test containers
  .github/workflows/playwright-acceptance-tests.yml
  dev.Dockerfile
  playwright-acceptance-tests/docker-compose.yml
Due: none

BAU: Increase PasskeyRolloutPercentage to 30%
  cloudformation/deploy/template.yaml
Due: none

AUT-5706: Add section to README explaining how to install private packages
  README.md
Due: none

AUT-5706: Make allow-remote equal to root in .npmrc
  .npmrc
Due: none

BAU: Remove redundant RESEND_MFA_CODE optional path
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: Remove redundant newCodeLink being passed into security code index-wait page
  src/components/account-creation/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
Due: eslint

BAU: Remove redundant isResendCodeRequest in account creation resend code links
  src/components/account-creation/resend-mfa-code/index.njk
  src/components/account-creation/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  test/snapshot/pages.snapshot.test.ts-snapshots/resend-code-create-account--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/resend-code-create-account--default--en--chromium-linux.jpeg
Due: eslint

AUT-5706: Pass NODE_AUTH_TOKEN to the build-deploy GHA workflows
  .github/workflows/build-deploy-frontend-dev.yml
  .github/workflows/build-deploy-frontend.yml
  Dockerfile
Due: none
