Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

BAU: Extend default SESSION_EXPIRY
  scripts/_create_env_file.py
Due: none

BAU: Use existing/no existing session as indication of authenticated status
  src/components/authorize/authorize-controller.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: Remove unused context
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: Remove unnecessary duplicate transitions
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: Remove invalid sections
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: typecheck state machine context
  src/components/authorize/types.ts
  src/components/common/constants.ts
  src/components/enter-password/types.ts
Due: eslint

BAU: update state machine tests
  src/components/common/constants.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
Due: eslint

BAU: Create JS-level structure of the contact form
  src/app.constants.ts
Due: eslint

BAU: Add radio text to theme/sub-theme options
  src/app.constants.ts
Due: eslint

BAU: Add snapshot tests for rendering of all contact-us pages
  src/app.constants.ts
  src/components/contact-us/tests/__snapshots__/contact-us-snapshot.test.ts.snap
  src/components/contact-us/tests/contact-us-snapshot.test.ts
Due: eslint

AUT-4391:Changed the Front for apiBaseUrl
  cloudformation/deploy/template.yaml
Due: none

BAU: Make snapshot test for /contact-us-submit-success
  src/components/contact-us/tests/contact-us-snapshot.test.ts
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us-submit-success--en--chromium-darwin.jpeg
Due: eslint

BAU: Make snapshot test for /contact-us?supportType=GOV_SERVICE
  src/components/contact-us/tests/contact-us-snapshot.test.ts
  src/components/contact-us/tests/contact-us-snapshot.test.ts-snapshots/contact-us--GOV-SERVICE--en--chromium-darwin.jpeg
Due: eslint

BAU: Ran Prettier
  src/app.constants.ts
Due: eslint

AUT-4473: Show the 2 hour lock screen when wrongCodeEnteredLock is true
  src/components/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-controller.test.ts
Due: eslint

BAU: Exclude snapshot tests from pipeline
  package.json
Due: check-package-json

DO NOT MERGE - cloned frontend instances to test auth-internal-api
  cloudformation/deploy/template.yaml
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

AUT-4473: run preocommit
  src/components/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-controller.test.ts
Due: eslint

BAu:Remove the temp increase in ecs task created to support higher load
  cloudformation/deploy/template.yaml
Due: none

AUT-4391: orchtoauthaudience replaced by existing migrated domain mapping
  cloudformation/deploy/template.yaml
Due: none

Aut 4391 authdev3 env new frontend (#2827)
  cloudformation/deploy/template.yaml
  cloudformation/domains/template.yaml
  deploy-authdevs.sh
  scripts/dev_deploy_samconfig.toml
  scripts/dev_sam_deploy.sh
Due: none

BAU: validation error formatter
  src/middleware/form-validation-middleware.ts
  test/unit/middleware/form-validation-middleware.test.ts
Due: eslint

BAU: remove express-async-errors package
  package.json
  src/app.ts
  yarn.lock
Due: eslint, check-package-json

BAU: update wildcard route for sanitizeRequestMiddleware
  src/app.ts
  yarn.lock
Due: eslint

BAU: fix overloadProtection app.ts tests
  test/unit/app.test.ts
Due: eslint

BAU: mock getVitalSignsIntervalSeconds function
  test/unit/app.test.ts
Due: eslint

AUT-4473: Add fix to show correct sms mfa lockout screen in resend mfa code controller
  src/components/common/mfa/send-mfa-controller.ts
  src/components/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-controller.test.ts
Due: eslint

AUT-4586: Create JS-level structure of the contact form
  src/app.constants.ts
Due: eslint

AUT-4587: Exclude snapshot tests from pipeline
  .run/Unit Tests.run.xml
  package.json
  playwright.config.ts
  src/components/contact-us/tests/contact-us-snapshot.test.ts
Due: eslint, check-package-json

BAU: change PATH_NAME in send_mfa_controller to UPLIFT_JOURNEY
  src/components/common/mfa/send-mfa-controller.ts
Due: eslint

BAU: Don't reference req.body.isResendCodeRequest in GET routes
  src/components/common/mfa/send-mfa-controller.ts
Due: eslint

AUT-4558: Add validation to the reset-password-2fa-auth-app post route
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-routes.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-validation.ts
  src/components/reset-password-2fa-auth-app/tests/__snapshots__/reset-password-2fa-auth-app-integration.test.ts.snap
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-integration.test.ts
Due: eslint

BAU: throw error when nextState is the same as current path
  src/components/common/constants.ts
  src/components/common/tests/constants.test.ts
Due: eslint

BAU: Use in-memory sessions for local running
  src/app.ts
Due: eslint

BAU: Use local key for decryption
  src/components/authorize/authorize-controller.ts
  src/components/authorize/kms-decryption-service.ts
  src/components/authorize/local-decryption-service.ts
  src/components/authorize/types.ts
  src/config.ts
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
  check-package-json: any of: ^package.json$
