Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-4173: Create redirect page to update journey
  src/app.constants.ts
  src/components/common/state-machine/state-machine.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/enter-email-routes.ts
  src/components/enter-email/tests/enter-email-controller.test.ts
  src/components/enter-email/tests/enter-email-create-account-integration.test.ts
  src/components/sign-in-or-create/index-mobile.njk
  src/components/sign-in-or-create/sign-in-or-create-routes.ts
Due: eslint

AUT-4085: Upgrade tsconfig.json to use 'ESNext'
  tsconfig.json
Due: none

AUT-4085: Convert eslint.config.js to use ESM-style imports/exports
  eslint.config.js
Due: eslint

AUT-4085: Upgrade package.json to use 'module'
  package.json
Due: check-package-json

AUT-4085: Remove un-necessary module.exports from redis.ts
  src/utils/redis.ts
Due: eslint

AUT-4085: Re-use build script
  package.json
  tsconfig.json
Due: check-package-json

AUT-4085: Fix pino import
  src/utils/logger.ts
Due: eslint

AUT-4085: Add Eslint config to require 'type' imports
  eslint.config.js
Due: eslint

AUT-4085: Fix __dirname usages
  src/app.ts
Due: eslint

AUT-4085: Fix import in redis.ts
  src/utils/redis.ts
Due: eslint

AUT-4085: Fix Nunjucks imports
  src/config/nunchucks.ts
Due: eslint

AUT-4085: Ignore .js and 'type' file changes from Git blame
  .git-blame-ignore-revs
Due: none

AUT-4244: Fix validation for reset password check email
  src/components/common/verify-code/verify-code-controller.ts
  src/components/reset-password-check-email/index.njk
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/reset-password-check-email-validation.ts
  src/components/reset-password-check-email/tests/__snapshots__/reset-password-check-email-integration.test.ts.snap
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
Due: eslint

ATO-1435: Pass new claims to auth backend.
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4179: Update `/account-not-found` strategic app page
  src/components/account-not-found/index-mobile.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4238: Additional CloudWatch alarms from Target_4xx/5xx metrics
  cloudformation/deploy/template.yaml
Due: none

WIP AUT-4085: import weirdness
  .run/Template Mocha.run.xml
  .run/Unit Tests.run.xml
  package.json
  src/simple.ts
  test/unit/app.test.ts
Due: eslint, check-package-json

AUT-4133: remove the Migrated resource from config
  ci/terraform/redis.tf
  ci/terraform/security-groups.tf
Due: none

AUT-4218: Change lockout error content
  src/components/check-your-email/check-your-email-controller.ts
Due: eslint

AUT-4250: Do not send x-powered-by header on static assets
  src/app.ts
  test/unit/static.test.ts
Due: eslint

AUT-4251: Add FMS ignore tags cloaking Header WAF
  cloudformation/deploy/template.yaml
Due: none

AUT-4150: Replace `asyncHandler` with `express-async-errors`
  package.json
  src/app.ts
  src/components/account-creation/resend-mfa-code/resend-mfa-code-routes.ts
  src/components/account-not-found/account-not-found-routes.ts
  src/components/account-recovery/change-security-codes-confirmation/change-security-codes-confirmation-routes.ts
  src/components/account-recovery/check-your-email-security-codes/check-your-email-security-codes-routes.ts
  src/components/auth-code/auth-code-routes.ts
  src/components/authorize/authorize-routes.ts
  src/components/check-your-email/check-your-email-routes.ts
  src/components/check-your-phone/check-your-phone-routes.ts
  src/components/contact-us/contact-us-routes.ts
  src/components/create-password/create-password-routes.ts
  src/components/doc-checking-app/doc-checking-app-routes.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-routes.ts
  src/components/enter-email/enter-email-routes.ts
  src/components/enter-mfa/enter-mfa-routes.ts
  src/components/enter-password/enter-password-routes.ts
  src/components/enter-phone-number/enter-phone-number-routes.ts
  src/components/ipv-callback/ipv-callback-routes.ts
  src/components/landing/landing-route.ts
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-routes.ts
  src/components/prove-identity-callback/prove-identity-callback-routes.ts
  src/components/resend-email-code/resend-email-code-routes.ts
  src/components/resend-mfa-code/resend-mfa-code-routes.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-routes.ts
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-routes.ts
  src/components/reset-password-check-email/reset-password-check-email-routes.ts
  src/components/reset-password/reset-password-routes.ts
  src/components/setup-authenticator-app/setup-authenticator-app-routes.ts
  src/components/sign-in-or-create/sign-in-or-create-routes.ts
  src/components/updated-terms-conditions/updated-terms-conditions-routes.ts
  src/components/uplift-journey/uplift-journey-routes.ts
  src/utils/async.ts
  yarn.lock
Due: eslint, check-package-json

WIP
  src/assets/scss/application.scss
Due: none

AUT-4133: refactor frontend to work for sandpit after redis migration
  ci/terraform/ecs.tf
  ci/terraform/ssm.tf
Due: none

BAU: Branch to destroy Frontend locally
  ci/terraform/alb.tf
  ci/terraform/route53.tf
Due: none

BAU: Vital signs log less frequently locally
  scripts/_create_env_file.py
  src/app.ts
  src/config.ts
  test/unit/app.test.ts
Due: eslint

BAU: Correct authdev signin URLs in env script
  dev-app-orchstub.js
  scripts/_create_env_file.py
Due: eslint

AUT-4251: Add FMS ignore tags cloaking Header WAF (#2728)
  cloudformation/deploy/template.yaml
Due: none

BAU: Adding --platform=linux/amd64 to ensure the image is pulled for the correct architecture
  scripts/dev_deploy_common.sh
Due: none

Revert "BAU: Bump jsdom from 26.0.0 to 26.1.0"
  package.json
  yarn.lock
Due: check-package-json

AUT-4254: Rename mid-journey-direct-navigation-without-session to mid-journey-direct-navigation
  src/components/common/errors/mid-journey-direct-navigation-without-session.njk
  src/components/common/errors/mid-journey-direct-navigation.njk
  src/handlers/internal-server-error-handler.ts
  src/handlers/tests/internal-server-error-handler.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4252: Navigating to root is forbidden
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/landing/landing-controller.ts
  src/components/landing/landing-route.ts
  src/components/landing/tests/__snapshots__/landing-integration.test.ts.snap
  src/components/landing/tests/landing-controller.test.ts
  src/components/landing/tests/landing-integration.test.ts
  src/handlers/internal-server-error-handler.ts
  src/handlers/tests/internal-server-error-handler.test.ts
Due: eslint

AUT-1416: Define types to represent new MFA methods structure
  src/types.ts
Due: eslint

AUT-1416: Create `getDefaultSmsMfaMethodDetail`
  src/types.ts
  src/utils/mfa.test.ts
  src/utils/mfa.ts
Due: eslint

AUT-1416: Create temporary `migrateMfaSessionStorageMiddleware`
  src/app.ts
  src/middleware/migrate-mfa-session-storage-middleware.ts
  src/types.ts
  test/unit/middleware/migrate-mfa-session-storage-middleware.test.ts
Due: eslint
