Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

BAU: Fix 'macOS' typo
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-5029: Refactor the getGoBackHistoryForTransition function to make it easier to read
  src/components/common/state-machine/go-back-history.ts
  src/components/common/state-machine/tests/go-back-history.test.ts
Due: eslint

AUT-5029: Add back button to sign-in-passkey
  src/components/sign-in-with-passkey/index.njk
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--default--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--default--en--chromium-linux.jpeg
Due: none

BAU: Add SIGN_IN_OR_CREATE as an optionalPath to the ACCOUNT_EXISTS_WITH_PASSKEY state
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-5029: Set sign-in-passkey in the goBackHistoryAllowList
  src/components/common/state-machine/go-back-history.ts
  test/unit/middleware/go-back-middleware.test.ts
Due: eslint

AUT-5029: Make the transition from enter-email to sign-in-passkey reversible
  playwright-acceptance-tests/features/back-button-behaviour.feature
  src/components/common/state-machine/state-machine.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
Due: eslint

AUT-5029: Make the transition from account-exists to sign-in-passkey reversible
  playwright-acceptance-tests/features/back-button-behaviour.feature
  src/components/account-exists-with-passkey/account-exists-with-passkey-routes.ts
  src/components/account-exists-with-passkey/tests/account-exists-with-passkey-integration.test.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

BAU: Evaluate isHidden on request, rather than baking into CONTACT_FORM_STRUCTURE
  src/components/contact-us/structure/contact-us-structure-utils.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/components/contact-us/tests/contact-us-structure-utils.test.ts
Due: eslint

BAU: Remove the need to specify all the validateStatuses in getInternalRequestConfigWithSecurityHeaders
  src/utils/http.ts
  test/unit/utils/http.test.ts
Due: eslint

BAU: Remove the unnecessary validationStatuses from various services
  src/components/check-reauth-users/check-reauth-users-service.ts
  src/components/common/send-notification/send-notification-service.ts
  src/components/common/send-notification/tests/send-notification-service.test.ts
  src/components/enter-password/enter-password-service.ts
Due: eslint

Revert "BAU: Switch off the Passkeys prompt in staging for mobile"
  cloudformation/deploy/template.yaml
Due: none

AUT-5556: Run passkeys acceptance tests in build
  cloudformation/deploy/template.yaml
Due: none

AUT-5555: Add the authdev3 smoke test client id to the PasskeyPromptClientAllowList
  cloudformation/deploy/template.yaml
Due: none

BAU: Rename test variable
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
Due: eslint

AUT-5461: Handle ais response from amc
  src/components/common/state-machine/state-machine.ts
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
  src/components/create-passkey-callback/tests/create-passkey-callback-controller.test.ts
  src/components/create-passkey-callback/types.ts
Due: eslint

AUT-5548: Add PasskeyRolloutPercentage env var
  .env.local
  cloudformation/deploy/template.yaml
  src/config.ts
  test/unit/config.test.ts
Due: eslint

BAU: Fix type error in authorize-controller.test.ts
  src/components/authorize/tests/authorize-controller.test.ts
Due: eslint

AUT-5548: Add isInPasskeyPhasedRollout function to determine whether current journey should be shown the passkey registration prompt given the rollout percentage
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-5548: Set isInPasskeyPhasedRollout boolean in the frontend session
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/types.ts
Due: eslint

AUT-5548: Only prompt to register a passkey if the journey is in the passkey phased rollout
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

AUT-3966: Add A new dev GHA for Apex website deployment
  .github/workflows/build-deploy-apex-website-dev.yml
Due: none

AUT-3966: Add A new dev GHA for Apex website deployment (#3533)
  .github/workflows/build-deploy-apex-website-dev.yml
Due: none

AUT-5550: Add passkey prompt denylist
  cloudformation/deploy/template.yaml
  src/config.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
  test/unit/config.test.ts
Due: eslint

AUT-5559: switch on prompt in authdev3
  cloudformation/deploy/template.yaml
Due: none

AUT-5559: Passkey prompt denylist add authdev3 rp stub to denylist
  cloudformation/deploy/template.yaml
Due: none

AUT-5550: Add passkey prompt denylist
  .env.local
  cloudformation/deploy/template.yaml
  src/config.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
  test/unit/config.test.ts
Due: eslint

BAU: Upgrade the frontend analytics package to 4.2.0
  journey-map/package-lock.json
  package-lock.json
  package.json
Due: check-package-json

Revert "BAU: Upgrade the frontend analytics package to 4.2.0"
  journey-map/package-lock.json
  package-lock.json
  package.json
Due: check-package-json

AUT-5364: Moved default text into inner object
  src/components/sign-in-with-passkey/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-5364: Add reauth variant of signInWithPasskey page
  src/components/sign-in-with-passkey/index.njk
  src/components/sign-in-with-passkey/sign-in-with-passkey-controller.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-controller.test.ts
  src/components/templates/pages.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--reauth--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-passkey--reauth--en--chromium-linux.jpeg
Due: eslint

AUT-5674: Add missing authenticationOptions to cannotSignInPasskey page
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-validation.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
  src/components/templates/pages.ts
  src/types.ts
Due: eslint

AUT-5461: Rename user journey events to make it clear they orginate from amc
  src/components/common/state-machine/state-machine.ts
  src/components/create-passkey-callback/create-passkey-callback-controller.ts
Due: eslint

Revert "Revert "BAU: Upgrade the frontend analytics package to 4.2.0""
  journey-map/package-lock.json
  package-lock.json
  package.json
Due: check-package-json

AUT-3966: use Single cache CacheBehavior for cloudfront
  apex-website/cloudfront-functions/apex-static-redirect-page.js
  apex-website/lambda-functions/copier_lambda.py
  cloudformation/apex-website/apex-cloudfront.yaml
Due: eslint

AUT-5044: Add setup to be able to add account-intervention playwright acceptance tests
  playwright-acceptance-tests/src/steps/account-interventions.steps.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/account-interventions.ts
  playwright-acceptance-tests/stubs/api-stub/src/routes/static.ts
  playwright-acceptance-tests/stubs/api-stub/src/server.ts
  playwright-acceptance-tests/stubs/api-stub/src/state.ts
Due: eslint

AUT-5044: Add the passkey prompt client allow list to the .env.local for local running and playwright acceptance tests
  .env.local
Due: none

AUT-5044: Make hasActivePasskey false in check-user-exists.ts endpoint
  playwright-acceptance-tests/stubs/api-stub/src/routes/check-user-exists.ts
Due: eslint

AUT-5044: Handle reprovedIdentity failures in the account-interventions-middleware
  src/components/auth-code/auth-code-routes.ts
  src/components/reset-password/reset-password-routes.ts
  src/middleware/account-interventions-middleware.ts
Due: eslint

AUT-3966: Added build Workflow for build deployment
  .github/workflows/build-deploy-apex-website.yml
  .github/workflows/build-deploy-frontend.yml
  cloudformation/apex-website/apex-cloudfront.yaml
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
