Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types:
          - text
        stages:
          - pre-commit
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args:
          - '--fix'
      - id: ruff-format

AUT-5001: Fix input.value typos
  src/components/cannot-sign-in-passkey/index.njk
  src/components/sign-in-with-passkey/index.njk
Due: none

AUT-5001: After successful authentication on the device, finish the passkey assertion
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-routes.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
  src/components/common/state-machine/state-machine.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
Due: eslint

BAU: Refactor to align /cannot-sign-in-passkey and /sign-in-passkey
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
  src/components/sign-in-with-passkey/tests/sign-in-with-passkey-integration.test.ts
  test/helpers/common-test-variables.ts
Due: eslint

BAU: Remove js-yaml override
  package.json
Due: check-package-json

BAU: Remove explicit validator override
  package.json
Due: check-package-json

AUT-5540: Enable the Service Down Page in dev, build and staging
  .github/workflows/build-deploy-frontend-dev.yml
  cloudformation/deploy/template.yaml
Due: none

AUT-5540: Limit Service Down Page task count in non-prod to 1 task
  cloudformation/deploy/template.yaml
Due: none

AUT-5540: Dockerfile hardening for service-down-page-config/Dockerfile
  service-down-page-config/Dockerfile
Due: none

AUT-5540: Dockerfile hardening for playwright-acceptance-tests/Dockerfile
  .github/workflows/playwright-acceptance-tests.yml
  playwright-acceptance-tests/.dockerignore
  playwright-acceptance-tests/Dockerfile
  playwright-acceptance-tests/docker-compose.yml
Due: none

AUT-5540: Dockerfile hardening for snapshots-playwright.Dockerfile
  .github/workflows/pre-merge-checks.yml
  docker-compose.snapshots.yml
  snapshots-playwright.Dockerfile
Due: none

BAU: Constrain form-data to >=4.0.6
  package.json
Due: check-package-json

BAU: Add Condition not to deploy Service Down in Authdevs Env
  cloudformation/deploy/template.yaml
Due: none

BAU: Add Condition not to deploy Service Down in Authdevs Env (#3460)
  cloudformation/deploy/template.yaml
Due: none

AUT-5522: Fetch the mfaRequired in UserSessionInfo from the /start endpoint
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/components/authorize/types.ts
Due: eslint

AUT-5522: Add log to check if the values of the isMfaRequired in session and mfaRequired from /login are different
  src/components/enter-password/enter-password-controller.ts
Due: eslint

BAU: Add CUCUMBER_FILTER_TAGS SSM param
  cloudformation/deploy/template.yaml
Due: none

AUT-5569: Encrypt ec2 ebs and update AMI ID
  cloudformation/bastion/bastion-host.yaml
Due: none

AUT-5522: Remove setting the isMfaRequired in the enter-password-controller
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/enter-password/types.ts
Due: eslint

AUT-5522: Remove redundant reference to mfaRequired in tests
  src/components/reset-password/tests/reset-password-controller.test.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
Due: eslint

AUT-5569: Add EC2 metadata httptoken for Server-Side Request Forgery (SSRF) vulnerability
  cloudformation/bastion/bastion-host.yaml
Due: none

AUT-5569 Ithc ec2 lacking ebs encryption and httptoken metadata (#3464)
  cloudformation/bastion/bastion-host.yaml
Due: none

BAU: Bump dompurify override to >=3.4.11
  journey-map/package-lock.json
  journey-map/package.json
Due: none

BAU: Add js-yaml override to >=4.2.0
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
Due: none

BAU: Add API_BASE_URL in .env.local
  .env.local
Due: none

AUT-5000: When the user clicks "sign in with password and a security code" or "sign in with password" redirect the user to enter-password
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-routes.ts
  src/components/cannot-sign-in-passkey/index.njk
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-5000: Redirect to the cannot-sign-in-passkey when retrying sign in fails
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-integration.test.ts
  src/components/cannot-sign-in-passkey/types.ts
Due: eslint

AUT-5295: Update cookies page with amc cookies
  src/components/common/cookies/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

BAU: Allow acceptance tests tagged with @PasskeyUsageEnabled to run in dev
  cloudformation/deploy/template.yaml
Due: none

AUT-5503: Remove redundant route users to new ipv journey from cloudformation
  cloudformation/deploy/template.yaml
Due: none

AUT-5522: Pass mfaRequired into the cannot-sign-in-passkey template to render the different content
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-controller.ts
  src/components/cannot-sign-in-passkey/cannot-sign-in-passkey-validation.ts
  src/components/cannot-sign-in-passkey/tests/cannot-sign-in-passkey-controller.test.ts
Due: eslint

AUT-5503: Remove redundant support mfa reset with ipv env variable
  cloudformation/deploy/readme.md
  cloudformation/deploy/template.yaml
Due: none

AUT-5529: Add prompting rule to suppress passkey registration prompt if new session value is true
  src/types.ts
  src/utils/passkeys-helper.test.ts
  src/utils/passkeys-helper.ts
Due: eslint

BAU: Add test infrastructure for sign-in journeys
  playwright-acceptance-tests/docker-compose.yml
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/support/expect.ts
  playwright-acceptance-tests/src/support/hooks.ts
Due: eslint

BAU: Update existing page objects to use custom expect
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
Due: eslint

BAU: Add page objects for sign-in journey
  playwright-acceptance-tests/src/pages/AccountLockedPage.ts
  playwright-acceptance-tests/src/pages/CheckYourPhonePage.ts
  playwright-acceptance-tests/src/pages/EnterAuthAppCodePage.ts
  playwright-acceptance-tests/src/pages/EnterPasswordPage.ts
  playwright-acceptance-tests/src/pages/GetSecurityCodePage.ts
  playwright-acceptance-tests/src/pages/StubUserInfoPage.ts
  playwright-acceptance-tests/src/pages/YouHaveAOneLoginPage.ts
Due: eslint

BAU: Add step definitions for sign-in journey
  playwright-acceptance-tests/src/steps/sign-in-journey.steps.ts
Due: eslint

BAU: Add Imposter handlers and responses for sign-in
  playwright-acceptance-tests/stubs/api-stub/login-handler.js
  playwright-acceptance-tests/stubs/api-stub/mfa-handler.js
  playwright-acceptance-tests/stubs/api-stub/responses/login-200-auth-app.json
  playwright-acceptance-tests/stubs/api-stub/responses/login-200-no-mfa.json
  playwright-acceptance-tests/stubs/api-stub/responses/login-400-max-password-attempts.json
  playwright-acceptance-tests/stubs/api-stub/responses/mfa-400-max-codes-sent.json
  playwright-acceptance-tests/stubs/api-stub/responses/start-200-no-mfa.json
  playwright-acceptance-tests/stubs/api-stub/responses/user-exists-400-account-locked.json
  playwright-acceptance-tests/stubs/api-stub/responses/verify-code-400-invalid.json
  playwright-acceptance-tests/stubs/api-stub/responses/verify-code-400-max-attempts.json
  playwright-acceptance-tests/stubs/api-stub/responses/verify-mfa-code-400-invalid.json
  playwright-acceptance-tests/stubs/api-stub/responses/verify-mfa-code-400-max-attempts.json
  playwright-acceptance-tests/stubs/api-stub/rest-plugin-config.yaml
  playwright-acceptance-tests/stubs/api-stub/start-handler.js
  playwright-acceptance-tests/stubs/api-stub/user-exists-handler.js
  playwright-acceptance-tests/stubs/api-stub/verify-code-handler.js
  playwright-acceptance-tests/stubs/api-stub/verify-mfa-handler.js
Due: eslint

BAU: Add sign-in journey feature files
  playwright-acceptance-tests/features/sign-in-lockouts.feature
  playwright-acceptance-tests/features/sign-in.feature
Due: none

BAU: Remove reports volume mount from docker-compose
  playwright-acceptance-tests/docker-compose.yml
Due: none

BAU: Fix enter email step to use expect for page load
  playwright-acceptance-tests/src/steps/sign-in-journey.steps.ts
Due: eslint
