Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

AUT-4973: adding SSL and KMS to Frontend alb logs s3 bucket
  cloudformation/deploy/template.yaml
Due: none

AUT-4924: Create initial Playwright POC
  package.json
  playwright-acceptance-tests/.gitignore
  playwright-acceptance-tests/README.md
  playwright-acceptance-tests/clean-json.js
  playwright-acceptance-tests/clean-reports.js
  playwright-acceptance-tests/cucumber.js
  playwright-acceptance-tests/features/create-or-signin.feature
  playwright-acceptance-tests/features/stub-journey.feature
  playwright-acceptance-tests/package-lock.json
  playwright-acceptance-tests/package.json
  playwright-acceptance-tests/prettierrc
  playwright-acceptance-tests/run-test-with-report.js
  playwright-acceptance-tests/src/pages/BasePage.ts
  playwright-acceptance-tests/src/pages/CreateOrSignInPage.ts
  playwright-acceptance-tests/src/pages/EnterEmailPage.ts
  playwright-acceptance-tests/src/pages/StubStartPage.ts
  playwright-acceptance-tests/src/steps/stub-journey.steps.ts
  playwright-acceptance-tests/src/support/hooks.ts
  playwright-acceptance-tests/src/support/world.ts
  playwright-acceptance-tests/tsconfig.json
Due: eslint, check-package-json

BAU: Add instructions for viewing the db in IntelliJ when running locally
  README.md
Due: none

BAU: Run frontend in a local node instance against the backend running in Docker
  docker-compose.yml
  yarn.lock
Due: none

AUT-4815: WIP
  @types/express/index.d.ts
  src/app.ts
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
  src/middleware/initialise-user-history-middleware.ts
  src/types.ts
Due: eslint

AUT-4815: Route to a back-event route and redirect user to the right state in the history
  src/app.ts
  src/components/back-event/back-event-routes.ts
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
Due: eslint

AUT-4815: Tested whether we can store metadata inside the state machine and we can. This can be accessed using what is present currently inside state-machine-executor.ts
  run-frontend.sh
  src/app.constants.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
Due: eslint

WIP
  src/app.constants.ts
  src/components/back-event/back-event-controller.ts
  src/components/back-event/back-event-routes.ts
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/middleware/allow-user-journey-middleware.ts
  src/types.ts
Due: eslint

AUT-4815: validate that we can use the middleware and history to go back rather than back-event route directly
  src/components/back-event/back-event-routes.ts
  src/components/common/layout/base.njk
  src/middleware/allow-user-journey-middleware.ts
Due: eslint

AUT-4815: WIP rename
  src/components/common/state-machine/state-machine-executor.ts
Due: eslint

AUT-3933: Add `@govuk-one-login/frontend-ui` package
  package-lock.json
  package.json
Due: check-package-json

AUT-3933: Add `@govuk-one-login/frontend-ui` to scss
  src/assets/scss/application.scss
Due: none

AUT-3933: Add `@govuk-one-login/frontend-ui` JS to dist dir
  package.json
  src/utils/logger.ts
Due: eslint, check-package-json

BAU: Update "how to review" links in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

AUT-3933: Add progress button template and translations
  src/components/common/progress-button/template.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-3933: Include progress button on `/enter-authenticator-app-code` path
  src/components/enter-authenticator-app-code/index.njk
Due: none

AUT-4973: Adding AWS managed KMS to Frontend alb logs s3 bucket
  .github/workflows/pre-commit.yml
  cloudformation/deploy/template.yaml
Due: none

AUT-4973: Adding AWS managed KMS to Frontend alb logs s3 bucket (#3124)
  .github/workflows/pre-commit.yml
  cloudformation/deploy/template.yaml
Due: none

AUT-4815: use state machine to control history
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/middleware/allow-user-journey-middleware.ts
Due: eslint

rename to goBackHistory
  src/components/back-event/back-event-routes.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/middleware/allow-user-journey-middleware.ts
  src/middleware/initialise-user-history-middleware.ts
  src/types.ts
Due: eslint

SPIKE: Add <a> with otpauth url
  src/components/setup-authenticator-app/index.njk
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/setup-authenticator-app/setup-authenticator-app-validation.ts
  src/types.ts
Due: eslint

AUT-4976: Make ECS root directory Read only in container
  cloudformation/deploy/template.yaml
Due: none

AUT-3933: Add double-submit prevention for form submissions
  package.json
  src/assets/javascript/prevent-double-form-submit.js
  src/utils/logger.ts
Due: eslint, check-package-json

AUT-3933: Include double-submit prevention script in /enter-authenticator-app-code template
  src/assets/javascript/prevent-double-form-submit.js
  src/components/enter-authenticator-app-code/index.njk
Due: eslint

AUT-3933: Include double-submit prevention script in /change-codes-confirmed template
  src/components/account-recovery/change-security-codes-confirmation/index.njk
Due: none

AUT-4976: make service down container root directory readonly
  cloudformation/deploy/template.yaml
Due: none

AUT-4815: implement new way of doing things
  src/app.ts
  src/components/back-event/back-event-routes.ts
  src/components/check-your-email/index.njk
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/enter-password/index.njk
  src/components/optional-path/optional-path-routes.ts
  src/middleware/allow-user-journey-middleware.ts
Due: eslint

AUT-4815: dummy implementation of migrating enter-password
  src/components/common/layout/base.njk
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/enter-password/index.njk
  src/components/optional-path/optional-path-controller.ts
Due: eslint

AUT-4976: Make ECS root directory Read only in container (#3127)
  cloudformation/deploy/template.yaml
Due: none

Revert "AUT-4976: Make ECS root directory Read only in container (#3127)"
  cloudformation/deploy/template.yaml
Due: none

Revert "AUT-4976: Make ECS root directory Read only in container (#3127)" (#3148)
  cloudformation/deploy/template.yaml
Due: none

AUT-4815: remove unnecessary code
  src/components/common/state-machine/state-machine-executor.ts
Due: eslint

AUT-5078: Add `SUPPORT_NEW_INTERNATIONAL_SMS` feature flag
  .env.local
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/config.ts
Due: eslint

AUT-5077: Add validation to reject international phone numbers when feature flag is disabled
  src/components/common/phone-number/phone-number-validation.ts
  src/components/enter-phone-number/enter-phone-number-validation.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
Due: eslint

AUT-5077: Gate international phone numbers behind SUPPORT_NEW_INTERNATIONAL_SMS feature flag
  src/components/enter-phone-number/enter-phone-number-controller.ts
  src/components/enter-phone-number/tests/enter-phone-number-controller.test.ts
Due: eslint

AUT-5075: Conditionally display UK-specific phone number text on get security codes page
  src/components/select-mfa-options/index.njk
  src/components/select-mfa-options/select-mfa-options-controller.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-5112: Conditionally display UK-specific phone number text on landing page
  src/components/sign-in-or-create/index.njk
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-5112: Update snapshot tests
  src/components/templates/pages.ts
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-international-sms-supported--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-international-sms-supported--en--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-uk-sms-only--cy--chromium-linux.jpeg
  test/snapshot/pages.snapshot.test.ts-snapshots/sign-in-or-create--default-with-uk-sms-only--en--chromium-linux.jpeg
Due: eslint

AUT-5076: Remove redundant hidden input
  src/components/enter-phone-number/index.njk
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  check-package-json: any of: ^package.json$
