Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: rain-fmt, eslint, tfupdate-lock

rain-fmt:
  name: rain fmt (cfn templates)
  language: golang
  additional_dependencies:
  - github.com/aws-cloudformation/rain/cmd/rain@v1.21.0
  entry: rain fmt -w --node-style original

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

BAU: `rain-fmt` all cloudformation templates
  cloudformation/cloudfront-waf/template.yaml
  cloudformation/deploy/template.yaml
  cloudformation/domains/template.yaml
Due: rain-fmt

BAU: Add integration tests for the link that appears on the mfa pages
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
Due: eslint

AUT-4088: Rename variable passed to template
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-authenticator-app-code/index-2fa-service-uplift-auth-app.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/index-2fa-service-uplift-mobile-phone.njk
  src/components/enter-mfa/index.njk
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
Due: eslint

AUT-4088: Only display new mfa reset journey link on enter sms if two feature flags are on
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/config.ts
Due: eslint

AUT-4088: Only display new mfa reset journey link on enter auth app if two feature flags are on
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
Due: eslint

AUT-4088: Use new flag in submission to reset password request
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/tests/reset-password-controller.test.ts
Due: eslint

AUT-4088: Add new feature flag to cloudformation template
  cloudformation/deploy/template.yaml
Due: rain-fmt

AUT-4088: Add new feature flag to terraform
  ci/terraform/authdev1.tfvars
  ci/terraform/authdev2.tfvars
  ci/terraform/dev.tfvars
  ci/terraform/ecs.tf
  ci/terraform/staging.tfvars
  ci/terraform/variables.tf
Due: none

WIP
  cf-template.yaml
  cf-template.yaml.bak
  pbcopy
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/middleware/allow-user-journey-middleware.ts
Due: rain-fmt, eslint

wip 2
  src/components/common/state-machine/state-machine.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/middleware/allow-user-journey-middleware.ts
Due: eslint

Revert "AUT-4088: Add new feature flag to terraform"
  ci/terraform/authdev1.tfvars
  ci/terraform/authdev2.tfvars
  ci/terraform/dev.tfvars
  ci/terraform/ecs.tf
  ci/terraform/staging.tfvars
  ci/terraform/variables.tf
Due: none

Revert "AUT-4088: Add new feature flag to cloudformation template"
  cloudformation/deploy/template.yaml
Due: rain-fmt

Revert "AUT-4088: Use new flag in submission to reset password request"
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/tests/reset-password-controller.test.ts
Due: eslint

Revert "AUT-4088: Only display new mfa reset journey link on enter auth app if two feature flags are on"
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
Due: eslint

Revert "AUT-4088: Only display new mfa reset journey link on enter sms if two feature flags are on"
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/config.ts
Due: eslint

Revert "AUT-4088: Rename variable passed to template"
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-authenticator-app-code/index-2fa-service-uplift-auth-app.njk
  src/components/enter-authenticator-app-code/index.njk
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/index-2fa-service-uplift-mobile-phone.njk
  src/components/enter-mfa/index.njk
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
Due: eslint

Revert "BAU: Add integration tests for the link that appears on the mfa pages"
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
Due: eslint

AUT-3893: Remove prove identity welcome from the state machine
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
Due: eslint

AUT-3893: Remove PROVE_IDENTITY_WELCOME_ENABLED
  ci/terraform/ecs.tf
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  src/components/authorize/authorize-controller.ts
  src/components/authorize/tests/authorize-controller.test.ts
  src/components/prove-identity-welcome/prove-identity-welcome-controller.ts
  src/components/prove-identity-welcome/tests/prove-identity-welcome-controller.test.ts
  src/config.ts
Due: rain-fmt, eslint

AUT-3893: Remove prove-identity-welcome
  src/app.ts
  src/components/prove-identity-welcome/index-existing-session.njk
  src/components/prove-identity-welcome/index.njk
  src/components/prove-identity-welcome/prove-identity-welcome-controller.ts
  src/components/prove-identity-welcome/prove-identity-welcome-routes.ts
  src/components/prove-identity-welcome/tests/prove-identity-welcome-controller.test.ts
Due: eslint

AUT-3754: Make blocking code async
  @types/express/index.d.ts
  package.json
  src/app.ts
  src/middleware/set-local-vars-middleware.ts
  src/utils/strings.ts
  yarn.lock
Due: eslint

WIP: remove emails from referer header
  src/utils/logger.test.ts
  src/utils/logger.ts
Due: eslint

Revert "BAU: Bump jose from 5.9.6 to 5.10.0"
  yarn.lock
Due: none

AUT-4089: Preventing navigation to existing MFA reset journey for SMS
  src/components/common/state-machine/state-machine.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
Due: eslint

AUT-4089: Old MFA journey is still accessible during IPV connectivity phase
  src/components/common/state-machine/state-machine.ts
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
Due: eslint

AUT-4089: Preventing navigation to existing MFA reset journey for auth app
  src/components/common/state-machine/state-machine.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
Due: eslint

Path conditions:
  rain-fmt: any of: .*template.yaml$
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
