Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

Revert "Revert "BAU: Keep enterEmailMfaType for ZDD""
  src/components/common/state-machine/state-machine-executor.ts
  src/components/enter-email/enter-email-controller.ts
  src/types.ts
Due: eslint

Revert "BAU: State machine auto context"
  src/components/authorize/authorize-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/create-password/create-password-controller.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-controller.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-controller.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-controller.test.ts
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/updated-terms-conditions/updated-terms-conditions-controller.ts
  src/types.ts
Due: eslint

AUT-4710: Staging authExternalApiId & Auth Internal Api ID temporary switch for test (#2986)
  cloudformation/deploy/template.yaml
Due: none

Revert "AUT-4710: Staging authExternalApiId & Auth Internal Api ID temporary …"
  cloudformation/deploy/template.yaml
Due: none

BAU: Update playwright used in the snapshots container Dockerfile
  snapshots-playwright.Dockerfile
Due: none

AUT-4563: 400 when provided session ID invalid
  src/handlers/internal-server-error-handler.ts
  src/handlers/tests/internal-server-error-handler.test.ts
  src/utils/error.ts
Due: eslint

AUT-4646: Remove ShowWalletContactForm and SHOW_WALLET_CONTACT_FORM flag
  ci/terraform/authdev1.tfvars
  ci/terraform/authdev2.tfvars
  ci/terraform/build.tfvars
  ci/terraform/dev.tfvars
  ci/terraform/ecs.tf
  ci/terraform/integration.tfvars
  ci/terraform/sandpit.tfvars
  ci/terraform/staging.tfvars
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/structure/contact-us-structure.ts
  src/config.ts
Due: eslint

AUT-4711: build authExternalApiId & Auth Internal Api ID temporary switch for test
  cloudformation/deploy/template.yaml
Due: none

Revert "Revert "BAU: State machine auto context""
  src/components/authorize/authorize-controller.ts
  src/components/check-your-phone/check-your-phone-controller.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/state-machine/state-machine-executor.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/state-machine/tests/state-machine.test.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/create-password/create-password-controller.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/resend-email-code/resend-email-code-controller.ts
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-controller.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-controller.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-controller.test.ts
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/components/reset-password/reset-password-controller.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/setup-authenticator-app/setup-authenticator-app-controller.ts
  src/components/updated-terms-conditions/updated-terms-conditions-controller.ts
  src/types.ts
Due: eslint

BAU: AIS call for required password resets
  src/components/common/state-machine/state-machine.ts
  src/components/reset-password/reset-password-routes.ts
Due: eslint

BAU: Add log context to request log
  src/app.ts
  src/utils/logger.ts
Due: eslint

BAU: Use request log where available
  src/components/authorize/authorize-controller.ts
  src/components/check-your-email/check-your-email-controller.ts
  src/components/contact-us/contact-us-controller.ts
  src/components/contact-us/tests/contact-us-controller.test.ts
  src/components/contact-us/tests/contact-us-questions-controller.test.ts
  src/components/ipv-callback/ipv-callback-controller.ts
  src/components/templates/templates-controller.ts
  src/middleware/account-interventions-middleware.ts
  src/middleware/session-middleware.ts
  src/utils/http.ts
  src/utils/logger.ts
Due: eslint

BAU: Redact sensitive/long query params
  src/utils/logger.test.ts
  src/utils/logger.ts
Due: eslint

Aut 4711 build testing iteration 1 auth ext api and auth internal api (#2997)
  cloudformation/deploy/template.yaml
Due: none

Revert "Aut 4711 build testing iteration 1 auth ext api and auth internal api…"
  cloudformation/deploy/template.yaml
Due: none

Revert "Aut 4711 build testing iteration 1 auth ext api and auth internal api…" (#3001)
  cloudformation/deploy/template.yaml
Due: none

AUT-4742: Delete yarn lock file
  package-lock.json
  yarn.lock
Due: none

AUT-4742: Use npm run in package.json scripts
  README.md
  package.json
Due: check-package-json

AUT-4710: Staging authExternalApiId & Auth Internal Api ID temporary switch for perf test
  cloudformation/deploy/template.yaml
Due: none

AUT-4742: Block yarn usage
  .npmrc
  package.json
Due: check-package-json

AUT-4710: Staging authExternalApiId & Auth Internal Api ID temporary switch for perf test (#3003)
  cloudformation/deploy/template.yaml
Due: none

AUT-4742: Use npm in GHA workflows
  .github/workflows/analyse-on-merge.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pre-merge-checks.yml
  .pre-commit-config.yaml
Due: none

AUT-4742: Use npm in nodemon
  nodemon.json
Due: none

AUT-4742: Use npm for docker
  Dockerfile
  Dockerfile-stub
  dev.Dockerfile
  docker-compose.yml
  docker-entrypoint.sh
  local.Dockerfile
  snapshots-frontend.Dockerfile
  snapshots-playwright.Dockerfile
  startup.sh
Due: none

AUT-4742: Use npm in pre-commit
  pre-commit.sh
Due: none

AUT-4742: Remove yarn references in .gitignore
  .gitignore
Due: none

Revert "AUT-4710: Staging authExternalApiId & Auth Internal Api ID temporary …" (#3004)
  cloudformation/deploy/template.yaml
Due: none

BAU: Include original properties in error log
  src/app.ts
  src/utils/logger.ts
Due: eslint

Revert "Revert "Revert "BAU: Keep enterEmailMfaType for ZDD"""
  src/components/common/state-machine/state-machine-executor.ts
  src/components/enter-email/enter-email-controller.ts
  src/types.ts
Due: eslint

BAU: block package version changes
  .github/workflows/block-package-updates.yaml
Due: none

Revert "BAU: block package version changes"
  .github/workflows/block-package-updates.yaml
Due: none

BAU: Upgrade Axios to 1.12.2
  package.json
  yarn.lock
Due: check-package-json

BAU: npm install journey-map directory to pull new main project dependencies
  journey-map/package-lock.json
Due: none

AUT-4643: Set httpStatusCode on res.locals
  src/middleware/get-analytics-properties-middleware.ts
Due: eslint

AUT-4643: Use dynamic httpStatusCode from middleware statusCode
  src/components/ga4-opl/template.njk
Due: none

AUT-4643: Move contentId into res.locals
  src/middleware/get-analytics-properties-middleware.ts
Due: eslint

AUT-4643: Replace hard-coded status codes with enum
  src/components/templates/templates-controller.ts
  src/middleware/session-middleware.ts
Due: eslint
