Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

eslint:
  name: Run ESLint
  language: node
  entry: yarn run eslint --fix
  pass_filenames: true

tfupdate-lock:
  name: Update terraform provider locks
  pass_filenames: false
  language: golang
  additional_dependencies:
  - github.com/minamijoyo/tfupdate@v0.8.5
  entry: tfupdate lock
  args:
  - --platform
  - linux_amd64
  - --platform
  - linux_arm64
  - --platform
  - darwin_amd64
  - --platform
  - darwin_arm64
  - --platform
  ...

check-package-json:
  name: check-package-json
  entry: scripts/lint-package-json.sh
  language: system
  pass_filenames: false

ATO-1435: Use spread operator in authorize-service
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

ATO-1435: Pass new claims to auth backend.
  src/components/authorize/authorize-controller.ts
  src/components/authorize/authorize-service.ts
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/tests/test-data.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4269: Update template file to match new privacy statement schema
  src/components/common/footer/privacy-statement.njk
Due: none

AUT-1416: Inititate the How do you want security codes page
  src/app.constants.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-routes.ts
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-controller.test.ts
Due: eslint

AUT-1416: Remove `migrateMfaSessionStorageMiddleware`
  src/app.ts
  src/middleware/migrate-mfa-session-storage-middleware.ts
  test/unit/middleware/migrate-mfa-session-storage-middleware.test.ts
Due: eslint

AUT-1416: Update `MfaMethod` type
  src/types.ts
  src/utils/mfa.test.ts
  src/utils/mfa.ts
  test/helpers/mfa-helper.ts
Due: eslint

AUT-1416: Add blank contentId
  src/utils/contentId.ts
Due: eslint

AUT-1416: Add new page to app
  src/app.ts
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
Due: eslint

AUT-1416: Record `mfaMethods` in session after enter password
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
  src/components/enter-password/types.ts
Due: eslint

AUT-1416: Show correct link when issue with SMS MFA method
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/index-2fa-service-uplift-mobile-phone.njk
  src/components/enter-mfa/index.njk
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/helpers/mfa-helper.ts
Due: eslint

AUT-1416: Restrict access to the HOW_DO_YOU_WANT_SECURITY_CODES
  src/components/common/state-machine/state-machine.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-routes.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
Due: eslint

AUT-1416: Include MFA reset link
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-1416: Add radio options for SMS MFA methods
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/helpers/mfa-helper.ts
Due: eslint

AUT-1416: Add Continue button
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
Due: eslint

AUT-1416: Set page title
  src/components/how-do-you-want-security-codes/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-1416: Add validation to ensure MFA method is choosen
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-routes.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-validation.ts
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4269: Privacy Statement CY - Update content
  src/locales/cy/translation.json
Due: none

AUT-4269: Privacy Statement EN - Update content
  src/locales/en/translation.json
Due: none

AUT-1416: Sort presented MFA methods
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-validation.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
Due: eslint

BAU: Set minimum `formidable` dependency version
  package.json
  yarn.lock
Due: check-package-json

AUT-4233: Install device-intelligence
  package.json
  yarn.lock
Due: check-package-json

AUT-4233: Add device-intelligence.js to base template
  package.json
  src/components/common/layout/base.njk
Due: check-package-json

AUT-4233: Ignore logs from device-intelligence.js
  src/utils/logger.ts
Due: eslint

AUT-4233: Create device intelligence feature flag
  ci/terraform/ecs.tf
  ci/terraform/variables.tf
  cloudformation/deploy/template.yaml
  scripts/_create_env_file.py
  src/components/common/layout/base.njk
  src/config.ts
  src/middleware/set-local-vars-middleware.ts
Due: eslint

AUT-4299: Move 'account-created' to the 'account-creation' component package
  src/app.ts
  src/components/account-creation/account-created/account-created-controller.ts
  src/components/account-creation/account-created/account-created-routes.ts
  src/components/account-creation/account-created/index.njk
  src/components/account-creation/account-created/tests/account-created-controller.test.ts
Due: eslint

AUT-4299: Move 'create-password' to the 'account-creation' component package
  src/app.ts
  src/components/account-creation/create-password/create-password-controller.ts
  src/components/account-creation/create-password/create-password-routes.ts
  src/components/account-creation/create-password/create-password-service.ts
  src/components/account-creation/create-password/create-password-validation.ts
  src/components/account-creation/create-password/index.njk
  src/components/account-creation/create-password/tests/__snapshots__/create-password-integration.test.ts.snap
  src/components/account-creation/create-password/tests/create-password-controller.test.ts
  src/components/account-creation/create-password/tests/create-password-integration.test.ts
  src/components/account-creation/create-password/tests/create-password-service.test.ts
  src/components/account-creation/create-password/types.ts
Due: eslint

AUT-4299: Move 'check-your-email' to the 'account-creation' component package
  src/app.ts
  src/components/account-creation/check-your-email/check-your-email-controller.ts
  src/components/account-creation/check-your-email/check-your-email-routes.ts
  src/components/account-creation/check-your-email/check-your-email-validation.ts
  src/components/account-creation/check-your-email/index.njk
  src/components/account-creation/check-your-email/tests/__snapshots__/check-your-email-integration.test.ts.snap
  src/components/account-creation/check-your-email/tests/check-your-email-controller.test.ts
  src/components/account-creation/check-your-email/tests/check-your-email-integration.test.ts
Due: eslint

Revert "BAU: Bump the gha-all-dependencies group across 1 directory with 4 updates"
  .github/workflows/call_build-push-docker-image.yml
  .github/workflows/checkov.yml
  .github/workflows/pre-commit.yml
  .github/workflows/require-pinned-github-actions.yml
Due: none

AUT-4306: Set Target5XX10PercentAlarm as ECS canary rollback trigger
  cloudformation/deploy/template.yaml
Due: none

AUT-4269: privacy office email updates
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4008: Allow routing to "how do you want security codes" from auth app page
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4008: Add link from TOTP to request a different code
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-authenticator-app-code/index-2fa-service-uplift-auth-app.njk
  src/components/enter-authenticator-app-code/index.njk
Due: eslint

AUT-4008: Restructure existing MFA reset translations into object
  src/components/enter-authenticator-app-code/index-2fa-service-uplift-auth-app.njk
  src/components/enter-authenticator-app-code/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4008: Add translations to choose MFA method
  src/components/enter-authenticator-app-code/index.njk
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

AUT-4008: Test correct link is displayed to recover MFA
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  test/helpers/mfa-helper.ts
Due: eslint

BAU: fix intellij errors
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
Due: eslint

wip
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
  test/helpers/mfa-helper.ts
Due: eslint

AUT-4008: Add translations to choose MFA method
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: none

BAU: Fix state machine dev doc script
  package.json
Due: check-package-json

AUT-4246: Add auth app to how do you want security codes
  src/components/authorize/tests/__snapshots__/authorize-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  tfupdate-lock: any of: ^ci/terraform/site.tf$
  check-package-json: any of: ^package.json$
