Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-4248: Set activeMfaMethodId on session initialisation
  src/middleware/session-middleware.ts
  src/middleware/tests/session-middleware.test.ts
Due: eslint

Revert "Aut 4248/check your phone sms sms"
  src/components/common/mfa/mfa-service.ts
  src/components/common/mfa/send-mfa-controller.ts
  src/components/common/mfa/tests/mfa-service.test.ts
  src/components/common/mfa/tests/send-mfa-controller.test.ts
  src/components/common/mfa/types.ts
  src/components/common/state-machine/state-machine.ts
  src/components/common/verify-code/tests/verify-code-service.test.ts
  src/components/common/verify-code/types.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/common/verify-code/verify-code-service.ts
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-routes.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-controller.test.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  src/components/resend-mfa-code/resend-mfa-code-controller.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-controller.test.ts
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-controller.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-controller.test.ts
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-auth-app-2fa-integration.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-integration.test.ts
  src/types.ts
  src/utils/send-mfa-code-error-helper.ts
  test/unit/utils/send-mfa-code-error-helper.test.ts
  test/utils/test-utils.ts
Due: eslint

AUT-4298: remove the 'services you can use' link
  src/components/sign-in-or-create/index-generic-app.njk
Due: none

BAU: Correct `SELECT_SMS_MFA_METHOD` enum value
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4298: inline getChannelSpecificTemplate logic
  src/app.constants.ts
  src/components/account-not-found/get-account-not-found-template.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/utils/get-channel-specific-template.ts
  test/unit/utils/get-channel-specific-template.test.ts
Due: eslint

AUT-4298: rename file to give separation between strategic and generic app
  src/components/sign-in-or-create/index-strategic-app.njk
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/sign-in-or-create/tests/sign-in-or-create-controller.test.ts
Due: eslint

AUT-4298: create generic app landing page and add logic to display
  src/components/sign-in-or-create/index-generic-app.njk
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/sign-in-or-create/tests/sign-in-or-create-controller.test.ts
Due: eslint

AUT-4272: remove csurf
  package.json
  src/app.ts
  src/config/cookie.ts
  src/middleware/csrf-middleware.ts
  test/unit/middleware/csrf-middleware.test.ts
  yarn.lock
Due: eslint, check-package-json

AUT-4272: skip csrf missing integration tests
  src/components/account-creation/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/check-your-email/tests/check-your-email-integration.test.ts
  src/components/check-your-phone/tests/check-your-phone-integration.test.ts
  src/components/contact-us/tests/contact-us-controller-integration.test.ts
  src/components/create-password/tests/create-password-integration.test.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-integration.test.ts
  src/components/enter-email/tests/enter-email-create-account-integration.test.ts
  src/components/enter-email/tests/enter-email-integration.test.ts
  src/components/enter-mfa/tests/enter-mfa-integration.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  src/components/enter-phone-number/tests/enter-phone-number-integration.test.ts
  src/components/resend-email-code/tests/resend-email-code-integration.test.ts
  src/components/resend-mfa-code/tests/resend-mfa-code-integration.test.ts
  src/components/reset-password/tests/reset-password-integration.test.ts
  src/components/reset-password/tests/reset-password-required-integration.test.ts
  src/components/select-mfa-options/tests/select-mfa-options-integration.test.ts
  src/components/setup-authenticator-app/tests/setup-authenticator-app-integration.test.ts
  src/components/updated-terms-conditions/tests/updated-terms-conditions-integration.test.ts
  src/handlers/tests/csrf-missing-handler.test.ts
Due: eslint

AUT-4272: update integration snapshots
  src/components/account-creation/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/authorize/tests/__snapshots__/authorize-integration.test.ts.snap
  src/components/check-your-email/tests/__snapshots__/check-your-email-integration.test.ts.snap
  src/components/check-your-phone/tests/__snapshots__/check-your-phone-integration.test.ts.snap
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/create-password/tests/__snapshots__/create-password-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-create-account-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-integration.test.ts.snap
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-reauth-integration.test.ts.snap
  src/components/enter-phone-number/tests/__snapshots__/enter-phone-number-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/components/resend-email-code/tests/__snapshots__/resend-email-code-integration.test.ts.snap
  src/components/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-required-integration.test.ts.snap
  src/components/select-mfa-options/tests/__snapshots__/select-mfa-options-integration.test.ts.snap
  src/components/setup-authenticator-app/tests/__snapshots__/setup-authenticator-app-integration.test.ts.snap
  src/components/updated-terms-conditions/tests/__snapshots__/updated-terms-conditions-integration.test.ts.snap
Due: none

BAU: Set prettier print-width to 90
  .prettierrc
  package.json
Due: check-package-json

BAU: Add object wrap collapse
  .prettierrc
  package.json
Due: check-package-json

BAU: Add new config to check
  package.json
Due: check-package-json

AUT-4272: add csrf-sync package (pinned version)
  package.json
  yarn.lock
Due: check-package-json

AUT-4272: Add csrf protection on a session basis
  src/app.ts
  src/middleware/csrf-middleware.ts
  src/utils/csrf.ts
  test/unit/middleware/csrf-middleware.test.ts
Due: eslint

AUT-4272: skip csrf protection on all routes
  src/utils/csrf.ts
Due: eslint

AUT-4272: render error pages upon CSRF error
  src/app.constants.ts
  src/handlers/csrf-missing-handler.ts
  src/handlers/tests/csrf-missing-handler.test.ts
  test/helpers/mock-request-helper.ts
Due: eslint

AUT-4272: disable csurf validation
  src/app.ts
Due: eslint

AUT-4183: Allow redirects to password reset MFA entry pages
  src/components/common/state-machine/state-machine.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
Due: eslint

AUT-4183: Password reset SMS code page render correct number
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-controller.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-controller.test.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-integration.test.ts
Due: eslint

BAU: add type to res.local
  src/express/types.d.ts
Due: eslint

ATO-1675: pass cookie_consent_shared claim to backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4391: Adding new authdev3 env
  cloudformation/deploy/template.yaml
  cloudformation/domains/template.yaml
Due: none

BAU: changing vcpu ecs task to 1cpu in staging for perf testing
  cloudformation/deploy/template.yaml
Due: none

AUT-4391: Adding authdev3 config to template
  cloudformation/deploy/template.yaml
Due: none

AUT-4272: render error pages upon CSRF error
  src/app.constants.ts
  src/handlers/csrf-missing-handler.ts
  src/handlers/internal-server-error-handler.ts
  src/handlers/tests/csrf-missing-handler.test.ts
  src/middleware/catch-csrf-sync-error-middleware.ts
  test/helpers/mock-request-helper.ts
Due: eslint

AUT-4272: Add csrf-sync package
  package.json
  yarn.lock
Due: check-package-json

AUT-4272: Use csrf-sync as the primary CSRF validation method with csurf as fallback
  package.json
  src/app.ts
  src/middleware/catch-csrf-sync-error-middleware.ts
  src/middleware/csrf-middleware.ts
  src/utils/csrf.ts
  src/utils/tests/__snapshots__/csrf-integration.test.ts.snap
  src/utils/tests/csrf-integration.test.ts
  test/unit/middleware/csrf-middleware.test.ts
  yarn.lock
Due: eslint, check-package-json

AUT-4272: update csrf snapshots now "internal server error" page is rendered
  src/components/account-creation/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/authorize/tests/__snapshots__/authorize-integration.test.ts.snap
  src/components/check-your-email/tests/__snapshots__/check-your-email-integration.test.ts.snap
  src/components/check-your-phone/tests/__snapshots__/check-your-phone-integration.test.ts.snap
  src/components/contact-us/tests/__snapshots__/contact-us-controller-integration.test.ts.snap
  src/components/create-password/tests/__snapshots__/create-password-integration.test.ts.snap
  src/components/enter-authenticator-app-code/tests/__snapshots__/enter-authenticator-app-code-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-create-account-integration.test.ts.snap
  src/components/enter-email/tests/__snapshots__/enter-email-integration.test.ts.snap
  src/components/enter-mfa/tests/__snapshots__/enter-mfa-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-integration.test.ts.snap
  src/components/enter-password/tests/__snapshots__/enter-password-reauth-integration.test.ts.snap
  src/components/enter-phone-number/tests/__snapshots__/enter-phone-number-integration.test.ts.snap
  src/components/how-do-you-want-security-codes/tests/__snapshots__/how-do-you-want-security-codes-integration.test.ts.snap
  src/components/resend-email-code/tests/__snapshots__/resend-email-code-integration.test.ts.snap
  src/components/resend-mfa-code/tests/__snapshots__/resend-mfa-code-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-integration.test.ts.snap
  src/components/reset-password/tests/__snapshots__/reset-password-required-integration.test.ts.snap
  src/components/select-mfa-options/tests/__snapshots__/select-mfa-options-integration.test.ts.snap
  src/components/setup-authenticator-app/tests/__snapshots__/setup-authenticator-app-integration.test.ts.snap
  src/components/updated-terms-conditions/tests/__snapshots__/updated-terms-conditions-integration.test.ts.snap
  src/utils/tests/__snapshots__/csrf-integration.test.ts.snap
Due: none

AUT-4199: Add 'try another way' option to uplift template
  src/components/enter-mfa/index-2fa-service-uplift-mobile-phone.njk
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
Due: eslint

ATO-1680: Add is_smoke_test claim to required claims
  src/components/authorize/claims-config.ts
  src/components/authorize/tests/test-data.ts
Due: eslint

ATO-1680: Pass is_smoke_test claim to auth backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

ATO-1677: pass is_one_login_service claim to backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint
