Repository govuk-one-login/authentication-frontend: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tfupdate-lock, check-package-json

.pre-commit-config.yaml:

default_language_version:
  node: 20.17.0
  golang: 1.23.6
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: mixed-line-ending
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/aws-cloudformation/cfn-lint
    rev: v1.21.0
    hooks:
      - id: cfn-lint
        exclude: ^(ci|.github)/.*|docker-compose.*|.pre-commit-config.yaml$
        files: template\.ya?ml$

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.96.2
    hooks:
      - id: terraform_fmt

  - repo: local
    hooks:
      - id: tflint
        name: Run tflint (terraform linter)
        files: ^ci/terraform/
        require_serial: true
        types_or:
          - hcl
          - terraform
        language: golang
        additional_dependencies:
          - github.com/terraform-linters/tflint@v0.55.0
        entry: scripts/tflint.py
        args:
          - --minimum-failure-severity=warning
          - --fix

  - repo: local
    hooks:
      - id: eslint
        name: Run ESLint
        language: node
        types_or:
          - javascript
          - ts
        entry: yarn run eslint --fix
        pass_filenames: true
      - id: prettier
        name: Run prettier
        language: node
        types: [text]
        stages: [pre-commit]
        entry: yarn run prettier --write --ignore-unknown
        pass_filenames: true
      - id: tfupdate-lock
        name: Update terraform provider locks
        files: ^ci/terraform/site.tf$
        pass_filenames: false
        types:
          - file
        language: golang
        additional_dependencies:
          - github.com/minamijoyo/tfupdate@v0.8.5
        entry: tfupdate lock
        args:
          - --platform
          - linux_amd64
          - --platform
          - linux_arm64
          - --platform
          - darwin_amd64
          - --platform
          - darwin_arm64
          - --platform
          - windows_amd64
          - -r
          - ci/terraform

  - repo: https://github.com/lalten/check-gha-pinning
    rev: v1.3.0
    hooks:
      - id: check-gha-pinning

  - repo: local
    hooks:
      - id: check-package-json
        name: check-package-json
        entry: scripts/lint-package-json.sh
        files: ^package.json$
        types:
          - file
        language: system
        pass_filenames: false

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.4
    hooks:
      - id: actionlint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format

AUT-4339: Extract isAccountRecoveryPermitted function
  src/components/common/account-recovery/account-recovery-helper.ts
  src/components/common/account-recovery/tests/account-recovery-helper.test.ts
  src/components/enter-authenticator-app-code/enter-authenticator-app-code-controller.ts
  src/components/enter-authenticator-app-code/tests/enter-authenticator-app-code-controller.test.ts
Due: eslint

AUT-4339: SMS - Persist template options across POST errors
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/enter-mfa-validation.ts
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
Due: eslint

AUT-4297: Add mobile channel
  src/app.constants.ts
  src/components/account-not-found/account-not-found-controller.ts
  src/components/account-not-found/get-account-not-found-template.ts
  src/components/account-not-found/tests/account-not-found-controller.test.ts
  src/components/account-not-found/tests/get-account-not-found-template.test.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/sign-in-or-create/tests/sign-in-or-create-controller.test.ts
  src/config.ts
  src/middleware/channel-middleware.ts
  src/middleware/tests/channel-middleware.test.ts
  src/utils/get-channel-specific-template.ts
  test/unit/utils/get-channel-specific-template.test.ts
Due: eslint

AUT-4297: Add mobile channel to base.njk
  src/components/common/layout/base.njk
  src/components/common/layout/tests/base-integration.test.ts
Due: eslint

AUT-4297: Add mobile channel to enter email
  src/components/enter-email/enter-email-controller.ts
  src/components/enter-email/index-create-account.njk
  src/components/enter-email/index-re-enter-email-account.njk
  src/components/enter-email/tests/enter-email-controller.test.ts
  src/components/enter-password/index-account-locked.njk
Due: eslint

AUT-4297: Add mobile to account created controller
  src/components/account-created/account-created-controller.ts
  src/components/account-created/index.njk
  src/components/account-created/tests/account-created-controller.test.ts
Due: eslint

AUT-4297: Add mobile channel to mfa-reset-with-ipv
  src/components/mfa-reset-with-ipv/mfa-reset-with-ipv-controller.ts
  src/components/mfa-reset-with-ipv/tests/mfa-reset-with-ipv-controller.test.ts
  src/components/mfa-reset-with-ipv/tests/mfa-reset-with-ipv-integration.test.ts
Due: eslint

AUT-4297: Add mobile to security code error
  src/components/security-code-error/index-too-many-requests.njk
  src/components/security-code-error/security-code-error-controller.ts
  src/components/security-code-error/tests/security-code-error-controller.test.ts
Due: eslint

AUT-4297: add mobile channel
  src/components/common/errors/session-expired.njk
  src/handlers/internal-server-error-handler.ts
  test/unit/error-handler.test.ts
Due: eslint

AUT-4297: Change names to reflect new app grouping
  src/utils/get-channel-specific-error-message.ts
  test/unit/utils/get-channel-specific-error-message.test.ts
Due: eslint

AUT-4297: Add mobile channel to index-sign-in-retry-blocked
  src/components/enter-password/index-sign-in-retry-blocked.njk
Due: none

BAU: Fix imports for test file
  src/handlers/tests/internal-server-error-handler.test.ts
Due: eslint

AUT-4297: Change security-code-error templates to ref isApp
  src/components/security-code-error/index-security-code-entered-exceeded.njk
  src/components/security-code-error/index-wait.njk
  src/components/security-code-error/index.njk
Due: none

AUT-4272: Add csurf-sync package
  package.json
  yarn.lock
Due: check-package-json

AUT-4272: Migrate to use csrf-sync (new token per request)
  src/app.ts
  src/middleware/csrf-middleware.ts
  src/utils/csrf.ts
  src/utils/tests/__snapshots__/csrf-integration.test.ts.snap
  src/utils/tests/csrf-integration.test.ts
  test/unit/middleware/csrf-middleware.test.ts
Due: eslint

AUT-4272: Remove csurf package and types
  package.json
  yarn.lock
Due: check-package-json

AUT-4272: Switch to use a single csrf token per session
  src/middleware/csrf-middleware.ts
  src/utils/tests/csrf-integration.test.ts
  test/unit/middleware/csrf-middleware.test.ts
Due: eslint

AUT-4272: Remove redundant cookie options
  src/config/cookie.ts
Due: eslint

ATO-1669: Pass client_name claim to backend
  src/components/authorize/authorize-service.ts
  src/components/authorize/tests/authorize-service.test.ts
  src/components/authorize/types.ts
Due: eslint

AUT-4284: Add feature flag to redirect to new privacy notice
  cloudformation/deploy/template.yaml
  src/components/common/footer/footer-pages-controller.ts
  src/components/common/footer/tests/footer-pages.integration.test.ts
  src/config.ts
Due: eslint

AUT-4375: Change device intelligence cookie domain to production URL
  src/components/common/layout/base.njk
Due: none

Revert "AUT-4272: migrate from csurf to csrf-sync"
  package.json
  src/app.ts
  src/config/cookie.ts
  src/middleware/csrf-middleware.ts
  src/utils/csrf.ts
  src/utils/tests/__snapshots__/csrf-integration.test.ts.snap
  src/utils/tests/csrf-integration.test.ts
  test/unit/middleware/csrf-middleware.test.ts
  yarn.lock
Due: eslint, check-package-json

AUT-4248: Implement howDoYouWantSecurityCodesPost for SMS user
  src/components/common/state-machine/state-machine.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-controller.test.ts
  src/types.ts
Due: eslint

AUT-4248: Assign defaultMfaMethodId at user log in
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
  src/components/enter-password/tests/enter-password-integration.test.ts
  src/components/enter-password/tests/enter-password-reauth-integration.test.ts
  test/utils/test-utils.ts
Due: eslint

AUT-4248: get defaultMfaMethodId in enter-mfa-controller
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
Due: eslint

AUT-4248: Send defaultMfaMethodId to VerifyCodeHandler on BE
  src/components/common/verify-code/tests/verify-code-service.test.ts
  src/components/common/verify-code/types.ts
  src/components/common/verify-code/verify-code-controller.ts
  src/components/common/verify-code/verify-code-service.ts
  src/components/enter-mfa/tests/enter-mfa-controller.test.ts
Due: eslint

AUT-4248: Send mfa method ID when requesting MFA
  src/components/common/mfa/mfa-service.ts
  src/components/common/mfa/tests/mfa-service.test.ts
  src/components/common/mfa/types.ts
  src/components/enter-mfa/enter-mfa-controller.ts
  src/components/enter-password/enter-password-controller.ts
  src/components/enter-password/tests/enter-password-controller.test.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-routes.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-controller.test.ts
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-integration.test.ts
  test/utils/test-utils.ts
Due: eslint

AUT-4256: SMS - Add "choose MFA method" text if multiple MFA methods on account
  src/components/common/state-machine/state-machine.ts
  src/components/reset-password-2fa-sms/index.njk
  src/components/reset-password-2fa-sms/reset-password-2fa-sms-controller.ts
  src/components/reset-password-2fa-sms/tests/reset-password-2fa-sms-controller.test.ts
  src/locales/cy/translation.json
  src/locales/en/translation.json
Due: eslint

AUT-4256: add flag to hide MFA reset details on password reset journeys
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-controller.ts
  src/components/how-do-you-want-security-codes/how-do-you-want-security-codes-validation.ts
  src/components/how-do-you-want-security-codes/index.njk
  src/components/how-do-you-want-security-codes/tests/how-do-you-want-security-codes-controller.test.ts
Due: eslint

AUT-4256: TOTP - Add "choose MFA method" text if multiple MFA methods on account
  src/components/common/state-machine/state-machine.ts
  src/components/reset-password-2fa-auth-app/index.njk
  src/components/reset-password-2fa-auth-app/reset-password-2fa-auth-app-controller.ts
  src/components/reset-password-2fa-auth-app/tests/reset-password-2fa-auth-app-controller.test.ts
Due: eslint

AUT-4256: Set mfaMethod on session at reset password check stage
  src/components/reset-password-check-email/reset-password-check-email-controller.ts
  src/components/reset-password-check-email/tests/reset-password-check-email-controller.test.ts
  src/components/reset-password-check-email/types.ts
Due: eslint

AUT-4249: Allow state transition to auth app screen from picking mfa method
  src/components/common/state-machine/state-machine.ts
Due: eslint

AUT-4249: Make styling consistent on auth_app code screen
  src/components/enter-authenticator-app-code/index.njk
Due: none

AUT-4297: Add generic_app channel
  src/app.constants.ts
  src/components/account-not-found/account-not-found-controller.ts
  src/components/account-not-found/get-account-not-found-template.ts
  src/components/account-not-found/tests/account-not-found-controller.test.ts
  src/components/account-not-found/tests/get-account-not-found-template.test.ts
  src/components/sign-in-or-create/sign-in-or-create-controller.ts
  src/components/sign-in-or-create/tests/sign-in-or-create-controller.test.ts
  src/config.ts
  src/middleware/channel-middleware.ts
  src/middleware/tests/channel-middleware.test.ts
  src/utils/get-channel-specific-template.ts
  test/unit/utils/get-channel-specific-template.test.ts
Due: eslint

AUT-4297: Add generic_app channel to base.njk
  src/components/common/layout/base.njk
  src/components/common/layout/tests/base-integration.test.ts
Due: eslint
